JDEV10G/ErrorHandlingPOC1/ICoE_FaultGenerator/bpel/ICoE_FaultGenerator.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://services.emerson.com/ICoE_FaultGenerator"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ICoE_FaultGeneratorProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ICoE_FaultGeneratorProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>