JDEV10G/VDSTv1/VDST_BPEL_IntimateDrawing/bpel/VDST_BPEL_IntimateDrawing.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://schema.emerson.com/VDST_BPEL_IntimateDrawing"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="VDST_BPEL_IntimateDrawingProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="VDST_BPEL_IntimateDrawingProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>