JDEV10G/Dhami1/FaultPolicies/bpel/FaultPolicies.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/FaultPolicies"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="FaultPoliciesProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="FaultPoliciesProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>