JDEV11G/ErrorHandling/AIAB2BErrorHandlerInterfaceApp/AIAB2BErrorHandlerInterface/xsd/ReadOracleB2BErrorDetails_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadOracleB2BErrorDetails" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ReadOracleB2BErrorDetails" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="B2BBusinessMessageCollection" type="B2BBusinessMessageCollection"/>
   <xs:complexType name="B2BBusinessMessageCollection">
      <xs:sequence>
         <xs:element name="B2BBusinessMessage" type="B2BBusinessMessage" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="B2BBusinessMessage">
      <xs:sequence>
         <xs:element name="messageId" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referToMessageId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="senderIdType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="senderIdValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiverIdType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiverIdValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="senderName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiverName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tpaId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tpaName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="doctypeName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docProtocolName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docProtocolVersion" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="documentDefinition" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="messageType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="direction" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="ackMode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ackType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="timeToAck" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="responseMode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="contentType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payloadName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="created" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="modified" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="sendTimestamp" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="receiveTimestamp" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="docRetryInterval" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="docAttemptCount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="docRemainingRetry" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nativeMsgSize" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="translatedMsgSize" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathName1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathValue1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathExpression1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathName2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathValue2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathExpression2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathName3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathValue3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="xpathExpression3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationFromXpathName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationFromXpathXpr" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationFromXpathValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationToXpathName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationToXpathXpr" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1024"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="correlationToXpathValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="resubmitCount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="extBusinessMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="wireMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payloadStorage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attachmentStorage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="nativeDataStorage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="translatedDataStorage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="appMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="label" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jobId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="128"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="id">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="256"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ReadOracleB2BErrorDetailsSelect_B2B_MSGIDInputParameters" type="ReadOracleB2BErrorDetailsSelect_MESSAGE_ID"/>
   <xs:complexType name="ReadOracleB2BErrorDetailsSelect_MESSAGE_ID">
      <xs:sequence>
         <xs:element name="B2B_MSGID" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
