JDEV11G/Dhami-SOA/Project1/ETH_GLB_OAP_Betsy.wsdl

<?binding.jca ETH_GLB_OAP_Betsy_apps.jca?>
<wsdl:definitions name="ETH_GLB_OAP_Betsy" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/apps/Dhami-SOA/Project1/ETH_GLB_OAP_Betsy" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/apps/Dhami-SOA/Project1/ETH_GLB_OAP_Betsy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" xmlns:imp1="http://TargetNamespace.com/ETH_GLB_OAP_Betsy" xmlns:ph="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="Dequeue_plt">
        <plt:role name="Dequeue_role">
            <plt:portType name="tns:Dequeue_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="HeaderCType">
                <sequence>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="Header" type="ph:HeaderCType"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://TargetNamespace.com/ETH_GLB_OAP_Betsy" schemaLocation="xsd/PROCESS_PO_007.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PROCESS_PO_007_msg">
        <wsdl:part name="PROCESS_PO_007" element="imp1:PROCESS_PO_007"/>
    </wsdl:message>
    <wsdl:message name="Header_msg">
        <wsdl:part name="Header" element="ph:Header"/>
    </wsdl:message>
    <wsdl:portType name="Dequeue_ptt">
        <wsdl:operation name="Dequeue">
            <wsdl:input message="tns:PROCESS_PO_007_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
