JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ConfirmWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ConfirmWIP.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateConfirmWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeConfirmWIP">
                <part name="Message" element="oa:AcknowledgeConfirmWIP"/>
        </message>
        <message name="ChangeConfirmWIP">
                <part name="Message" element="oa:ChangeConfirmWIP"/>
        </message>
        <message name="GetConfirmWIP">
                <part name="Message" element="oa:GetConfirmWIP"/>
        </message>
        <message name="ProcessConfirmWIP">
                <part name="Message" element="oa:ProcessConfirmWIP"/>
        </message>
        <message name="RespondConfirmWIP">
                <part name="Message" element="oa:RespondConfirmWIP"/>
        </message>
        <message name="ShowConfirmWIP">
                <part name="Message" element="oa:ShowConfirmWIP"/>
        </message>
        <message name="UpdateConfirmWIP">
                <part name="Message" element="oa:UpdateConfirmWIP"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestConfirmWIPPortType">
                <operation name="GetConfirmWIP">
                        <input message="oaws:GetConfirmWIP"/>
                </operation>
                <operation name="UpdateConfirmWIP">
                        <input message="oaws:UpdateConfirmWIP"/>
                </operation>
                <operation name="ProcessConfirmWIP">
                        <input message="oaws:ProcessConfirmWIP"/>
                </operation>
                <operation name="ChangeConfirmWIP">
                        <input message="oaws:ChangeConfirmWIP"/>
                </operation>
        </portType>
        <portType name="ResponseConfirmWIPPortType">
                <operation name="ShowConfirmWIP">
                        <input message="oaws:ShowConfirmWIP"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="AcknowledgeConfirmWIP">
                        <input message="oaws:AcknowledgeConfirmWIP"/>
                </operation>
                <operation name="RespondConfirmWIP">
                        <input message="oaws:RespondConfirmWIP"/>
                </operation>
        </portType>
        <portType name="SyncConfirmWIPPortType">
                <operation name="GetConfirmWIP">
                        <input message="oaws:GetConfirmWIP"/>
                        <output message="oaws:ShowConfirmWIP"/>
                </operation>
                <operation name="UpdateConfirmWIP">
                        <input message="oaws:UpdateConfirmWIP"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="ProcessConfirmWIP">
                        <input message="oaws:ProcessConfirmWIP"/>
                        <output message="oaws:AcknowledgeConfirmWIP"/>
                </operation>
                <operation name="ChangeConfirmWIP">
                        <input message="oaws:ChangeConfirmWIP"/>
                        <output message="oaws:RespondConfirmWIP"/>
                </operation>
        </portType>
        <binding name="RequestConfirmWIPBinding" type="oaws:RequestConfirmWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseConfirmWIPBinding" type="oaws:ResponseConfirmWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncConfirmWIPBinding" type="oaws:SyncConfirmWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeConfirmWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ConfirmWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestConfirmWIPService">
                <port name="RequestConfirmWIPBinding" binding="oaws:RequestConfirmWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestConfirmWIP"/>
                </port>
        </service>
        <service name="ResponseConfirmWIPService">
                <port name="ResponseConfirmWIPBinding" binding="oaws:ResponseConfirmWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseConfirmWIP"/>
                </port>
        </service>
        <service name="SyncConfirmWIPService">
                <port name="SyncConfirmWIPBinding" binding="oaws:SyncConfirmWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncConfirmWIP"/>
                </port>
        </service>
</definitions>
