JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/CreditTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/CreditTransfer.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessCreditTransfer.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeCreditTransfer.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetCreditTransfer.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCreditTransfer.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessCreditTransfer">
                <part name="Message" element="oa:ProcessCreditTransfer"/>
        </message>
        <message name="AcknowledgeCreditTransfer">
                <part name="Message" element="oa:AcknowledgeCreditTransfer"/>
        </message>
        <message name="GetCreditTransfer">
                <part name="Message" element="oa:GetCreditTransfer"/>
        </message>
        <message name="ShowCreditTransfer">
                <part name="Message" element="oa:ShowCreditTransfer"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCreditTransferPortType">
                <operation name="GetCreditTransfer">
                        <input message="oaws:GetCreditTransfer"/>
                </operation>
                <operation name="ProcessCreditTransfer">
                        <input message="oaws:ProcessCreditTransfer"/>
                </operation>
        </portType>
        <portType name="ResponseCreditTransferPortType">
                <operation name="AcknowledgeCreditTransfer">
                        <input message="oaws:AcknowledgeCreditTransfer"/>
                </operation>
                <operation name="ShowCreditTransfer">
                        <input message="oaws:ShowCreditTransfer"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncCreditTransferPortType">
                <operation name="GetCreditTransfer">
                        <input message="oaws:GetCreditTransfer"/>
                        <output message="oaws:ShowCreditTransfer"/>
                </operation>
                <operation name="ProcessCreditTransfer">
                        <input message="oaws:ProcessCreditTransfer"/>
                        <output message="oaws:AcknowledgeCreditTransfer"/>
                </operation>
        </portType>
        <binding name="RequestCreditTransferBinding" type="oaws:RequestCreditTransferPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCreditTransferBinding" type="oaws:ResponseCreditTransferPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCreditTransferBinding" type="oaws:SyncCreditTransferPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessCreditTransfer">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditTransfer.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCreditTransferService">
                <port name="RequestCreditTransferBinding" binding="oaws:RequestCreditTransferBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCreditTransfer"/>
                </port>
        </service>
        <service name="ResponseCreditTransferService">
                <port name="ResponseCreditTransferBinding" binding="oaws:ResponseCreditTransferBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCreditTransfer"/>
                </port>
        </service>
        <service name="SyncCreditTransferService">
                <port name="SyncCreditTransferBinding" binding="oaws:SyncCreditTransferBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCreditTransfer"/>
                </port>
        </service>
</definitions>
