JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/DeditTransferIST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/DeditTransferIST.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessDebitTransferIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeDebitTransferIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetDebitTransferIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowDebitTransferIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessDebitTransferIST">
                <part name="Message" element="oa:ProcessDebitTransferIST"/>
        </message>
        <message name="AcknowledgeDebitTransferIST">
                <part name="Message" element="oa:AcknowledgeDebitTransferIST"/>
        </message>
        <message name="GetDebitTransferIST">
                <part name="Message" element="oa:GetDebitTransferIST"/>
        </message>
        <message name="ShowDebitTransferIST">
                <part name="Message" element="oa:ShowDebitTransferIST"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestDebitTransferISTPortType">
                <operation name="GetDebitTransferIST">
                        <input message="oaws:GetDebitTransferIST"/>
                </operation>
                <operation name="ProcessDebitTransferIST">
                        <input message="oaws:ProcessDebitTransferIST"/>
                </operation>
        </portType>
        <portType name="ResponseDebitTransferISTPortType">
                <operation name="AcknowledgeDebitTransferIST">
                        <input message="oaws:AcknowledgeDebitTransferIST"/>
                </operation>
                <operation name="ShowDebitTransferIST">
                        <input message="oaws:ShowDebitTransferIST"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncDebitTransferISTPortType">
                <operation name="GetDebitTransferIST">
                        <input message="oaws:GetDebitTransferIST"/>
                        <output message="oaws:ShowDebitTransferIST"/>
                </operation>
                <operation name="ProcessDebitTransferIST">
                        <input message="oaws:ProcessDebitTransferIST"/>
                        <output message="oaws:AcknowledgeDebitTransferIST"/>
                </operation>
        </portType>
        <binding name="RequestDebitTransferISTBinding" type="oaws:RequestDebitTransferISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseDebitTransferISTBinding" type="oaws:ResponseDebitTransferISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncDebitTransferISTBinding" type="oaws:SyncDebitTransferISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessDebitTransferIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DebitTransferIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestDebitTransferISTService">
                <port name="RequestDebitTransferISTBinding" binding="oaws:RequestDebitTransferISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestDebitTransferIST"/>
                </port>
        </service>
        <service name="ResponseDebitTransferISTService">
                <port name="ResponseDebitTransferISTBinding" binding="oaws:ResponseDebitTransferISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseDebitTransferIST"/>
                </port>
        </service>
        <service name="SyncDebitTransferISTService">
                <port name="SyncDebitTransferISTBinding" binding="oaws:SyncDebitTransferISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncDebitTransferIST"/>
                </port>
        </service>
</definitions>
