JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/EmployeeWorkTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/EmployeeWorkTime.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateEmployeeWorkTime.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeEmployeeWorkTime">
                <part name="Message" element="oa:AcknowledgeEmployeeWorkTime"/>
        </message>
        <message name="CancelEmployeeWorkTime">
                <part name="Message" element="oa:CancelEmployeeWorkTime"/>
        </message>
        <message name="ChangeEmployeeWorkTime">
                <part name="Message" element="oa:ChangeEmployeeWorkTime"/>
        </message>
        <message name="GetEmployeeWorkTime">
                <part name="Message" element="oa:GetEmployeeWorkTime"/>
        </message>
        <message name="ProcessEmployeeWorkTime">
                <part name="Message" element="oa:ProcessEmployeeWorkTime"/>
        </message>
        <message name="RespondEmployeeWorkTime">
                <part name="Message" element="oa:RespondEmployeeWorkTime"/>
        </message>
        <message name="ShowEmployeeWorkTime">
                <part name="Message" element="oa:ShowEmployeeWorkTime"/>
        </message>
        <message name="SyncEmployeeWorkTime">
                <part name="Message" element="oa:SyncEmployeeWorkTime"/>
        </message>
        <message name="NotifyEmployeeWorkTime">
                <part name="Message" element="oa:NotifyEmployeeWorkTime"/>
        </message>
        <message name="UpdateEmployeeWorkTime">
                <part name="Message" element="oa:UpdateEmployeeWorkTime"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestEmployeeWorkTimePortType">
                <operation name="CancelEmployeeWorkTime">
                        <input message="oaws:CancelEmployeeWorkTime"/>
                </operation>
                <operation name="ChangeEmployeeWorkTime">
                        <input message="oaws:ChangeEmployeeWorkTime"/>
                </operation>
                <operation name="ProcessEmployeeWorkTime">
                        <input message="oaws:ProcessEmployeeWorkTime"/>
                </operation>
                <operation name="GetEmployeeWorkTime">
                        <input message="oaws:GetEmployeeWorkTime"/>
                </operation>
                <operation name="SyncEmployeeWorkTime">
                        <input message="oaws:SyncEmployeeWorkTime"/>
                </operation>
                <operation name="UpdateEmployeeWorkTime">
                        <input message="oaws:UpdateEmployeeWorkTime"/>
                </operation>
                <operation name="NotifyEmployeeWorkTime">
                        <input message="oaws:NotifyEmployeeWorkTime"/>
                </operation>
        </portType>
        <portType name="ResponseEmployeeWorkTimePortType">
                <operation name="AcknowledgeEmployeeWorkTime">
                        <input message="oaws:AcknowledgeEmployeeWorkTime"/>
                </operation>
                <operation name="RespondEmployeeWorkTime">
                        <input message="oaws:RespondEmployeeWorkTime"/>
                </operation>
                <operation name="ShowEmployeeWorkTime">
                        <input message="oaws:ShowEmployeeWorkTime"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncEmployeeWorkTimePortType">
                <operation name="ProcessEmployeeWorkTime">
                        <input message="oaws:ProcessEmployeeWorkTime"/>
                        <output message="oaws:AcknowledgeEmployeeWorkTime"/>
                </operation>
                <operation name="ChangeEmployeeWorkTime">
                        <input message="oaws:ChangeEmployeeWorkTime"/>
                        <output message="oaws:RespondEmployeeWorkTime"/>
                </operation>
                <operation name="CancelEmployeeWorkTime">
                        <input message="oaws:CancelEmployeeWorkTime"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetEmployeeWorkTime">
                        <input message="oaws:GetEmployeeWorkTime"/>
                        <output message="oaws:ShowEmployeeWorkTime"/>
                </operation>
                <operation name="SyncEmployeeWorkTime">
                        <input message="oaws:SyncEmployeeWorkTime"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateEmployeeWorkTime">
                        <input message="oaws:UpdateEmployeeWorkTime"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyEmployeeWorkTime">
                        <input message="oaws:NotifyEmployeeWorkTime"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestEmployeeWorkTimeBinding" type="oaws:RequestEmployeeWorkTimePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="CancelEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseEmployeeWorkTimeBinding" type="oaws:ResponseEmployeeWorkTimePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncEmployeeWorkTimeBinding" type="oaws:SyncEmployeeWorkTimePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyEmployeeWorkTime">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkTime.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestEmployeeWorkTimeService">
                <port name="RequestEmployeeWorkTimeBinding" binding="oaws:RequestEmployeeWorkTimeBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestEmployeeWorkTime"/>
                </port>
        </service>
        <service name="ResponseEmployeeWorkTimeService">
                <port name="ResponseEmployeeWorkTimeBinding" binding="oaws:ResponseEmployeeWorkTimeBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseEmployeeWorkTime"/>
                </port>
        </service>
        <service name="SyncEmployeeWorkTimeService">
                <port name="SyncEmployeeWorkTimeBinding" binding="oaws:SyncEmployeeWorkTimeBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncEmployeeWorkTime"/>
                </port>
        </service>
</definitions>
