JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Invoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Invoice.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateInvoice.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeInvoice">
                <part name="Message" element="oa:AcknowledgeInvoice"/>
        </message>
        <message name="CancelInvoice">
                <part name="Message" element="oa:CancelInvoice"/>
        </message>
        <message name="ChangeInvoice">
                <part name="Message" element="oa:ChangeInvoice"/>
        </message>
        <message name="GetInvoice">
                <part name="Message" element="oa:GetInvoice"/>
        </message>
        <message name="ProcessInvoice">
                <part name="Message" element="oa:ProcessInvoice"/>
        </message>
        <message name="RespondInvoice">
                <part name="Message" element="oa:RespondInvoice"/>
        </message>
        <message name="ShowInvoice">
                <part name="Message" element="oa:ShowInvoice"/>
        </message>
        <message name="SyncInvoice">
                <part name="Message" element="oa:SyncInvoice"/>
        </message>
        <message name="NotifyInvoice">
                <part name="Message" element="oa:NotifyInvoice"/>
        </message>
        <message name="UpdateInvoice">
                <part name="Message" element="oa:UpdateInvoice"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestInvoicePortType">
                <operation name="CancelInvoice">
                        <input message="oaws:CancelInvoice"/>
                </operation>
                <operation name="ChangeInvoice">
                        <input message="oaws:ChangeInvoice"/>
                </operation>
                <operation name="ProcessInvoice">
                        <input message="oaws:ProcessInvoice"/>
                </operation>
                <operation name="GetInvoice">
                        <input message="oaws:GetInvoice"/>
                </operation>
                <operation name="SyncInvoice">
                        <input message="oaws:SyncInvoice"/>
                </operation>
                <operation name="UpdateInvoice">
                        <input message="oaws:UpdateInvoice"/>
                </operation>
                <operation name="NotifyInvoice">
                        <input message="oaws:NotifyInvoice"/>
                </operation>
        </portType>
        <portType name="ResponseInvoicePortType">
                <operation name="AcknowledgeInvoice">
                        <input message="oaws:AcknowledgeInvoice"/>
                </operation>
                <operation name="RespondInvoice">
                        <input message="oaws:RespondInvoice"/>
                </operation>
                <operation name="ShowInvoice">
                        <input message="oaws:ShowInvoice"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncInvoicePortType">
                <operation name="ProcessInvoice">
                        <input message="oaws:ProcessInvoice"/>
                        <output message="oaws:AcknowledgeInvoice"/>
                </operation>
                <operation name="ChangeInvoice">
                        <input message="oaws:ChangeInvoice"/>
                        <output message="oaws:RespondInvoice"/>
                </operation>
                <operation name="CancelInvoice">
                        <input message="oaws:CancelInvoice"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetInvoice">
                        <input message="oaws:GetInvoice"/>
                        <output message="oaws:ShowInvoice"/>
                </operation>
                <operation name="SyncInvoice">
                        <input message="oaws:SyncInvoice"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateInvoice">
                        <input message="oaws:UpdateInvoice"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyInvoice">
                        <input message="oaws:NotifyInvoice"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestInvoiceBinding" type="oaws:RequestInvoicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="CancelInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseInvoiceBinding" type="oaws:ResponseInvoicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncInvoiceBinding" type="oaws:SyncInvoicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyInvoice">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Invoice.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestInvoiceService">
                <port name="RequestInvoiceBinding" binding="oaws:RequestInvoiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestInvoice"/>
                </port>
        </service>
        <service name="ResponseInvoiceService">
                <port name="ResponseInvoiceBinding" binding="oaws:ResponseInvoiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseInvoice"/>
                </port>
        </service>
        <service name="SyncInvoiceService">
                <port name="SyncInvoiceBinding" binding="oaws:SyncInvoiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncInvoice"/>
                </port>
        </service>
</definitions>
