JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/MergeWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/MergeWIP.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessMergeWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeMergeWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetMergeWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowMergeWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessMergeWIP">
                <part name="Message" element="oa:ProcessMergeWIP"/>
        </message>
        <message name="AcknowledgeMergeWIP">
                <part name="Message" element="oa:AcknowledgeMergeWIP"/>
        </message>
        <message name="GetMergeWIP">
                <part name="Message" element="oa:GetMergeWIP"/>
        </message>
        <message name="ShowMergeWIP">
                <part name="Message" element="oa:ShowMergeWIP"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestMergeWIPPortType">
                <operation name="ProcessMergeWIP">
                        <input message="oaws:ProcessMergeWIP"/>
                </operation>
                <operation name="GetMergeWIP">
                        <input message="oaws:GetMergeWIP"/>
                </operation>
        </portType>
        <portType name="ResponseMergeWIPPortType">
                <operation name="ShowMergeWIP">
                        <input message="oaws:ShowMergeWIP"/>
                </operation>
                <operation name="AcknowledgeMergeWIP">
                        <input message="oaws:AcknowledgeMergeWIP"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncMergeWIPPortType">
                <operation name="ProcessMergeWIP">
                        <input message="oaws:ProcessMergeWIP"/>
                        <output message="oaws:AcknowledgeMergeWIP"/>
                </operation>
                <operation name="GetMergeWIP">
                        <input message="oaws:GetMergeWIP"/>
                        <output message="oaws:ShowMergeWIP"/>
                </operation>
        </portType>
        <binding name="RequestMergeWIPBinding" type="oaws:RequestMergeWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseMergeWIPBinding" type="oaws:ResponseMergeWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncMergeWIPBinding" type="oaws:SyncMergeWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetMergeWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MergeWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestMergeWIPService">
                <port name="RequestMergeWIPBinding" binding="oaws:RequestMergeWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestMergeWIP"/>
                </port>
        </service>
        <service name="ResponseMergeWIPService">
                <port name="ResponseMergeWIPBinding" binding="oaws:ResponseMergeWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseMergeWIP"/>
                </port>
        </service>
        <service name="SyncMergeWIPService">
                <port name="SyncMergeWIPBinding" binding="oaws:SyncMergeWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncMergeWIP"/>
                </port>
        </service>
</definitions>
