JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/OnlineOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/OnlineOrder.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateOnlineOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeOnlineOrder">
                <part name="Message" element="oa:AcknowledgeOnlineOrder"/>
        </message>
        <message name="ChangeOnlineOrder">
                <part name="Message" element="oa:ChangeOnlineOrder"/>
        </message>
        <message name="GetOnlineOrder">
                <part name="Message" element="oa:GetOnlineOrder"/>
        </message>
        <message name="ProcessOnlineOrder">
                <part name="Message" element="oa:ProcessOnlineOrder"/>
        </message>
        <message name="RespondOnlineOrder">
                <part name="Message" element="oa:RespondOnlineOrder"/>
        </message>
        <message name="ShowOnlineOrder">
                <part name="Message" element="oa:ShowOnlineOrder"/>
        </message>
        <message name="SyncOnlineOrder">
                <part name="Message" element="oa:SyncOnlineOrder"/>
        </message>
        <message name="NotifyOnlineOrder">
                <part name="Message" element="oa:NotifyOnlineOrder"/>
        </message>
        <message name="UpdateOnlineOrder">
                <part name="Message" element="oa:UpdateOnlineOrder"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestOnlineOrderPortType">
                <operation name="ChangeOnlineOrder">
                        <input message="oaws:ChangeOnlineOrder"/>
                </operation>
                <operation name="ProcessOnlineOrder">
                        <input message="oaws:ProcessOnlineOrder"/>
                </operation>
                <operation name="GetOnlineOrder">
                        <input message="oaws:GetOnlineOrder"/>
                </operation>
                <operation name="SyncOnlineOrder">
                        <input message="oaws:SyncOnlineOrder"/>
                </operation>
                <operation name="NotifyOnlineOrder">
                        <input message="oaws:NotifyOnlineOrder"/>
                </operation>
                <operation name="UpdateOnlineOrder">
                        <input message="oaws:UpdateOnlineOrder"/>
                </operation>
        </portType>
        <portType name="ResponseOnlineOrderPortType">
                <operation name="AcknowledgeOnlineOrder">
                        <input message="oaws:AcknowledgeOnlineOrder"/>
                </operation>
                <operation name="RespondOnlineOrder">
                        <input message="oaws:RespondOnlineOrder"/>
                </operation>
                <operation name="ShowOnlineOrder">
                        <input message="oaws:ShowOnlineOrder"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncOnlineOrderPortType">
                <operation name="ProcessOnlineOrder">
                        <input message="oaws:ProcessOnlineOrder"/>
                        <output message="oaws:AcknowledgeOnlineOrder"/>
                </operation>
                <operation name="ChangeOnlineOrder">
                        <input message="oaws:ChangeOnlineOrder"/>
                        <output message="oaws:RespondOnlineOrder"/>
                </operation>
                <operation name="GetOnlineOrder">
                        <input message="oaws:GetOnlineOrder"/>
                        <output message="oaws:ShowOnlineOrder"/>
                </operation>
                <operation name="SyncOnlineOrder">
                        <input message="oaws:SyncOnlineOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyOnlineOrder">
                        <input message="oaws:NotifyOnlineOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateOnlineOrder">
                        <input message="oaws:UpdateOnlineOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestOnlineOrderBinding" type="oaws:RequestOnlineOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ChangeOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseOnlineOrderBinding" type="oaws:ResponseOnlineOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncOnlineOrderBinding" type="oaws:SyncOnlineOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateOnlineOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestOnlineOrderService">
                <port name="RequestOnlineOrderBinding" binding="oaws:RequestOnlineOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestOnlineOrder"/>
                </port>
        </service>
        <service name="ResponseOnlineOrderService">
                <port name="ResponseOnlineOrderBinding" binding="oaws:ResponseOnlineOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseOnlineOrder"/>
                </port>
        </service>
        <service name="SyncOnlineOrderService">
                <port name="SyncOnlineOrderBinding" binding="oaws:SyncOnlineOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncOnlineOrder"/>
                </port>
        </service>
</definitions>
