JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Payable.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Payable.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetPayable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPayable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/LoadPayable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetPayable">
                <part name="Message" element="oa:GetPayable"/>
        </message>
        <message name="ShowPayable">
                <part name="Message" element="oa:ShowPayable"/>
        </message>
        <message name="LoadPayable">
                <part name="Message" element="oa:LoadPayable"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPayablePortType">
                <operation name="GetPayable">
                        <input message="oaws:GetPayable"/>
                </operation>
                <operation name="LoadPayable">
                        <input message="oaws:LoadPayable"/>
                </operation>
        </portType>
        <portType name="ResponsePayablePortType">
                <operation name="ShowPayable">
                        <input message="oaws:ShowPayable"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="LoadPayablePortType">
                <operation name="GetPayable">
                        <input message="oaws:GetPayable"/>
                        <output message="oaws:ShowPayable"/>
                </operation>
                <operation name="LoadPayable">
                        <input message="oaws:LoadPayable"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestPayableBinding" type="oaws:RequestPayablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPayable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="LoadPayable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePayableBinding" type="oaws:ResponsePayablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowPayable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="LoadPayableBinding" type="oaws:LoadPayablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPayable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="LoadPayable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Payable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPayableService">
                <port name="RequestPayableBinding" binding="oaws:RequestPayableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPayable"/>
                </port>
        </service>
        <service name="ResponsePayableService">
                <port name="ResponsePayableBinding" binding="oaws:ResponsePayableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePayable"/>
                </port>
        </service>
        <service name="LoadPayableService">
                <port name="LoadPayableBinding" binding="oaws:LoadPayableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/LoadPayable"/>
                </port>
        </service>
</definitions>
