JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ProductionPerformance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ProductionPerformance.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyProductionPerformance.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetProductionPerformance">
                <part name="Message" element="oa:GetProductionPerformance"/>
        </message>
        <message name="ShowProductionPerformance">
                <part name="Message" element="oa:ShowProductionPerformance"/>
        </message>
        <message name="ProcessProductionPerformance">
                <part name="Message" element="oa:ProcessProductionPerformance"/>
        </message>
        <message name="AcknowledgeProductionPerformance">
                <part name="Message" element="oa:AcknowledgeProductionPerformance"/>
        </message>
        <message name="SyncProductionPerformance">
                <part name="Message" element="oa:SyncProductionPerformance"/>
        </message>
        <message name="NotifyProductionPerformance">
                <part name="Message" element="oa:NotifyProductionPerformance"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestProductionPerformancePortType">
                <operation name="GetProductionPerformance">
                        <input message="oaws:GetProductionPerformance"/>
                </operation>
                <operation name="ProcessProductionPerformance">
                        <input message="oaws:ProcessProductionPerformance"/>
                </operation>
                <operation name="SyncProductionPerformance">
                        <input message="oaws:SyncProductionPerformance"/>
                </operation>
                <operation name="NotifyProductionPerformance">
                        <input message="oaws:NotifyProductionPerformance"/>
                </operation>
        </portType>
        <portType name="ResponseProductionPerformancePortType">
                <operation name="ShowProductionPerformance">
                        <input message="oaws:ShowProductionPerformance"/>
                </operation>
                <operation name="AcknowledgeProductionPerformance">
                        <input message="oaws:AcknowledgeProductionPerformance"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncProductionPerformancePortType">
                <operation name="GetProductionPerformance">
                        <input message="oaws:GetProductionPerformance"/>
                        <output message="oaws:ShowProductionPerformance"/>
                </operation>
                <operation name="ProcessProductionPerformance">
                        <input message="oaws:ProcessProductionPerformance"/>
                        <output message="oaws:AcknowledgeProductionPerformance"/>
                </operation>
                <operation name="SyncProductionPerformance">
                        <input message="oaws:SyncProductionPerformance"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyProductionPerformance">
                        <input message="oaws:NotifyProductionPerformance"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestProductionPerformanceBinding" type="oaws:RequestProductionPerformancePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseProductionPerformanceBinding" type="oaws:ResponseProductionPerformancePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncProductionPerformanceBinding" type="oaws:SyncProductionPerformancePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyProductionPerformance">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProductionPerformance.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestProductionPerformanceService">
                <port name="RequestProductionPerformanceBinding" binding="oaws:RequestProductionPerformanceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestProductionPerformance"/>
                </port>
        </service>
        <service name="ResponseProductionPerformanceService">
                <port name="ResponseProductionPerformanceBinding" binding="oaws:ResponseProductionPerformanceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseProductionPerformance"/>
                </port>
        </service>
        <service name="SyncProductionPerformanceService">
                <port name="SyncProductionPerformanceBinding" binding="oaws:SyncProductionPerformanceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncProductionPerformance"/>
                </port>
        </service>
</definitions>
