JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/SplitWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/SplitWIP.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessSplitWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeSplitWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetSplitWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowSplitWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessSplitWIP">
                <part name="Message" element="oa:ProcessSplitWIP"/>
        </message>
        <message name="AcknowledgeSplitWIP">
                <part name="Message" element="oa:AcknowledgeSplitWIP"/>
        </message>
        <message name="GetSplitWIP">
                <part name="Message" element="oa:GetSplitWIP"/>
        </message>
        <message name="ShowSplitWIP">
                <part name="Message" element="oa:ShowSplitWIP"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestSplitWIPPortType">
                <operation name="ProcessSplitWIP">
                        <input message="oaws:ProcessSplitWIP"/>
                </operation>
                <operation name="GetSplitWIP">
                        <input message="oaws:GetSplitWIP"/>
                </operation>
        </portType>
        <portType name="ResponseSplitWIPPortType">
                <operation name="ShowSplitWIP">
                        <input message="oaws:ShowSplitWIP"/>
                </operation>
                <operation name="AcknowledgeSplitWIP">
                        <input message="oaws:AcknowledgeSplitWIP"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncSplitWIPPortType">
                <operation name="ProcessSplitWIP">
                        <input message="oaws:ProcessSplitWIP"/>
                        <output message="oaws:AcknowledgeSplitWIP"/>
                </operation>
                <operation name="GetSplitWIP">
                        <input message="oaws:GetSplitWIP"/>
                        <output message="oaws:ShowSplitWIP"/>
                </operation>
        </portType>
        <binding name="RequestSplitWIPBinding" type="oaws:RequestSplitWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseSplitWIPBinding" type="oaws:ResponseSplitWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncSplitWIPBinding" type="oaws:SyncSplitWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetSplitWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SplitWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestSplitWIPService">
                <port name="RequestSplitWIPBinding" binding="oaws:RequestSplitWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestSplitWIP"/>
                </port>
        </service>
        <service name="ResponseSplitWIPService">
                <port name="ResponseSplitWIPBinding" binding="oaws:ResponseSplitWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseSplitWIP"/>
                </port>
        </service>
        <service name="SyncSplitWIPService">
                <port name="SyncSplitWIPBinding" binding="oaws:SyncSplitWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncSplitWIP"/>
                </port>
        </service>
</definitions>
