JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/CarrierRoute.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/CarrierRoute.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyCarrierRoute.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncCarrierRoute.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetCarrierRoute.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCarrierRoute.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetCarrierRoute">
                <part name="Message" element="oa:GetCarrierRoute"/>
        </message>
        <message name="ShowCarrierRoute">
                <part name="Message" element="oa:ShowCarrierRoute"/>
        </message>
        <message name="SyncCarrierRoute">
                <part name="Message" element="oa:SyncCarrierRoute"/>
        </message>
        <message name="NotifyCarrierRoute">
                <part name="Message" element="oa:NotifyCarrierRoute"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCarrierRoutePortType">
                <operation name="SyncCarrierRoute">
                        <input message="oaws:SyncCarrierRoute"/>
                </operation>
                <operation name="GetCarrierRoute">
                        <input message="oaws:GetCarrierRoute"/>
                </operation>
                <operation name="NotifyCarrierRoute">
                        <input message="oaws:NotifyCarrierRoute"/>
                </operation>
        </portType>
        <portType name="ResponseCarrierRoutePortType">
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="ShowCarrierRoute">
                        <input message="oaws:ShowCarrierRoute"/>
                </operation>
        </portType>
        <portType name="SyncCarrierRoutePortType">
                <operation name="SyncCarrierRoute">
                        <input message="oaws:SyncCarrierRoute"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetCarrierRoute">
                        <input message="oaws:GetCarrierRoute"/>
                        <output message="oaws:ShowCarrierRoute"/>
                </operation>
                <operation name="NotifyCarrierRoute">
                        <input message="oaws:NotifyCarrierRoute"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestCarrierRouteBinding" type="oaws:RequestCarrierRoutePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="SyncCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCarrierRouteBinding" type="oaws:ResponseCarrierRoutePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCarrierRouteBinding" type="oaws:SyncCarrierRoutePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="SyncCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyCarrierRoute">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CarrierRoute.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCarrierRouteService">
                <port name="RequestCarrierRouteBinding" binding="oaws:RequestCarrierRouteBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCarrierRoute"/>
                </port>
        </service>
        <service name="ResponseCarrierRouteService">
                <port name="ResponseCarrierRouteBinding" binding="oaws:ResponseCarrierRouteBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCarrierRoute"/>
                </port>
        </service>
        <service name="SyncCarrierRouteService">
                <port name="SyncCarrierRouteBinding" binding="oaws:SyncCarrierRouteBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCarrierRoute"/>
                </port>
        </service>
</definitions>
