JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/CreditStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/CreditStatus.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyCreditStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessCreditStatus">
                <part name="Message" element="oa:ProcessCreditStatus"/>
        </message>
        <message name="AcknowledgeCreditStatus">
                <part name="Message" element="oa:AcknowledgeCreditStatus"/>
        </message>
        <message name="ChangeCreditStatus">
                <part name="Message" element="oa:ChangeCreditStatus"/>
        </message>
        <message name="RespondCreditStatus">
                <part name="Message" element="oa:RespondCreditStatus"/>
        </message>
        <message name="SyncCreditStatus">
                <part name="Message" element="oa:SyncCreditStatus"/>
        </message>
        <message name="NotifyCreditStatus">
                <part name="Message" element="oa:NotifyCreditStatus"/>
        </message>
        <message name="GetCreditStatus">
                <part name="Message" element="oa:GetCreditStatus"/>
        </message>
        <message name="ShowCreditStatus">
                <part name="Message" element="oa:ShowCreditStatus"/>
        </message>
        <message name="UpdateCreditStatus">
                <part name="Message" element="oa:UpdateCreditStatus"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCreditStatusPortType">
                <operation name="GetCreditStatus">
                        <input message="oaws:GetCreditStatus"/>
                </operation>
                <operation name="ProcessCreditStatus">
                        <input message="oaws:ProcessCreditStatus"/>
                </operation>
                <operation name="ChangeCreditStatus">
                        <input message="oaws:ChangeCreditStatus"/>
                </operation>
                <operation name="SyncCreditStatus">
                        <input message="oaws:SyncCreditStatus"/>
                </operation>
                <operation name="UpdateCreditStatus">
                        <input message="oaws:UpdateCreditStatus"/>
                </operation>
                <operation name="NotifyCreditStatus">
                        <input message="oaws:NotifyCreditStatus"/>
                </operation>
        </portType>
        <portType name="ResponseCreditStatusPortType">
                <operation name="AcknowledgeCreditStatus">
                        <input message="oaws:AcknowledgeCreditStatus"/>
                </operation>
                <operation name="RespondCreditStatus">
                        <input message="oaws:RespondCreditStatus"/>
                </operation>
                <operation name="ShowCreditStatus">
                        <input message="oaws:ShowCreditStatus"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncCreditStatusPortType">
                <operation name="GetCreditStatus">
                        <input message="oaws:GetCreditStatus"/>
                        <output message="oaws:ShowCreditStatus"/>
                </operation>
                <operation name="UpdateCreditStatus">
                        <input message="oaws:UpdateCreditStatus"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="ProcessCreditStatus">
                        <input message="oaws:ProcessCreditStatus"/>
                        <output message="oaws:AcknowledgeCreditStatus"/>
                </operation>
                <operation name="ChangeCreditStatus">
                        <input message="oaws:ChangeCreditStatus"/>
                        <output message="oaws:RespondCreditStatus"/>
                </operation>
                <operation name="SyncCreditStatus">
                        <input message="oaws:SyncCreditStatus"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyCreditStatus">
                        <input message="oaws:NotifyCreditStatus"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestCreditStatusBinding" type="oaws:RequestCreditStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCreditStatusBinding" type="oaws:ResponseCreditStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCreditStatusBinding" type="oaws:SyncCreditStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyCreditStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CreditStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCreditStatusService">
                <port name="RequestCreditStatusBinding" binding="oaws:RequestCreditStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCreditStatus"/>
                </port>
        </service>
        <service name="ResponseCreditStatusService">
                <port name="ResponseCreditStatusBinding" binding="oaws:ResponseCreditStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCreditStatus"/>
                </port>
        </service>
        <service name="SyncCreditStatusService">
                <port name="SyncCreditStatusBinding" binding="oaws:SyncCreditStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCreditStatus"/>
                </port>
        </service>
</definitions>
