JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/EmployeeWorkSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/EmployeeWorkSchedule.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetEmployeeWorkSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowEmployeeWorkSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncEmployeeWorkSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyEmployeeWorkSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetEmployeeWorkSchedule">
                <part name="Message" element="oa:GetEmployeeWorkSchedule"/>
        </message>
        <message name="ShowEmployeeWorkSchedule">
                <part name="Message" element="oa:ShowEmployeeWorkSchedule"/>
        </message>
        <message name="SyncEmployeeWorkSchedule">
                <part name="Message" element="oa:SyncEmployeeWorkSchedule"/>
        </message>
        <message name="NotifyEmployeeWorkSchedule">
                <part name="Message" element="oa:NotifyEmployeeWorkSchedule"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestEmployeeWorkSchedulePortType">
                <operation name="GetEmployeeWorkSchedule">
                        <input message="oaws:GetEmployeeWorkSchedule"/>
                </operation>
                <operation name="SyncEmployeeWorkSchedule">
                        <input message="oaws:SyncEmployeeWorkSchedule"/>
                </operation>
                <operation name="NotifyEmployeeWorkSchedule">
                        <input message="oaws:NotifyEmployeeWorkSchedule"/>
                </operation>
        </portType>
        <portType name="ResponseEmployeeWorkSchedulePortType">
                <operation name="ShowEmployeeWorkSchedule">
                        <input message="oaws:ShowEmployeeWorkSchedule"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncEmployeeWorkSchedulePortType">
                <operation name="GetEmployeeWorkSchedule">
                        <input message="oaws:GetEmployeeWorkSchedule"/>
                        <output message="oaws:ShowEmployeeWorkSchedule"/>
                </operation>
                <operation name="SyncEmployeeWorkSchedule">
                        <input message="oaws:SyncEmployeeWorkSchedule"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyEmployeeWorkSchedule">
                        <input message="oaws:NotifyEmployeeWorkSchedule"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestEmployeeWorkScheduleBinding" type="oaws:RequestEmployeeWorkSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseEmployeeWorkScheduleBinding" type="oaws:ResponseEmployeeWorkSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncEmployeeWorkScheduleBinding" type="oaws:SyncEmployeeWorkSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyEmployeeWorkSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EmployeeWorkSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestEmployeeWorkScheduleService">
                <port name="RequestEmployeeWorkScheduleBinding" binding="oaws:RequestEmployeeWorkScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestEmployeeWorkSchedule"/>
                </port>
        </service>
        <service name="ResponseEmployeeWorkScheduleService">
                <port name="ResponseEmployeeWorkScheduleBinding" binding="oaws:ResponseEmployeeWorkScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseEmployeeWorkSchedule"/>
                </port>
        </service>
        <service name="SyncEmployeeWorkScheduleService">
                <port name="SyncEmployeeWorkScheduleBinding" binding="oaws:SyncEmployeeWorkScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncEmployeeWorkSchedule"/>
                </port>
        </service>
</definitions>
