JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/InspectDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/InspectDelivery.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateInspectDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeInspectDelivery">
                <part name="Message" element="oa:AcknowledgeInspectDelivery"/>
        </message>
        <message name="CancelInspectDelivery">
                <part name="Message" element="oa:CancelInspectDelivery"/>
        </message>
        <message name="ChangeInspectDelivery">
                <part name="Message" element="oa:ChangeInspectDelivery"/>
        </message>
        <message name="GetInspectDelivery">
                <part name="Message" element="oa:GetInspectDelivery"/>
        </message>
        <message name="ProcessInspectDelivery">
                <part name="Message" element="oa:ProcessInspectDelivery"/>
        </message>
        <message name="RespondInspectDelivery">
                <part name="Message" element="oa:RespondInspectDelivery"/>
        </message>
        <message name="ShowInspectDelivery">
                <part name="Message" element="oa:ShowInspectDelivery"/>
        </message>
        <message name="SyncInspectDelivery">
                <part name="Message" element="oa:SyncInspectDelivery"/>
        </message>
        <message name="NotifyInspectDelivery">
                <part name="Message" element="oa:NotifyInspectDelivery"/>
        </message>
        <message name="UpdateInspectDelivery">
                <part name="Message" element="oa:UpdateInspectDelivery"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestInspectDeliveryPortType">
                <operation name="CancelInspectDelivery">
                        <input message="oaws:CancelInspectDelivery"/>
                </operation>
                <operation name="ChangeInspectDelivery">
                        <input message="oaws:ChangeInspectDelivery"/>
                </operation>
                <operation name="ProcessInspectDelivery">
                        <input message="oaws:ProcessInspectDelivery"/>
                </operation>
                <operation name="GetInspectDelivery">
                        <input message="oaws:GetInspectDelivery"/>
                </operation>
                <operation name="SyncInspectDelivery">
                        <input message="oaws:SyncInspectDelivery"/>
                </operation>
                <operation name="UpdateInspectDelivery">
                        <input message="oaws:UpdateInspectDelivery"/>
                </operation>
                <operation name="NotifyInspectDelivery">
                        <input message="oaws:NotifyInspectDelivery"/>
                </operation>
        </portType>
        <portType name="ResponseInspectDeliveryPortType">
                <operation name="AcknowledgeInspectDelivery">
                        <input message="oaws:AcknowledgeInspectDelivery"/>
                </operation>
                <operation name="RespondInspectDelivery">
                        <input message="oaws:RespondInspectDelivery"/>
                </operation>
                <operation name="ShowInspectDelivery">
                        <input message="oaws:ShowInspectDelivery"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncInspectDeliveryPortType">
                <operation name="ProcessInspectDelivery">
                        <input message="oaws:ProcessInspectDelivery"/>
                        <output message="oaws:AcknowledgeInspectDelivery"/>
                </operation>
                <operation name="ChangeInspectDelivery">
                        <input message="oaws:ChangeInspectDelivery"/>
                        <output message="oaws:RespondInspectDelivery"/>
                </operation>
                <operation name="CancelInspectDelivery">
                        <input message="oaws:CancelInspectDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetInspectDelivery">
                        <input message="oaws:GetInspectDelivery"/>
                        <output message="oaws:ShowInspectDelivery"/>
                </operation>
                <operation name="SyncInspectDelivery">
                        <input message="oaws:SyncInspectDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateInspectDelivery">
                        <input message="oaws:UpdateInspectDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyInspectDelivery">
                        <input message="oaws:NotifyInspectDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestInspectDeliveryBinding" type="oaws:RequestInspectDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="CancelInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseInspectDeliveryBinding" type="oaws:ResponseInspectDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncInspectDeliveryBinding" type="oaws:SyncInspectDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyInspectDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InspectDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestInspectDeliveryService">
                <port name="RequestInspectDeliveryBinding" binding="oaws:RequestInspectDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestInspectDelivery"/>
                </port>
        </service>
        <service name="ResponseInspectDeliveryService">
                <port name="ResponseInspectDeliveryBinding" binding="oaws:ResponseInspectDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseInspectDelivery"/>
                </port>
        </service>
        <service name="SyncInspectDeliveryService">
                <port name="SyncInspectDeliveryBinding" binding="oaws:SyncInspectDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncInspectDelivery"/>
                </port>
        </service>
</definitions>
