JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/PaymentStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/PaymentStatus.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessPaymentStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgePaymentStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetPaymentStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPaymentStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessPaymentStatus">
                <part name="Message" element="oa:ProcessPaymentStatus"/>
        </message>
        <message name="AcknowledgePaymentStatus">
                <part name="Message" element="oa:AcknowledgePaymentStatus"/>
        </message>
        <message name="GetPaymentStatus">
                <part name="Message" element="oa:GetPaymentStatus"/>
        </message>
        <message name="ShowPaymentStatus">
                <part name="Message" element="oa:ShowPaymentStatus"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPaymentStatusPortType">
                <operation name="GetPaymentStatus">
                        <input message="oaws:GetPaymentStatus"/>
                </operation>
                <operation name="ProcessPaymentStatus">
                        <input message="oaws:ProcessPaymentStatus"/>
                </operation>
        </portType>
        <portType name="ResponsePaymentStatusPortType">
                <operation name="AcknowledgePaymentStatus">
                        <input message="oaws:AcknowledgePaymentStatus"/>
                </operation>
                <operation name="ShowPaymentStatus">
                        <input message="oaws:ShowPaymentStatus"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPaymentStatusPortType">
                <operation name="GetPaymentStatus">
                        <input message="oaws:GetPaymentStatus"/>
                        <output message="oaws:ShowPaymentStatus"/>
                </operation>
                <operation name="ProcessPaymentStatus">
                        <input message="oaws:ProcessPaymentStatus"/>
                        <output message="oaws:AcknowledgePaymentStatus"/>
                </operation>
        </portType>
        <binding name="RequestPaymentStatusBinding" type="oaws:RequestPaymentStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetPaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePaymentStatusBinding" type="oaws:ResponsePaymentStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgePaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowPaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPaymentStatusBinding" type="oaws:SyncPaymentStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessPaymentStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPaymentStatusService">
                <port name="RequestPaymentStatusBinding" binding="oaws:RequestPaymentStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPaymentStatus"/>
                </port>
        </service>
        <service name="ResponsePaymentStatusService">
                <port name="ResponsePaymentStatusBinding" binding="oaws:ResponsePaymentStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePaymentStatus"/>
                </port>
        </service>
        <service name="SyncPaymentStatusService">
                <port name="SyncPaymentStatusBinding" binding="oaws:SyncPaymentStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPaymentStatus"/>
                </port>
        </service>
</definitions>
