JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/ReceiveDelivery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ReceiveDelivery.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateReceiveDelivery.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeReceiveDelivery">
                <part name="Message" element="oa:AcknowledgeReceiveDelivery"/>
        </message>
        <message name="CancelReceiveDelivery">
                <part name="Message" element="oa:CancelReceiveDelivery"/>
        </message>
        <message name="ChangeReceiveDelivery">
                <part name="Message" element="oa:ChangeReceiveDelivery"/>
        </message>
        <message name="GetReceiveDelivery">
                <part name="Message" element="oa:GetReceiveDelivery"/>
        </message>
        <message name="ShowReceiveDelivery">
                <part name="Message" element="oa:ShowReceiveDelivery"/>
        </message>
        <message name="GetListReceiveDelivery">
                <part name="Message" element="oa:GetListReceiveDelivery"/>
        </message>
        <message name="ListReceiveDelivery">
                <part name="Message" element="oa:ListReceiveDelivery"/>
        </message>
        <message name="ProcessReceiveDelivery">
                <part name="Message" element="oa:ProcessReceiveDelivery"/>
        </message>
        <message name="RespondReceiveDelivery">
                <part name="Message" element="oa:RespondReceiveDelivery"/>
        </message>
        <message name="UpdateReceiveDelivery">
                <part name="Message" element="oa:UpdateReceiveDelivery"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestReceiveDeliveryPortType">
                <operation name="ProcessReceiveDelivery">
                        <input message="oaws:ProcessReceiveDelivery"/>
                </operation>
                <operation name="ChangeReceiveDelivery">
                        <input message="oaws:ChangeReceiveDelivery"/>
                </operation>
                <operation name="CancelReceiveDelivery">
                        <input message="oaws:CancelReceiveDelivery"/>
                </operation>
                <operation name="GetReceiveDelivery">
                        <input message="oaws:GetReceiveDelivery"/>
                </operation>
                <operation name="GetListReceiveDelivery">
                        <input message="oaws:GetListReceiveDelivery"/>
                </operation>
                <operation name="UpdateReceiveDelivery">
                        <input message="oaws:UpdateReceiveDelivery"/>
                </operation>
        </portType>
        <portType name="ResponseReceiveDeliveryPortType">
                <operation name="AcknowledgeReceiveDelivery">
                        <input message="oaws:AcknowledgeReceiveDelivery"/>
                </operation>
                <operation name="RespondReceiveDelivery">
                        <input message="oaws:RespondReceiveDelivery"/>
                </operation>
                <operation name="ShowReceiveDelivery">
                        <input message="oaws:ShowReceiveDelivery"/>
                </operation>
                <operation name="ListReceiveDelivery">
                        <input message="oaws:ListReceiveDelivery"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncReceiveDeliveryPortType">
                <operation name="ProcessReceiveDelivery">
                        <input message="oaws:ProcessReceiveDelivery"/>
                        <output message="oaws:AcknowledgeReceiveDelivery"/>
                </operation>
                <operation name="ChangeReceiveDelivery">
                        <input message="oaws:ChangeReceiveDelivery"/>
                        <output message="oaws:RespondReceiveDelivery"/>
                </operation>
                <operation name="CancelReceiveDelivery">
                        <input message="oaws:CancelReceiveDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetReceiveDelivery">
                        <input message="oaws:GetReceiveDelivery"/>
                        <output message="oaws:ShowReceiveDelivery"/>
                </operation>
                <operation name="GetListReceiveDelivery">
                        <input message="oaws:GetListReceiveDelivery"/>
                        <output message="oaws:ListReceiveDelivery"/>
                </operation>
                <operation name="UpdateReceiveDelivery">
                        <input message="oaws:UpdateReceiveDelivery"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestReceiveDeliveryBinding" type="oaws:RequestReceiveDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="CancelReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseReceiveDeliveryBinding" type="oaws:ResponseReceiveDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncReceiveDeliveryBinding" type="oaws:SyncReceiveDeliveryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateReceiveDelivery">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ReceiveDelivery.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestReceiveDeliveryService">
                <port name="RequestReceiveDeliveryBinding" binding="oaws:RequestReceiveDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestReceiveDelivery"/>
                </port>
        </service>
        <service name="ResponseReceiveDeliveryService">
                <port name="ResponseReceiveDeliveryBinding" binding="oaws:ResponseReceiveDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseReceiveDelivery"/>
                </port>
        </service>
        <service name="SyncReceiveDeliveryService">
                <port name="SyncReceiveDeliveryBinding" binding="oaws:SyncReceiveDeliveryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncReceiveDelivery"/>
                </port>
        </service>
</definitions>
