JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/Routing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Routing.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyRouting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetRouting">
                <part name="Message" element="oa:GetRouting"/>
        </message>
        <message name="ShowRouting">
                <part name="Message" element="oa:ShowRouting"/>
        </message>
        <message name="GetListRouting">
                <part name="Message" element="oa:GetListRouting"/>
        </message>
        <message name="ListRouting">
                <part name="Message" element="oa:ListRouting"/>
        </message>
        <message name="SyncRouting">
                <part name="Message" element="oa:SyncRouting"/>
        </message>
        <message name="NotifyRouting">
                <part name="Message" element="oa:NotifyRouting"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestRoutingPortType">
                <operation name="GetRouting">
                        <input message="oaws:GetRouting"/>
                </operation>
                <operation name="GetListRouting">
                        <input message="oaws:GetListRouting"/>
                </operation>
                <operation name="SyncRouting">
                        <input message="oaws:SyncRouting"/>
                </operation>
                <operation name="NotifyRouting">
                        <input message="oaws:NotifyRouting"/>
                </operation>
        </portType>
        <portType name="ResponseRoutingPortType">
                <operation name="ShowRouting">
                        <input message="oaws:ShowRouting"/>
                </operation>
                <operation name="ListRouting">
                        <input message="oaws:ListRouting"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncRoutingPortType">
                <operation name="GetRouting">
                        <input message="oaws:GetRouting"/>
                        <output message="oaws:ShowRouting"/>
                </operation>
                <operation name="GetListRouting">
                        <input message="oaws:GetListRouting"/>
                        <output message="oaws:ListRouting"/>
                </operation>
                <operation name="SyncRouting">
                        <input message="oaws:SyncRouting"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyRouting">
                        <input message="oaws:NotifyRouting"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestRoutingBinding" type="oaws:RequestRoutingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseRoutingBinding" type="oaws:ResponseRoutingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncRoutingBinding" type="oaws:SyncRoutingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyRouting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Routing.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestRoutingService">
                <port name="RequestRoutingBinding" binding="oaws:RequestRoutingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestRouting"/>
                </port>
        </service>
        <service name="ResponseRoutingService">
                <port name="ResponseRoutingBinding" binding="oaws:ResponseRoutingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseRouting"/>
                </port>
        </service>
        <service name="SyncRoutingService">
                <port name="SyncRoutingBinding" binding="oaws:SyncRoutingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncRouting"/>
                </port>
        </service>
</definitions>
