JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/SequenceSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/SequenceSchedule.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetSequenceSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowSequenceSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncSequenceSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifySequenceSchedule.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetSequenceSchedule">
                <part name="Message" element="oa:GetSequenceSchedule"/>
        </message>
        <message name="ShowSequenceSchedule">
                <part name="Message" element="oa:ShowSequenceSchedule"/>
        </message>
        <message name="SyncSequenceSchedule">
                <part name="Message" element="oa:SyncSequenceSchedule"/>
        </message>
        <message name="NotifySequenceSchedule">
                <part name="Message" element="oa:NotifySequenceSchedule"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestSequenceSchedulePortType">
                <operation name="GetSequenceSchedule">
                        <input message="oaws:GetSequenceSchedule"/>
                </operation>
                <operation name="SyncSequenceSchedule">
                        <input message="oaws:SyncSequenceSchedule"/>
                </operation>
                <operation name="NotifySequenceSchedule">
                        <input message="oaws:NotifySequenceSchedule"/>
                </operation>
        </portType>
        <portType name="ResponseSequenceSchedulePortType">
                <operation name="ShowSequenceSchedule">
                        <input message="oaws:ShowSequenceSchedule"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncSequenceSchedulePortType">
                <operation name="GetSequenceSchedule">
                        <input message="oaws:GetSequenceSchedule"/>
                        <output message="oaws:ShowSequenceSchedule"/>
                </operation>
                <operation name="SyncSequenceSchedule">
                        <input message="oaws:SyncSequenceSchedule"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifySequenceSchedule">
                        <input message="oaws:NotifySequenceSchedule"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestSequenceScheduleBinding" type="oaws:RequestSequenceSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetSequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncSequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifySequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseSequenceScheduleBinding" type="oaws:ResponseSequenceSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowSequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncSequenceScheduleBinding" type="oaws:SyncSequenceSchedulePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetSequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncSequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifySequenceSchedule">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SequenceSchedule.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestSequenceScheduleService">
                <port name="RequestSequenceScheduleBinding" binding="oaws:RequestSequenceScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestSequenceSchedule"/>
                </port>
        </service>
        <service name="ResponseSequenceScheduleService">
                <port name="ResponseSequenceScheduleBinding" binding="oaws:ResponseSequenceScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseSequenceSchedule"/>
                </port>
        </service>
        <service name="SyncSequenceScheduleService">
                <port name="SyncSequenceScheduleBinding" binding="oaws:SyncSequenceScheduleBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncSequenceSchedule"/>
                </port>
        </service>
</definitions>
