JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/Shipment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Shipment.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyShipment.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetShipment">
                <part name="Message" element="oa:GetShipment"/>
        </message>
        <message name="ShowShipment">
                <part name="Message" element="oa:ShowShipment"/>
        </message>
        <message name="ProcessShipment">
                <part name="Message" element="oa:ProcessShipment"/>
        </message>
        <message name="AcknowledgeShipment">
                <part name="Message" element="oa:AcknowledgeShipment"/>
        </message>
        <message name="SyncShipment">
                <part name="Message" element="oa:SyncShipment"/>
        </message>
        <message name="NotifyShipment">
                <part name="Message" element="oa:NotifyShipment"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestShipmentPortType">
                <operation name="GetShipment">
                        <input message="oaws:GetShipment"/>
                </operation>
                <operation name="ProcessShipment">
                        <input message="oaws:ProcessShipment"/>
                </operation>
                <operation name="SyncShipment">
                        <input message="oaws:SyncShipment"/>
                </operation>
                <operation name="NotifyShipment">
                        <input message="oaws:NotifyShipment"/>
                </operation>
        </portType>
        <portType name="ResponseShipmentPortType">
                <operation name="ShowShipment">
                        <input message="oaws:ShowShipment"/>
                </operation>
                <operation name="AcknowledgeShipment">
                        <input message="oaws:AcknowledgeShipment"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncShipmentPortType">
                <operation name="GetShipment">
                        <input message="oaws:GetShipment"/>
                        <output message="oaws:ShowShipment"/>
                </operation>
                <operation name="ProcessShipment">
                        <input message="oaws:ProcessShipment"/>
                        <output message="oaws:AcknowledgeShipment"/>
                </operation>
                <operation name="SyncShipment">
                        <input message="oaws:SyncShipment"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyShipment">
                        <input message="oaws:NotifyShipment"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestShipmentBinding" type="oaws:RequestShipmentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseShipmentBinding" type="oaws:ResponseShipmentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncShipmentBinding" type="oaws:SyncShipmentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyShipment">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Shipment.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestShipmentService">
                <port name="RequestShipmentBinding" binding="oaws:RequestShipmentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestShipment"/>
                </port>
        </service>
        <service name="ResponseShipmentService">
                <port name="ResponseShipmentBinding" binding="oaws:ResponseShipmentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseShipment"/>
                </port>
        </service>
        <service name="SyncShipmentService">
                <port name="SyncShipmentBinding" binding="oaws:SyncShipmentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncShipment"/>
                </port>
        </service>
</definitions>
