JDEV10G/Dhami3/Search_MDMHUB_BPEL/output/bpel/OAGIS/9_2/References/ws/wsdl/WIPStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/WIPStatus.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessWIPStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeWIPStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetWIPStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowWIPStatus.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessWIPStatus">
                <part name="Message" element="oa:ProcessWIPStatus"/>
        </message>
        <message name="AcknowledgeWIPStatus">
                <part name="Message" element="oa:AcknowledgeWIPStatus"/>
        </message>
        <message name="GetWIPStatus">
                <part name="Message" element="oa:GetWIPStatus"/>
        </message>
        <message name="ShowWIPStatus">
                <part name="Message" element="oa:ShowWIPStatus"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestWIPStatusPortType">
                <operation name="ProcessWIPStatus">
                        <input message="oaws:ProcessWIPStatus"/>
                </operation>
                <operation name="GetWIPStatus">
                        <input message="oaws:GetWIPStatus"/>
                </operation>
        </portType>
        <portType name="ResponseWIPStatusPortType">
                <operation name="ShowWIPStatus">
                        <input message="oaws:ShowWIPStatus"/>
                </operation>
                <operation name="AcknowledgeWIPStatus">
                        <input message="oaws:AcknowledgeWIPStatus"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncWIPStatusPortType">
                <operation name="ProcessWIPStatus">
                        <input message="oaws:ProcessWIPStatus"/>
                        <output message="oaws:AcknowledgeWIPStatus"/>
                </operation>
                <operation name="GetWIPStatus">
                        <input message="oaws:GetWIPStatus"/>
                        <output message="oaws:ShowWIPStatus"/>
                </operation>
        </portType>
        <binding name="RequestWIPStatusBinding" type="oaws:RequestWIPStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseWIPStatusBinding" type="oaws:ResponseWIPStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncWIPStatusBinding" type="oaws:SyncWIPStatusPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetWIPStatus">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/WIPStatus.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestWIPStatusService">
                <port name="RequestWIPStatusBinding" binding="oaws:RequestWIPStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestWIPStatus"/>
                </port>
        </service>
        <service name="ResponseWIPStatusService">
                <port name="ResponseWIPStatusBinding" binding="oaws:ResponseWIPStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseWIPStatus"/>
                </port>
        </service>
        <service name="SyncWIPStatusService">
                <port name="SyncWIPStatusBinding" binding="oaws:SyncWIPStatusBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncWIPStatus"/>
                </port>
        </service>
</definitions>
