JDEV10G/ErrorHandlingPOC1/CEH_BPEL_AQRejectedMsgHandler/bpel/JCAErrorHandling.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.4.795 (http://www.liquid-technologies.com)-->
<schema xmlns:tns="http://xmlns.oracle.com/pcbpel/errorHandling" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/errorHandling" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="FatalErrorMessage" type="tns:FatalErrorMessageType" />
  <element name="RejectedMessage" type="tns:RejectedMessageType" />
  <complexType name="FatalErrorMessageType">
    <sequence>
      <element name="Originator" type="string" />
      <element name="Reason" type="string" />
      <element name="Exception" type="string" />
      <element name="StackTrace" type="string" />
    </sequence>
  </complexType>
  <complexType name="RejectedMessageType">
    <sequence>
      <element name="MessageHeader" type="base64Binary" />
      <element name="MessagePayload" type="base64Binary" />
      <element name="RejectionReason" type="string" />
      <element name="AdditionalProperties" type="tns:AdditionalPropsType" />
    </sequence>
    <attribute name="RejectionId" type="string" />
    <attribute name="BatchId" type="string" />
    <attribute name="BatchInfo" type="string" />
    <attribute name="PrimaryKey" type="string" />
    <attribute name="MessageOriginReference" type="string" />
  </complexType>
  <complexType name="AdditionalPropsType">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="RejectionProp" type="tns:RejectionPropType" />
    </sequence>
  </complexType>
  <complexType name="RejectionPropType">
    <simpleContent>
      <extension base="string">
        <attribute name="name" type="ID" use="required" />
        <attribute name="value" type="string" use="required" />
      </extension>
    </simpleContent>
  </complexType>
</schema>