JDEV10G/VDSTv1/VDST_JWS_TempService/public_html/WEB-INF/wsdl/ConversionWebService.wsdl

<definitions
     name="ConversionWebService"
     targetNamespace="http://service.emerson.com/vdst/tool/ConversionWebService.wsdl"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://service.emerson.com/vdst/tool/ConversionWebService.wsdl"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.emerson.com/vdst/tool/common" schemaLocation="CommonWebService_schema.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://service.emerson.com/vdst/tool/ConversionWebService.wsdl"
                 schemaLocation="ConversionWebService_schema.xsd"/>
        </xsd:schema>
    </types>
    <message name="ImportCADModel">
        <part name="parameters" element="tns:importCADModel"/>
    </message>
    <message name="ImportCADModelResponse">
        <part name="parameters" element="tns:ImportCADModelResponse"/>
    </message>
    <message name="FaultDetailType">
        <part name="fault" xmlns:ns1="http://service.emerson.com/vdst/tool/common" element="ns1:FaultDetail"/>
    </message>
    <message name="SOAPException">
        <part name="fault" xmlns:ns1="http://service.emerson.com/vdst/tool/common" element="ns1:SOAPException"/>
    </message>
    <message name="ImportOtherModel">
        <part name="parameters" element="tns:importOtherModel"/>
    </message>
    <message name="ImportOtherModelResponse">
        <part name="parameters" element="tns:ImportOtherModelResponse"/>
    </message>
    <message name="RetesselateModel">
        <part name="parameters" element="tns:retesselateModel"/>
    </message>
    <message name="RetesselateModelResponse">
        <part name="parameters" element="tns:RetesselateModelResponse"/>
    </message>
    <message name="ImportERPData">
        <part name="parameters" element="tns:importERPData"/>
    </message>
    <message name="ImportERPDataResponse">
        <part name="parameters" element="tns:ImportERPDataResponse"/>
    </message>
    <message name="UpdateProductContent">
        <part name="parameters" element="tns:updateProductContent"/>
    </message>
    <message name="UpdateProductContentResponse">
        <part name="parameters" element="tns:UpdateProductContentResponse"/>
    </message>
    <portType name="ConversionWebServicePortType">
        <operation name="importCADModel">
            <input message="tns:ImportCADModel"/>
            <output message="tns:ImportCADModelResponse"/>
            <fault name="FaultDetailType" message="tns:FaultDetailType"/>
            <fault name="SOAPException" message="tns:SOAPException"/>
        </operation>
        <operation name="importOtherModel">
            <input message="tns:ImportOtherModel"/>
            <output message="tns:ImportOtherModelResponse"/>
            <fault name="FaultDetailType" message="tns:FaultDetailType"/>
            <fault name="SOAPException" message="tns:SOAPException"/>
        </operation>
        <operation name="retesselateModel">
            <input message="tns:RetesselateModel"/>
            <output message="tns:RetesselateModelResponse"/>
            <fault name="FaultDetailType" message="tns:FaultDetailType"/>
            <fault name="SOAPException" message="tns:SOAPException"/>
        </operation>
        <operation name="importERPData">
            <input message="tns:ImportERPData"/>
            <output message="tns:ImportERPDataResponse"/>
            <fault name="FaultDetailType" message="tns:FaultDetailType"/>
            <fault name="SOAPException" message="tns:SOAPException"/>
        </operation>
        <operation name="updateProductContent">
            <input message="tns:UpdateProductContent"/>
            <output message="tns:UpdateProductContentResponse"/>
            <fault name="FaultDetailType" message="tns:FaultDetailType"/>
            <fault name="SOAPException" message="tns:SOAPException"/>
        </operation>
    </portType>
    <binding name="ConversionWebServicePortBinding" type="tns:ConversionWebServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="importCADModel">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultDetailType">
                <soap:fault name="FaultDetailType" use="literal"/>
            </fault>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="importOtherModel">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultDetailType">
                <soap:fault name="FaultDetailType" use="literal"/>
            </fault>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="retesselateModel">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultDetailType">
                <soap:fault name="FaultDetailType" use="literal"/>
            </fault>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="importERPData">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultDetailType">
                <soap:fault name="FaultDetailType" use="literal"/>
            </fault>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateProductContent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="FaultDetailType">
                <soap:fault name="FaultDetailType" use="literal"/>
            </fault>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ConversionWebService">
        <port name="ConversionWebServicePort" binding="tns:ConversionWebServicePortBinding">
            <soap:address location="http://142.130.224.174:8888/VDSTServices/ConversionWebServicePort"/>
        </port>
    </service>
</definitions>
