JDEV10G/Dhami1/readFile_BPEL/bpel/Input.xsd

<schema targetNamespace="http://xmlns.emrsn.com/Input" xmlns:inp="http://xmlns.emrsn.com/Input" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="qualified">
   <complexType name="InputType">
	<sequence>
         <element name="Input" type="anyType" nillable="true" minOccurs="0">            
         </element>
	</sequence>
   </complexType>
   <element name="InputElement" type="inp:InputType" />
</schema>
