JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/ServiceSchemas/log/LogRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://www.gssamerica.com/mdm/loghandler" elementFormDefault="unqualified" targetNamespace="http://www.gssamerica.com/mdm/loghandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="logData">
    <xs:sequence>
      <xs:element name="processId" type="xs:string" />
      <xs:element minOccurs="0" name="fileNameAddOn" type="xs:string" />
      <xs:element name="logType" type="xs:string" />
      <xs:element name="logMessage" type="xs:string" />
      <xs:element name="logLevel" type="xs:string" />
      <xs:element name="environment" type="xs:string" />
      <xs:element name="projectName" type="xs:string" />
      <xs:element name="processName" type="xs:string" />
      <xs:element name="location" type="xs:string" />
      <xs:element minOccurs="0" name="maxSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="logRequests" type="logRequests" />
  <xs:complexType name="logRequests">
    <xs:sequence>
      <xs:element name="logRequest" type="logData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>