JDEV10G/RnDs/MultipleInboundFTP_BPEL/output/bpel/ftpAdapterInboundHeader.wsdl

<definitions
     name="fileAdapter"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" 
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/"   
     xmlns="http://schemas.xmlsoap.org/wsdl/" >

    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" 
                targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/"
                xmlns="http://www.w3.org/2001/XMLSchema" 
                xmlns:FTPAPP="http://xmlns.oracle.com/pcbpel/adapter/ftp/">
            <element name="InboundFTPHeaderType">
                <complexType>
                    <sequence>
                        <element name="fileName" type="string"/>
                        <element name="ftpHost" type="string"/>
                        <element name="ftpPort" type="string"/>
                        <element name="size" type="string"/>
                     </sequence>
                </complexType>
            </element> 
            
            <!-- 
            <InboundFTPHeaderType xmlns="http://xmlns.oracle.com/pcbpel/adapter/ftp/">
                <fileName>dynamicVDST.txt</fileName>
                <directory>/VSP</directory>
                <size>0</size>
                <batch/>
                <batchIndex>1</batchIndex>
            </InboundFTPHeaderType>
            -->
        </schema>
    </types>
   
    <!-- Header Message --> 
    <message name="InboundHeader_msg"> 
      <part element="tns:InboundFTPHeaderType" name="inboundHeader"/> 
   </message> 

</definitions>

