JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/BODs/Standalone/GetCustomerPartyMaster/www.openapplications.org_oagis_9_unqualifieddatatypes_1.1/UnqualifiedDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../www.openapplications.org_oagis_9_codelists/CodeLists.xsd" namespace="http://www.openapplications.org/oagis/9/codelists" />
  <xsd:complexType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the identifer list and thus, are not declared as attributes. </ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of the agency that maintains the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Defaults to the UN/EDIFACT data element 3055 code list.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC5</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the agency that maintains the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Agency</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000011-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Version. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The version of the identification scheme.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Version</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Data. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the identification scheme data is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme Data</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000011-SC8</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the identification scheme is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000009</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">One calendar day according the Gregorian calendar.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="TimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000010</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The instance of time that occurs every day.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time" />
  </xsd:simpleType>
  <xsd:simpleType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000008</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date Time. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A particular point in the progression of time together with the relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Date Time</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Can be used for a date and/or time.</ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000012</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Indicator. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A list of two mutually exclusive Boolean values that express the only possible states of a property.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Indicator</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="false" />
      <xsd:pattern value="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000020</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string that consititues the distinctive designation of a person, place, thing or concept.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000020-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000019</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string (i.e. a finite set of characters) generally in the form of words of a language.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000019-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000013</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A numeric value determined by measuring an object along with the specified unit of measure.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure</ccts:RepresentationTermName>
        <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Type</ccts:PropertyTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">decimal</ccts:PrimitiveType>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="oacl:UnitCodeContentType" use="required">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT0000013-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure Unit. Code</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The type of unit of measure.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Measure Unit</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Reference UN/ECE Rec 20 and X12 355.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007</ccts:UniqueID>
        <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT</ccts:CategoryCode>
        <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code. Type</ccts:DictionaryEntryName>
        <ccts:VersionID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">1.0</ccts:VersionID>
        <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.</ccts:Definition>
        <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:RepresentationTermName>
        <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
        <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Other supplementary components in the CCT are captured as part of the token and name for the schema module containing the code list and thus, are not declared as attributes. </ccts:UsageRule>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:normalizedString">
        <xsd:attribute name="listID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC2</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC3</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Agency. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">An agency that maintains one or more lists of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
              <ccts:UsageRule xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Defaults to the UN/EDIFACT data element 3055 code list.</ccts:UsageRule>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC4</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Agency Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of the agency that maintains the list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Agency Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC5</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The name of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UNDT000007-SC6</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identification of a list of codes.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC7</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code. Name. Text</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The textual equivalent of the code content component.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Name</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Text</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC8</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The identifier of the language used in the code name.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Language</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identification</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC9</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the code list is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              <ccts:UniqueID xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">UDT000007-SC10</ccts:UniqueID>
              <ccts:CategoryCode xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">SC</ccts:CategoryCode>
              <ccts:DictionaryEntryName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List Scheme. Uniform Resource. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">The Uniform Resource Identifier that identifies where the code list scheme is located.</ccts:Definition>
              <ccts:ObjectClass xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Code List Scheme</ccts:ObjectClass>
              <ccts:PropertyTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Uniform Resource Identifier</ccts:PropertyTermName>
              <ccts:RepresentationTermName xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">Identifier</ccts:RepresentationTermName>
              <ccts:PrimitiveType xmlns:ccts="urn:un:unece:uncefact:documentation:1.1">string</ccts:PrimitiveType>
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>