JDEV11G/SOAApp/TEST_Enqueue_AQ/xsd/BPELProcess1.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Sarah_Mappings/TEST_Enqueue_AQ/BPELProcess1"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="ecid" minOccurs="0" type="string" />
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
