JDEV10G/VDSTv1/VDST_BPEL_CSV_ChannelPartnerListProvABCS/bpel/VDST_DBINS_ChannelPartnerList_Staging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="VDST_DBINS_ChannelPartnerList_Staging"
    targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/VDST_DBINS_ChannelPartnerList_Staging/"
    xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/VDST_DBINS_ChannelPartnerList_Staging/"
    xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
    xmlns:pc="http://xmlns.oracle.com/pcbpel/"
    xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/VDSTDBINSChannelPartnerListStaging"
    xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/db/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/" location="DBAdapterOutboundHeader.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/VDSTDBINSChannelPartnerListStaging"
                schemaLocation="VDSTDBINSChannelPartnerListStaging_table.xsd"/>
        </schema>
    </types>

    <message name="VdstChnlpartnerMasterCollection_msg">
        <part name="VdstChnlpartnerMasterCollection" element="top:VdstChnlpartnerMasterCollection"/>
    </message>


    <portType name="VDST_DBINS_ChannelPartnerList_Staging_ptt">
        <operation name="merge">
            <input message="tns:VdstChnlpartnerMasterCollection_msg"/>
        </operation>
        <operation name="write">
            <input message="tns:VdstChnlpartnerMasterCollection_msg"/>
        </operation>
        <operation name="insert">
            <input message="tns:VdstChnlpartnerMasterCollection_msg"/>
        </operation>
        <operation name="update">
            <input message="tns:VdstChnlpartnerMasterCollection_msg"/>
        </operation>
    </portType>

    <binding name="VDST_DBINS_ChannelPartnerList_Staging_binding" type="tns:VDST_DBINS_ChannelPartnerList_Staging_ptt">
        <jca:binding />
        <operation name="merge">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="VDSTDBINSChannelPartnerListStaging.VdstChnlpartnerMaster"
                DmlType="merge"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="VDSTDBINSChannelPartnerListStaging_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="write">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="VDSTDBINSChannelPartnerListStaging.VdstChnlpartnerMaster"
                DmlType="write"
                MappingsMetaDataURL="VDSTDBINSChannelPartnerListStaging_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="insert">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="VDSTDBINSChannelPartnerListStaging.VdstChnlpartnerMaster"
                DmlType="insert"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="VDSTDBINSChannelPartnerListStaging_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="update">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="VDSTDBINSChannelPartnerListStaging.VdstChnlpartnerMaster"
                DmlType="update"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="VDSTDBINSChannelPartnerListStaging_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
    </binding>

    <!-- Your runtime connection is declared in
        J2EE_HOME/application-deployments/default/DbAdapter/oc4j-ra.xml
        These 'mcf' properties here are from your design time connection and 
        save you from having to edit that file and restart the application server
        if eis/DB/VDST/CMC/Import is missing.
        These 'mcf' properties are safe to remove.
    -->
    <service name="VDST_DBINS_ChannelPartnerList_Staging">
        <port name="VDST_DBINS_ChannelPartnerList_Staging_pt" binding="tns:VDST_DBINS_ChannelPartnerList_Staging_binding">
            <jca:address location="eis/DB/VDST/CMC/Import"
                UIConnectionName="CMC_VDST_IMPORT_CNCT_Stage"/>
        </port>
    </service>

    <plt:partnerLinkType name="VDST_DBINS_ChannelPartnerList_Staging_plt" >
        <plt:role name="VDST_DBINS_ChannelPartnerList_Staging_role" >
            <plt:portType name="tns:VDST_DBINS_ChannelPartnerList_Staging_ptt" />
        </plt:role>
    </plt:partnerLinkType>

</definitions>
