JDEV11G/Dhami-SOA/SOAPCustomerHeaderSender/xsd/CustomHeaderSender_BPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Dhami_SOA/SOAPCustomerHeaderSender/CustomHeaderSender_BPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="amount" type="int"/>
        <element name="priority" type="int"/>
			</sequence>
		</complexType>
	</element>
</schema>