JDEV10G/Dhami3/TransformESB/MDMSchemas/ServiceSchemas/log/LogRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://www.gssamerica.com/mdm/loghandler" elementFormDefault="unqualified" targetNamespace="http://www.gssamerica.com/mdm/loghandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogRequestType">
    <xs:sequence>
      <xs:element name="TransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:string" />
      <xs:element name="ProcessName" type="xs:string" />
      <xs:element name="ProjectName" type="xs:string" />
      <xs:element minOccurs="0" name="LogType" type="xs:string" />
      <xs:element name="LogMessage" type="xs:string" />
      <xs:element minOccurs="0" name="LogData" type="xs:string" />
      <xs:element name="LogLevel" type="xs:string" />
      <xs:element name="Environment" type="xs:string" />
      <xs:element name="statusFlag" type="xs:string" />
      <xs:element minOccurs="0" name="Location" type="xs:string" />
      <xs:element name="createdDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogRequests">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="LogRequest" type="LogRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>