JDEV11G/Dhami-SOA/Shivani_TrX_Usecase/xsd/Trx_Bpel_Usecase.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Dhami_SOA/Shivani_TrX_Usecase/Trx_Bpel_Usecase"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="record_id" type="string"/>
        <element name="record_sub_id" type="string"/>
        <element name="record_details" type="string"/>
        <element name="record_sub_details" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>