JDEV11G/SOAApp/Project1/Invoice1.wsdl

<?binding.jca Invoice1_apps.jca?>
<wsdl:definitions name="Invoice1" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/apps/SOAApp/Project1/Invoice1" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/apps/SOAApp/Project1/Invoice1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" xmlns:imp1="http://TargetNamespace.com/Invoice1" xmlns:ph="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="Enqueue_plt">
        <plt:role name="Enqueue_role">
            <plt:portType name="tns:Enqueue_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="Invoice1HeaderCType">
                <sequence>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="Invoice1Header" type="ph:Invoice1HeaderCType"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://TargetNamespace.com/Invoice1" schemaLocation="xsd/PROCESS_INVOICE_002.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PROCESS_INVOICE_002_msg">
        <wsdl:part name="PROCESS_INVOICE_002" element="imp1:PROCESS_INVOICE_002"/>
    </wsdl:message>
    <wsdl:message name="Header_msg">
        <wsdl:part name="Header" element="ph:Invoice1Header"/>
    </wsdl:message>
    <wsdl:portType name="Enqueue_ptt">
        <wsdl:operation name="Enqueue">
            <wsdl:input message="tns:PROCESS_INVOICE_002_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
