JDEV10G/Dhami2/ETH_ESB_ProcessPurchaseOrder/public_html/TransactionComplianceData.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="unqualified"
	targetNamespace="http://xmlns.emrsn.com/TransactionComplianceData"
	xmlns="http://www.w3.org/2001/XMLSchema">
        
	<element name="TransactionComplianceData">
		<complexType>
			<sequence>
                                <element name="TransactionType" type="string"/>
				<element name="Payload" type="string"/>                                
			</sequence>
		</complexType>
	</element>
</schema>