JDEV10G/Dhami2/ETH_ESB_B2B_InputOutput/ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B.wsdl

<definitions
     name="ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="urn:oracle:integration:b2b:DCC1FCD2811C47748DF43A39F735F4F0"
     xmlns:obj1="http://xmlns.oracle.com/xdb/B2B"
    >
    <types>
    <!-- Define AQ Headers = Payload Headers + Static Queue Headers -->
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B/"
            xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/"
            xmlns:obj1="http://xmlns.oracle.com/xdb/B2B" >
      <import namespace="http://xmlns.oracle.com/xdb/B2B" schemaLocation="B2B_IP_MESSAGE_TYPE.xsd"/>
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/" schemaLocation="aqAdapterOutboundHeader.xsd"/>
      <complexType name="HeaderCType" >
        <sequence>
          <!-- static header -->
          <element name="QueueHeader" type="hdr:HeaderType" />
          <!-- payload header -->
          <element name="PayloadHeader" type="obj1:IP_MESSAGE_TYPE" />
        </sequence>
      </complexType>
      <element name="Header" type="tns:HeaderCType" />
    </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="urn:oracle:integration:b2b:DCC1FCD2811C47748DF43A39F735F4F0" schemaLocation="public_html/X12_5020_850.xsd" />
      </schema>
    </types>
    <message name="Transaction-850_msg">
        <part name="Transaction-850" element="imp1:Transaction-850"/>
    </message>
    <message name="Header_msg">
        <part name="Header" element="tns:Header"/>
    </message>
    <portType name="Enqueue_ptt">
        <operation name="Enqueue">
            <input message="tns:Transaction-850_msg"/>
        </operation>
    </portType>
    <binding name="Enqueue_binding" type="tns:Enqueue_ptt">
    <jca:binding  />
        <operation name="Enqueue">
      <jca:operation
          InteractionSpec="oracle.tip.adapter.aq.outbound.AQEnqueueInteractionSpec"
          QueueName="IP_OUT_QUEUE"
          DatabaseSchema="B2B"
          ObjectFieldName="PAYLOAD"
          PayloadHeaderRequired="true"
          RecipientList="B2BUSER"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="tns:Header_msg" part="Header"/>
      </input>
        </operation>
    </binding>
    <service name="ETH_ProcessPO_ENQAQ_EDI_5020_to_B2B">
        <port name="Enqueue_pt" binding="tns:Enqueue_binding">
<!--Your runtime connection is declared in 
J2EE_HOME/application-deployments/default/AqAdapter/oc4j-ra.xml 
These mcf properties here are from your design time connection and 
save you from having to edit that file and restart the application server 
if eis/AQ/ETH_B2B is missing. 
These mcf properties are safe to remove.-->
      <jca:address location="eis/AQ/ETH_B2B" UIConnectionName="db_Elshat4_B2B"
          ManagedConnectionFactory="oracle.tip.adapter.aq.AQManagedConnectionFactory"
          mcf.ConnectionString="jdbc:oracle:thin:@elshat1db.emrsn.com:20004:elshat4"
          mcf.UserName="b2b"
          mcf.Password="6672B6209889299522E4386C0667FD08" />
        </port>
    </service>
  <plt:partnerLinkType name="Enqueue_plt" >
    <plt:role name="Enqueue_role" >
      <plt:portType name="tns:Enqueue_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
