JDEV10G/Dhami3/Create_MDMRecords_BPELProcess/bpel/ExternalParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.oracle.com/service/bpel/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" xmlns:q1="http://schemas.oracle.com/service/bpel/common" type="q1:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parameters" xmlns:q2="http://schemas.oracle.com/service/bpel/common" type="q2:ParametersType" />
</xs:schema>