JDEV10G/ErrorHandlingPOC1/CommonErrorHandler/bpel/CommonErrorHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CommonErrorHandler"
             targetNamespace="http://schema.emerson.com/common/errorHandler"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:client="http://schema.emerson.com/common/errorHandler"
             xmlns:ns1="http://schemas.emerson.com/common/envelope"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<types>
                <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.emerson.com/common/envelope">
                    <import namespace="http://schemas.emerson.com/common/envelope" schemaLocation="EMR_CTE.xsd" />
                </schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.emerson.com/common/errorHandler">
			<element name="errorDetails">
				<complexType>
					<sequence>
						<element name="account" type="string"/>
						<element name="errorCode" type="string"/>
						<element name="errorSummary" type="string"/>
						<element name="errorDetail" type="string"/>
                                                <element name="errorSeverity" type="string"/>
						<element name="email" type="string"/>
                                                <element name="messageID" type="string" minOccurs="0"/>
                                                <element name="processID" type="string"/>
                                                <element name="processName" type="string"/>
                                                <element name="environment" type="string"/>
                                                <element name="errorDateTime" type="datetime"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<message name="CommonErrorHandlerErrorEBHRequestMessage">
		<part name="payload1" element="ns1:header" />
	</message>
        
        <message name="CommonErrorHandlerErrorRequestMessage">
		<part name="payload2" element="ns1:header" />
	</message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the CommonErrorHandler BPEL process -->
	<portType name="CommonErrorHandler">
		<operation name="submitErrorEBH">
			<input message="client:CommonErrorHandlerErrorEBHRequestMessage"/>
		</operation>
                <operation name="submitError">
			<input message="client:CommonErrorHandlerErrorRequestMessage"/>
		</operation>
	</portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the CommonErrorHandler partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="CommonErrorHandler">
		<plnk:role name="CommonErrorHandlerProvider">
			<plnk:portType name="client:CommonErrorHandler"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
