JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/BODs/Standalone/GetCustomerPartyMaster/www.openapplications.org_oagis_9_codelists/CodeLists.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:clm5639="http://www.openapplications.org/oagis/9/languagecode/5639:1988" xmlns:clm66411="http://www.openapplications.org/oagis/9/unitcode/66411:2001" xmlns:clm54217="http://www.openapplications.org/oagis/9/currencycode/54217:2001" xmlns="http://www.openapplications.org/oagis/9/codelists" xmlns:clmIANAMIMEMediaTypes="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../www.openapplications.org_oagis_9_currencycode_54217_2001/CodeList_CurrencyCode_ISO_7_04.xsd" namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" />
  <xsd:import schemaLocation="../www.openapplications.org_oagis_9_languagecode_5639_1988/CodeList_LanguageCode_ISO_7_04.xsd" namespace="http://www.openapplications.org/oagis/9/languagecode/5639:1988" />
  <xsd:import schemaLocation="../www.openapplications.org_oagis_9_unitcode_66411_2001/CodeList_UnitCode_UNECE_7_04.xsd" namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" />
  <xsd:simpleType name="ResponseCodeContentType">
    <xsd:annotation>
      <xsd:documentation source="http://www.openapplications.org/oagis/9">Allows the user to use any of the codes that OAGi defines or add additional values.</xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="ResponseCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="ResponseCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation source="http://www.openapplications.org/oagis/9">The acknowledge values that OAGi defines for OAGIS.  </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Always" />
      <xsd:enumeration value="OnError" />
      <xsd:enumeration value="Never" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageCodeContentType">
    <xsd:union memberTypes="xsd:normalizedString clm5639:LanguageCodeContentType" />
  </xsd:simpleType>
  <xsd:simpleType name="SystemEnvironmentCodeContentType">
    <xsd:union memberTypes="SystemEnvironmentCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="SystemEnvironmentCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Production" />
      <xsd:enumeration value="Test" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UnitCodeContentType">
    <xsd:union memberTypes="clm66411:UnitCodeContentType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryPointCodeContentType">
    <xsd:union memberTypes="DeliveryPointCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryPointCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="CountrySubdivisionCodeContentType">
    <xsd:union memberTypes="CountrySubdivisionCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="CountrySubdivisionCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeContentType">
    <xsd:union memberTypes="CountryCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="PartyCategoryCodeContentType">
    <xsd:union memberTypes="PartyCategoryCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="PartyCategoryCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation source="http://www.openapplications.org/oagis/9">This list of Party Categories.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Organization" />
      <xsd:enumeration value="Individual" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PartyRoleCodeContentType">
    <xsd:union memberTypes="PartyRoleCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="PartyRoleCodeEnumerationType">
    <xsd:annotation>
      <xsd:documentation source="http://www.openapplications.org/oagis/9">This list is the agreed to Party Roles.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="PaymentMethodCodeContentType">
    <xsd:union memberTypes="PaymentMethodCodeEnumerationType xsd:normalizedString" />
  </xsd:simpleType>
  <xsd:simpleType name="PaymentMethodCodeEnumerationType">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Cash" />
      <xsd:enumeration value="Cheque" />
      <xsd:enumeration value="CreditCard" />
      <xsd:enumeration value="DebitCard" />
      <xsd:enumeration value="ElectronicFundsTransfer" />
      <xsd:enumeration value="ProcurementCard" />
      <xsd:enumeration value="BankDraft" />
      <xsd:enumeration value="PurchaseOrder" />
      <xsd:enumeration value="CreditTransfer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CurrencyCodeContentType">
    <xsd:union memberTypes="clm54217:CurrencyCodeContentType xsd:normalizedString" />
  </xsd:simpleType>
</xsd:schema>