JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/AllocateResource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/AllocateResource.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncAllocateResource.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessAllocateResource">
                <part name="Message" element="oa:ProcessAllocateResource"/>
        </message>
        <message name="AcknowledgeAllocateResource">
                <part name="Message" element="oa:AcknowledgeAllocateResource"/>
        </message>
        <message name="GetAllocateResource">
                <part name="Message" element="oa:GetAllocateResource"/>
        </message>
        <message name="ShowAllocateResource">
                <part name="Message" element="oa:ShowAllocateResource"/>
        </message>
        <message name="NotifyAllocateResource">
                <part name="Message" element="oa:NotifyAllocateResource"/>
        </message>
        <message name="SyncAllocateResource">
                <part name="Message" element="oa:SyncAllocateResource"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestAllocateResourcePortType">
                <operation name="ProcessAllocateResource">
                        <input message="oaws:ProcessAllocateResource"/>
                </operation>
                <operation name="GetAllocateResource">
                        <input message="oaws:GetAllocateResource"/>
                </operation>
                <operation name="NotifyAllocateResource">
                        <input message="oaws:NotifyAllocateResource"/>
                </operation>
                <operation name="SyncAllocateResource">
                        <input message="oaws:SyncAllocateResource"/>
                </operation>
        </portType>
        <portType name="ResponseAllocateResourcePortType">
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="AcknowledgeAllocateResource">
                        <input message="oaws:AcknowledgeAllocateResource"/>
                </operation>
                <operation name="ShowAllocateResource">
                        <input message="oaws:ShowAllocateResource"/>
                </operation>
        </portType>
        <portType name="SyncAllocateResourcePortType">
                <operation name="ProcessAllocateResource">
                        <input message="oaws:ProcessAllocateResource"/>
                        <output message="oaws:AcknowledgeAllocateResource"/>
                </operation>
                <operation name="GetAllocateResource">
                        <input message="oaws:GetAllocateResource"/>
                        <output message="oaws:ShowAllocateResource"/>
                </operation>
                <operation name="NotifyAllocateResource">
                        <input message="oaws:NotifyAllocateResource"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="SyncAllocateResource">
                        <input message="oaws:SyncAllocateResource"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestAllocateResourceBinding" type="oaws:RequestAllocateResourcePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseAllocateResourceBinding" type="oaws:ResponseAllocateResourcePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncAllocateResourceBinding" type="oaws:SyncAllocateResourcePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncAllocateResource">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/AllocateResource.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestAllocateResourceService">
                <port name="RequestAllocateResourceBinding" binding="oaws:RequestAllocateResourceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestAllocateResource"/>
                </port>
        </service>
        <service name="ResponseAllocateResourceService">
                <port name="ResponseAllocateResourceBinding" binding="oaws:ResponseAllocateResourceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseAllocateResource"/>
                </port>
        </service>
        <service name="SyncAllocateResourceService">
                <port name="SyncAllocateResourceBinding" binding="oaws:SyncAllocateResourceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncAllocateResource"/>
                </port>
        </service>
</definitions>
