JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/CurrencyExchangeRate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/CurrencyExchangeRate.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetCurrencyExchangeRate.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCurrencyExchangeRate.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncCurrencyExchangeRate.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyCurrencyExchangeRate.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetCurrencyExchangeRate">
                <part name="Message" element="oa:GetCurrencyExchangeRate"/>
        </message>
        <message name="ShowCurrencyExchangeRate">
                <part name="Message" element="oa:ShowCurrencyExchangeRate"/>
        </message>
        <message name="SyncCurrencyExchangeRate">
                <part name="Message" element="oa:SyncCurrencyExchangeRate"/>
        </message>
        <message name="NotifyCurrencyExchangeRate">
                <part name="Message" element="oa:NotifyCurrencyExchangeRate"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCurrencyExchangeRatePortType">
                <operation name="GetCurrencyExchangeRate">
                        <input message="oaws:GetCurrencyExchangeRate"/>
                </operation>
                <operation name="SyncCurrencyExchangeRate">
                        <input message="oaws:SyncCurrencyExchangeRate"/>
                </operation>
                <operation name="NotifyCurrenceyExchangeRate">
                        <input message="oaws:NotifyCurrencyExchangeRate"/>
                </operation>
        </portType>
        <portType name="ResponseCurrencyExchangeRatePortType">
                <operation name="ShowCurrencyExchangeRate">
                        <input message="oaws:ShowCurrencyExchangeRate"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncCurrencyExchangeRatePortType">
                <operation name="GetCurrencyExchangeRate">
                        <input message="oaws:GetCurrencyExchangeRate"/>
                        <output message="oaws:ShowCurrencyExchangeRate"/>
                </operation>
                <operation name="SyncCurrencyExchangeRate">
                        <input message="oaws:SyncCurrencyExchangeRate"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyCurrenceyExchangeRate">
                        <input message="oaws:NotifyCurrencyExchangeRate"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestCurrencyExchangeRateBinding" type="oaws:RequestCurrencyExchangeRatePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCurrencyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncCurrencyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyCurrenceyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCurrencyExchangeRateBinding" type="oaws:ResponseCurrencyExchangeRatePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowCurrencyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCurrencyExchangeRateBinding" type="oaws:SyncCurrencyExchangeRatePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCurrencyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncCurrencyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyCurrenceyExchangeRate">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CurrencyExchangeRate.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCurrencyExchangeRateService">
                <port name="RequestCurrencyExchangeRateBinding" binding="oaws:RequestCurrencyExchangeRateBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCurrencyExchangeRate"/>
                </port>
        </service>
        <service name="ResponseCurrencyExchangeRateService">
                <port name="ResponseCurrencyExchangeRateBinding" binding="oaws:ResponseCurrencyExchangeRateBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCurrencyExchangeRate"/>
                </port>
        </service>
        <service name="SyncCurrencyExchangeRateService">
                <port name="SyncCurrencyExchangeRateBinding" binding="oaws:SyncCurrencyExchangeRateBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCurrencyExchangeRate"/>
                </port>
        </service>
</definitions>
