JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/EngineeringWorkDocument.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/EngineeringWorkDocument.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateEngineeringWorkDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeEngineeringWorkDocument">
                <part name="Message" element="oa:AcknowledgeEngineeringWorkDocument"/>
        </message>
        <message name="CancelEngineeringWorkDocument">
                <part name="Message" element="oa:CancelEngineeringWorkDocument"/>
        </message>
        <message name="ChangeEngineeringWorkDocument">
                <part name="Message" element="oa:ChangeEngineeringWorkDocument"/>
        </message>
        <message name="GetEngineeringWorkDocument">
                <part name="Message" element="oa:GetEngineeringWorkDocument"/>
        </message>
        <message name="ProcessEngineeringWorkDocument">
                <part name="Message" element="oa:ProcessEngineeringWorkDocument"/>
        </message>
        <message name="RespondEngineeringWorkDocument">
                <part name="Message" element="oa:RespondEngineeringWorkDocument"/>
        </message>
        <message name="ShowEngineeringWorkDocument">
                <part name="Message" element="oa:ShowEngineeringWorkDocument"/>
        </message>
        <message name="SyncEngineeringWorkDocument">
                <part name="Message" element="oa:SyncEngineeringWorkDocument"/>
        </message>
        <message name="NotifyEngineeringWorkDocument">
                <part name="Message" element="oa:NotifyEngineeringWorkDocument"/>
        </message>
        <message name="UpdateEngineeringWorkDocument">
                <part name="Message" element="oa:UpdateEngineeringWorkDocument"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestEngineeringWorkDocumentPortType">
                <operation name="CancelEngineeringWorkDocument">
                        <input message="oaws:CancelEngineeringWorkDocument"/>
                </operation>
                <operation name="ChangeEngineeringWorkDocument">
                        <input message="oaws:ChangeEngineeringWorkDocument"/>
                </operation>
                <operation name="ProcessEngineeringWorkDocument">
                        <input message="oaws:ProcessEngineeringWorkDocument"/>
                </operation>
                <operation name="GetEngineeringWorkDocument">
                        <input message="oaws:GetEngineeringWorkDocument"/>
                </operation>
                <operation name="SyncEngineeringWorkDocument">
                        <input message="oaws:SyncEngineeringWorkDocument"/>
                </operation>
                <operation name="UpdateEngineeringWorkDocument">
                        <input message="oaws:UpdateEngineeringWorkDocument"/>
                </operation>
                <operation name="NotifyEngineeringWorkDocument">
                        <input message="oaws:NotifyEngineeringWorkDocument"/>
                </operation>
        </portType>
        <portType name="ResponseEngineeringWorkDocumentPortType">
                <operation name="AcknowledgeEngineeringWorkDocument">
                        <input message="oaws:AcknowledgeEngineeringWorkDocument"/>
                </operation>
                <operation name="RespondEngineeringWorkDocument">
                        <input message="oaws:RespondEngineeringWorkDocument"/>
                </operation>
                <operation name="ShowEngineeringWorkDocument">
                        <input message="oaws:ShowEngineeringWorkDocument"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncEngineeringWorkDocumentPortType">
                <operation name="ProcessEngineeringWorkDocument">
                        <input message="oaws:ProcessEngineeringWorkDocument"/>
                        <output message="oaws:AcknowledgeEngineeringWorkDocument"/>
                </operation>
                <operation name="ChangeEngineeringWorkDocument">
                        <input message="oaws:ChangeEngineeringWorkDocument"/>
                        <output message="oaws:RespondEngineeringWorkDocument"/>
                </operation>
                <operation name="CancelEngineeringWorkDocument">
                        <input message="oaws:CancelEngineeringWorkDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetEngineeringWorkDocument">
                        <input message="oaws:GetEngineeringWorkDocument"/>
                        <output message="oaws:ShowEngineeringWorkDocument"/>
                </operation>
                <operation name="SyncEngineeringWorkDocument">
                        <input message="oaws:SyncEngineeringWorkDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateEngineeringWorkDocument">
                        <input message="oaws:UpdateEngineeringWorkDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyEngineeringWorkDocument">
                        <input message="oaws:NotifyEngineeringWorkDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestEngineeringWorkDocumentBinding" type="oaws:RequestEngineeringWorkDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="CancelEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseEngineeringWorkDocumentBinding" type="oaws:ResponseEngineeringWorkDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncEngineeringWorkDocumentBinding" type="oaws:SyncEngineeringWorkDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyEngineeringWorkDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/EngineeringWorkDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestEngineeringWorkDocumentService">
                <port name="RequestEngineeringWorkDocumentBinding" binding="oaws:RequestEngineeringWorkDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestEngineeringWorkDocument"/>
                </port>
        </service>
        <service name="ResponseEngineeringWorkDocumentService">
                <port name="ResponseEngineeringWorkDocumentBinding" binding="oaws:ResponseEngineeringWorkDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseEngineeringWorkDocument"/>
                </port>
        </service>
        <service name="SyncEngineeringWorkDocumentService">
                <port name="SyncEngineeringWorkDocumentBinding" binding="oaws:SyncEngineeringWorkDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncEngineeringWorkDocument"/>
                </port>
        </service>
</definitions>
