JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/InventoryCount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/InventoryCount.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateInventoryCount.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                        <xs:include schemaLocation="../../../Resources/Nouns/BOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeInventoryCount">
                <part name="Message" element="oa:AcknowledgeInventoryCount"/>
        </message>
        <message name="GetListInventoryCount">
                <part name="Message" element="oa:GetListInventoryCount"/>
        </message>
        <message name="ListInventoryCount">
                <part name="Message" element="oa:ListInventoryCount"/>
        </message>
        <message name="GetInventoryCount">
                <part name="Message" element="oa:GetInventoryCount"/>
        </message>
        <message name="ProcessInventoryCount">
                <part name="Message" element="oa:ProcessInventoryCount"/>
        </message>
        <message name="ShowInventoryCount">
                <part name="Message" element="oa:ShowInventoryCount"/>
        </message>
        <message name="SyncInventoryCount">
                <part name="Message" element="oa:SyncInventoryCount"/>
        </message>
        <message name="NotifyInventoryCount">
                <part name="Message" element="oa:NotifyInventoryCount"/>
        </message>
        <message name="UpdateInventoryCount">
                <part name="Message" element="oa:UpdateInventoryCount"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestInventoryCountPortType">
                <operation name="GetListInventoryCount">
                        <input message="oaws:GetListInventoryCount"/>
                </operation>
                <operation name="ProcessInventoryCount">
                        <input message="oaws:ProcessInventoryCount"/>
                </operation>
                <operation name="GetInventoryCount">
                        <input message="oaws:GetInventoryCount"/>
                </operation>
                <operation name="SyncInventoryCount">
                        <input message="oaws:SyncInventoryCount"/>
                </operation>
                <operation name="UpdateInventoryCount">
                        <input message="oaws:UpdateInventoryCount"/>
                </operation>
                <operation name="NotifyInventoryCount">
                        <input message="oaws:NotifyInventoryCount"/>
                </operation>
        </portType>
        <portType name="ResponseInventoryCountPortType">
                <operation name="AcknowledgeInventoryCount">
                        <input message="oaws:AcknowledgeInventoryCount"/>
                </operation>
                <operation name="ListInventoryCount">
                        <input message="oaws:ListInventoryCount"/>
                </operation>
                <operation name="ShowInventoryCount">
                        <input message="oaws:ShowInventoryCount"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncInventoryCountPortType">
                <operation name="ProcessInventoryCount">
                        <input message="oaws:ProcessInventoryCount"/>
                        <output message="oaws:AcknowledgeInventoryCount"/>
                </operation>
                <operation name="GetListInventoryCount">
                        <input message="oaws:GetListInventoryCount"/>
                        <output message="oaws:ListInventoryCount"/>
                </operation>
                <operation name="GetInventoryCount">
                        <input message="oaws:GetInventoryCount"/>
                        <output message="oaws:ShowInventoryCount"/>
                </operation>
                <operation name="SyncInventoryCount">
                        <input message="oaws:SyncInventoryCount"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateInventoryCount">
                        <input message="oaws:UpdateInventoryCount"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyInventoryCount">
                        <input message="oaws:NotifyInventoryCount"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestInventoryCountBinding" type="oaws:RequestInventoryCountPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetListInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseInventoryCountBinding" type="oaws:ResponseInventoryCountPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncInventoryCountBinding" type="oaws:SyncInventoryCountPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyInventoryCount">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InventoryCount.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestInventoryCountService">
                <port name="RequestInventoryCountBinding" binding="oaws:RequestInventoryCountBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestInventoryCount"/>
                </port>
        </service>
        <service name="ResponseInventoryCountService">
                <port name="ResponseInventoryCountBinding" binding="oaws:ResponseInventoryCountBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseInventoryCount"/>
                </port>
        </service>
        <service name="SyncInventoryCountService">
                <port name="SyncInventoryCountBinding" binding="oaws:SyncInventoryCountBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncInventoryCount"/>
                </port>
        </service>
</definitions>
