JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/LocationService.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetLocationService.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowLocationService.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetLocationService">
                <part name="Message" element="oa:GetLocationService"/>
        </message>
        <message name="ShowLocationService">
                <part name="Message" element="oa:ShowLocationService"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestLocationServicePortType">
                <operation name="GetLocationService">
                        <input message="oaws:GetLocationService"/>
                </operation>
        </portType>
        <portType name="ResponseLocationServicePortType">
                <operation name="ShowLocationService">
                        <input message="oaws:ShowLocationService"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncLocationServicePortType">
                <operation name="GetLocationService">
                        <input message="oaws:GetLocationService"/>
                        <output message="oaws:ShowLocationService"/>
                </operation>
        </portType>
        <binding name="RequestLocationServiceBinding" type="oaws:RequestLocationServicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetLocationService">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/LocationService.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseLocationServiceBinding" type="oaws:ResponseLocationServicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowLocationService">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/LocationService.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/LocationService.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncLocationServiceBinding" type="oaws:SyncLocationServicePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetLocationService">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/LocationService.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestLocationServiceService">
                <port name="RequestLocationServiceBinding" binding="oaws:RequestLocationServiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestLocationService"/>
                </port>
        </service>
        <service name="ResponseLocationServiceService">
                <port name="ResponseLocationServiceBinding" binding="oaws:ResponseLocationServiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseLocationService"/>
                </port>
        </service>
        <service name="SyncLocationServiceService">
                <port name="SyncLocationServiceBinding" binding="oaws:SyncLocationServiceBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncLocationService"/>
                </port>
        </service>
</definitions>
