JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/MoveWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/MoveWIP.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessMoveWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeMoveWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetMoveWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowMoveWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessMoveWIP">
                <part name="Message" element="oa:ProcessMoveWIP"/>
        </message>
        <message name="AcknowledgeMoveWIP">
                <part name="Message" element="oa:AcknowledgeMoveWIP"/>
        </message>
        <message name="GetMoveWIP">
                <part name="Message" element="oa:GetMoveWIP"/>
        </message>
        <message name="ShowMoveWIP">
                <part name="Message" element="oa:ShowMoveWIP"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestMoveWIPPortType">
                <operation name="ProcessMoveWIP">
                        <input message="oaws:ProcessMoveWIP"/>
                </operation>
                <operation name="GetMoveWIP">
                        <input message="oaws:GetMoveWIP"/>
                </operation>
        </portType>
        <portType name="ResponseMoveWIPPortType">
                <operation name="ShowMoveWIP">
                        <input message="oaws:ShowMoveWIP"/>
                </operation>
                <operation name="AcknowledgeMoveWIP">
                        <input message="oaws:AcknowledgeMoveWIP"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncMoveWIPPortType">
                <operation name="ProcessMoveWIP">
                        <input message="oaws:ProcessMoveWIP"/>
                        <output message="oaws:AcknowledgeMoveWIP"/>
                </operation>
                <operation name="GetMoveWIP">
                        <input message="oaws:GetMoveWIP"/>
                        <output message="oaws:ShowMoveWIP"/>
                </operation>
        </portType>
        <binding name="RequestMoveWIPBinding" type="oaws:RequestMoveWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseMoveWIPBinding" type="oaws:ResponseMoveWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncMoveWIPBinding" type="oaws:SyncMoveWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetMoveWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MoveWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestMoveWIPService">
                <port name="RequestMoveWIPBinding" binding="oaws:RequestMoveWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestMoveWIP"/>
                </port>
        </service>
        <service name="ResponseMoveWIPService">
                <port name="ResponseMoveWIPBinding" binding="oaws:ResponseMoveWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseMoveWIP"/>
                </port>
        </service>
        <service name="SyncMoveWIPService">
                <port name="SyncMoveWIPBinding" binding="oaws:SyncMoveWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncMoveWIP"/>
                </port>
        </service>
</definitions>
