JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Personnel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Personnel.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetPersonnel.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPersonnel.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncPersonnel.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyPersonnel.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetPersonnel">
                <part name="Message" element="oa:GetPersonnel"/>
        </message>
        <message name="ShowPersonnel">
                <part name="Message" element="oa:ShowPersonnel"/>
        </message>
        <message name="SyncPersonnel">
                <part name="Message" element="oa:SyncPersonnel"/>
        </message>
        <message name="NotifyPersonnel">
                <part name="Message" element="oa:NotifyPersonnel"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPersonnelPortType">
                <operation name="GetPersonnel">
                        <input message="oaws:GetPersonnel"/>
                </operation>
                <operation name="SyncPersonnel">
                        <input message="oaws:SyncPersonnel"/>
                </operation>
                <operation name="NotifyPersonnel">
                        <input message="oaws:NotifyPersonnel"/>
                </operation>
        </portType>
        <portType name="ResponsePersonnelPortType">
                <operation name="ShowPersonnel">
                        <input message="oaws:ShowPersonnel"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPersonnelPortType">
                <operation name="GetPersonnel">
                        <input message="oaws:GetPersonnel"/>
                        <output message="oaws:ShowPersonnel"/>
                </operation>
                <operation name="SyncPersonnel">
                        <input message="oaws:SyncPersonnel"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyPersonnel">
                        <input message="oaws:NotifyPersonnel"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestPersonnelBinding" type="oaws:RequestPersonnelPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePersonnelBinding" type="oaws:ResponsePersonnelPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPersonnelBinding" type="oaws:SyncPersonnelPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyPersonnel">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Personnel.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPersonnelService">
                <port name="RequestPersonnelBinding" binding="oaws:RequestPersonnelBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPersonnel"/>
                </port>
        </service>
        <service name="ResponsePersonnelService">
                <port name="ResponsePersonnelBinding" binding="oaws:ResponsePersonnelBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePersonnel"/>
                </port>
        </service>
        <service name="SyncPersonnelService">
                <port name="SyncPersonnelBinding" binding="oaws:SyncPersonnelBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPersonnel"/>
                </port>
        </service>
</definitions>
