JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/PriceList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/PriceList.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetPriceList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPriceList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncPriceList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyPriceList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetPriceList">
                <part name="Message" element="oa:GetPriceList"/>
        </message>
        <message name="ShowPriceList">
                <part name="Message" element="oa:ShowPriceList"/>
        </message>
        <message name="SyncPriceList">
                <part name="Message" element="oa:SyncPriceList"/>
        </message>
        <message name="NotifyPriceList">
                <part name="Message" element="oa:NotifyPriceList"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPriceListPortType">
                <operation name="GetPriceList">
                        <input message="oaws:GetPriceList"/>
                </operation>
                <operation name="SyncPriceList">
                        <input message="oaws:SyncPriceList"/>
                </operation>
                <operation name="NotifyPriceList">
                        <input message="oaws:NotifyPriceList"/>
                </operation>
        </portType>
        <portType name="ResponsePriceListPortType">
                <operation name="ShowPriceList">
                        <input message="oaws:ShowPriceList"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPriceListPortType">
                <operation name="GetPriceList">
                        <input message="oaws:GetPriceList"/>
                        <output message="oaws:ShowPriceList"/>
                </operation>
                <operation name="SyncPriceList">
                        <input message="oaws:SyncPriceList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyPriceList">
                        <input message="oaws:NotifyPriceList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestPriceListBinding" type="oaws:RequestPriceListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePriceListBinding" type="oaws:ResponsePriceListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPriceListBinding" type="oaws:SyncPriceListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyPriceList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PriceList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPriceListService">
                <port name="RequestPriceListBinding" binding="oaws:RequestPriceListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPriceList"/>
                </port>
        </service>
        <service name="ResponsePriceListService">
                <port name="ResponsePriceListBinding" binding="oaws:ResponsePriceListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePriceList"/>
                </port>
        </service>
        <service name="SyncPriceListService">
                <port name="SyncPriceListBinding" binding="oaws:SyncPriceListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPriceList"/>
                </port>
        </service>
</definitions>
