JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/PurchaseOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/PurchaseOrder.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgePurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangePurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdatePurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyPurchaseOrder.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgePurchaseOrder">
                <part name="Message" element="oa:AcknowledgePurchaseOrder"/>
        </message>
        <message name="CancelPurchaseOrder">
                <part name="Message" element="oa:CancelPurchaseOrder"/>
        </message>
        <message name="ChangePurchaseOrder">
                <part name="Message" element="oa:ChangePurchaseOrder"/>
        </message>
        <message name="GetPurchaseOrder">
                <part name="Message" element="oa:GetPurchaseOrder"/>
        </message>
        <message name="ShowPurchaseOrder">
                <part name="Message" element="oa:ShowPurchaseOrder"/>
        </message>
        <message name="GetListPurchaseOrder">
                <part name="Message" element="oa:GetListPurchaseOrder"/>
        </message>
        <message name="ListPurchaseOrder">
                <part name="Message" element="oa:ListPurchaseOrder"/>
        </message>
        <message name="ProcessPurchaseOrder">
                <part name="Message" element="oa:ProcessPurchaseOrder"/>
        </message>
        <message name="RespondPurchaseOrder">
                <part name="Message" element="oa:RespondPurchaseOrder"/>
        </message>
        <message name="UpdatePurchaseOrder">
                <part name="Message" element="oa:UpdatePurchaseOrder"/>
        </message>
        <message name="SyncPurchaseOrder">
                <part name="Message" element="oa:SyncPurchaseOrder"/>
        </message>
        <message name="NotifyPurchaseOrder">
                <part name="Message" element="oa:NotifyPurchaseOrder"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestPurchaseOrderPortType">
                <operation name="ProcessPurchaseOrder">
                        <input message="oaws:ProcessPurchaseOrder"/>
                </operation>
                <operation name="ChangePurchaseOrder">
                        <input message="oaws:ChangePurchaseOrder"/>
                </operation>
                <operation name="CancelPurchaseOrder">
                        <input message="oaws:CancelPurchaseOrder"/>
                </operation>
                <operation name="GetPurchaseOrder">
                        <input message="oaws:GetPurchaseOrder"/>
                </operation>
                <operation name="GetListPurchaseOrder">
                        <input message="oaws:GetListPurchaseOrder"/>
                </operation>
                <operation name="UpdatePurchaseOrder">
                        <input message="oaws:UpdatePurchaseOrder"/>
                </operation>
                <operation name="SyncPurchaseOrder">
                        <input message="oaws:SyncPurchaseOrder"/>
                </operation>
                <operation name="NotifyPurchaseOrder">
                        <input message="oaws:NotifyPurchaseOrder"/>
                </operation>
        </portType>
        <portType name="ResponsePurchaseOrderPortType">
                <operation name="AcknowledgePurchaseOrder">
                        <input message="oaws:AcknowledgePurchaseOrder"/>
                </operation>
                <operation name="RespondPurchaseOrder">
                        <input message="oaws:RespondPurchaseOrder"/>
                </operation>
                <operation name="ShowPurchaseOrder">
                        <input message="oaws:ShowPurchaseOrder"/>
                </operation>
                <operation name="ListPurchaseOrder">
                        <input message="oaws:ListPurchaseOrder"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPurchaseOrderPortType">
                <operation name="ProcessPurchaseOrder">
                        <input message="oaws:ProcessPurchaseOrder"/>
                        <output message="oaws:AcknowledgePurchaseOrder"/>
                </operation>
                <operation name="ChangePurchaseOrder">
                        <input message="oaws:ChangePurchaseOrder"/>
                        <output message="oaws:RespondPurchaseOrder"/>
                </operation>
                <operation name="CancelPurchaseOrder">
                        <input message="oaws:CancelPurchaseOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetPurchaseOrder">
                        <input message="oaws:GetPurchaseOrder"/>
                        <output message="oaws:ShowPurchaseOrder"/>
                </operation>
                <operation name="GetListPurchaseOrder">
                        <input message="oaws:GetListPurchaseOrder"/>
                        <output message="oaws:ListPurchaseOrder"/>
                </operation>
                <operation name="UpdatePurchaseOrder">
                        <input message="oaws:UpdatePurchaseOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="SyncPurchaseOrder">
                        <input message="oaws:SyncPurchaseOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyPurchaseOrder">
                        <input message="oaws:NotifyPurchaseOrder"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestPurchaseOrderBinding" type="oaws:RequestPurchaseOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangePurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="CancelPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdatePurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePurchaseOrderBinding" type="oaws:ResponsePurchaseOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgePurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPurchaseOrderBinding" type="oaws:SyncPurchaseOrderPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangePurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdatePurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyPurchaseOrder">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PurchaseOrder.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPurchaseOrderService">
                <port name="RequestPurchaseOrderBinding" binding="oaws:RequestPurchaseOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPurchaseOrder"/>
                </port>
        </service>
        <service name="ResponsePurchaseOrderService">
                <port name="ResponsePurchaseOrderBinding" binding="oaws:ResponsePurchaseOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePurchaseOrder"/>
                </port>
        </service>
        <service name="SyncPurchaseOrderService">
                <port name="SyncPurchaseOrderBinding" binding="oaws:SyncPurchaseOrderBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPurchaseOrder"/>
                </port>
        </service>
</definitions>
