JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/RFQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/RFQ.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyRFQ.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeRFQ">
                <part name="Message" element="oa:AcknowledgeRFQ"/>
        </message>
        <message name="CancelRFQ">
                <part name="Message" element="oa:CancelRFQ"/>
        </message>
        <message name="ChangeRFQ">
                <part name="Message" element="oa:ChangeRFQ"/>
        </message>
        <message name="GetRFQ">
                <part name="Message" element="oa:GetRFQ"/>
        </message>
        <message name="ShowRFQ">
                <part name="Message" element="oa:ShowRFQ"/>
        </message>
        <message name="GetListRFQ">
                <part name="Message" element="oa:GetListRFQ"/>
        </message>
        <message name="ListRFQ">
                <part name="Message" element="oa:ListRFQ"/>
        </message>
        <message name="ProcessRFQ">
                <part name="Message" element="oa:ProcessRFQ"/>
        </message>
        <message name="RespondRFQ">
                <part name="Message" element="oa:RespondRFQ"/>
        </message>
        <message name="UpdateRFQ">
                <part name="Message" element="oa:UpdateRFQ"/>
        </message>
        <message name="SyncRFQ">
                <part name="Message" element="oa:SyncRFQ"/>
        </message>
        <message name="NotifyRFQ">
                <part name="Message" element="oa:NotifyRFQ"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestRFQPortType">
                <operation name="ProcessRFQ">
                        <input message="oaws:ProcessRFQ"/>
                </operation>
                <operation name="ChangeRFQ">
                        <input message="oaws:ChangeRFQ"/>
                </operation>
                <operation name="CancelRFQ">
                        <input message="oaws:CancelRFQ"/>
                </operation>
                <operation name="GetRFQ">
                        <input message="oaws:GetRFQ"/>
                </operation>
                <operation name="GetListRFQ">
                        <input message="oaws:GetListRFQ"/>
                </operation>
                <operation name="UpdateRFQ">
                        <input message="oaws:UpdateRFQ"/>
                </operation>
                <operation name="SyncRFQ">
                        <input message="oaws:SyncRFQ"/>
                </operation>
                <operation name="NotifyRFQ">
                        <input message="oaws:NotifyRFQ"/>
                </operation>
        </portType>
        <portType name="ResponseRFQPortType">
                <operation name="AcknowledgeRFQ">
                        <input message="oaws:AcknowledgeRFQ"/>
                </operation>
                <operation name="RespondRFQ">
                        <input message="oaws:RespondRFQ"/>
                </operation>
                <operation name="ShowRFQ">
                        <input message="oaws:ShowRFQ"/>
                </operation>
                <operation name="ListRFQ">
                        <input message="oaws:ListRFQ"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncRFQPortType">
                <operation name="ProcessRFQ">
                        <input message="oaws:ProcessRFQ"/>
                        <output message="oaws:AcknowledgeRFQ"/>
                </operation>
                <operation name="ChangeRFQ">
                        <input message="oaws:ChangeRFQ"/>
                        <output message="oaws:RespondRFQ"/>
                </operation>
                <operation name="CancelRFQ">
                        <input message="oaws:CancelRFQ"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetRFQ">
                        <input message="oaws:GetRFQ"/>
                        <output message="oaws:ShowRFQ"/>
                </operation>
                <operation name="GetListRFQ">
                        <input message="oaws:GetListRFQ"/>
                        <output message="oaws:ListRFQ"/>
                </operation>
                <operation name="UpdateRFQ">
                        <input message="oaws:UpdateRFQ"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="SyncRFQ">
                        <input message="oaws:SyncRFQ"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyRFQ">
                        <input message="oaws:NotifyRFQ"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestRFQBinding" type="oaws:RequestRFQPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="CancelRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseRFQBinding" type="oaws:ResponseRFQPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncRFQBinding" type="oaws:SyncRFQPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyRFQ">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RFQ.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestRFQService">
                <port name="RequestRFQBinding" binding="oaws:RequestRFQBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestRFQ"/>
                </port>
        </service>
        <service name="ResponseRFQService">
                <port name="ResponseRFQBinding" binding="oaws:ResponseRFQBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseRFQ"/>
                </port>
        </service>
        <service name="SyncRFQService">
                <port name="SyncRFQBinding" binding="oaws:SyncRFQBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncRFQ"/>
                </port>
        </service>
</definitions>
