JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/References/ws/wsdl/UOMGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/UOMGroup.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyUOMGroup.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetUOMGroup">
                <part name="Message" element="oa:GetUOMGroup"/>
        </message>
        <message name="ShowUOMGroup">
                <part name="Message" element="oa:ShowUOMGroup"/>
        </message>
        <message name="GetListUOMGroup">
                <part name="Message" element="oa:GetListUOMGroup"/>
        </message>
        <message name="ListUOMGroup">
                <part name="Message" element="oa:ListUOMGroup"/>
        </message>
        <message name="SyncUOMGroup">
                <part name="Message" element="oa:SyncUOMGroup"/>
        </message>
        <message name="NotifyUOMGroup">
                <part name="Message" element="oa:NotifyUOMGroup"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestUOMGroupPortType">
                <operation name="GetUOMGroup">
                        <input message="oaws:GetUOMGroup"/>
                </operation>
                <operation name="GetListUOMGroup">
                        <input message="oaws:GetListUOMGroup"/>
                </operation>
                <operation name="SyncUOMGroup">
                        <input message="oaws:SyncUOMGroup"/>
                </operation>
                <operation name="NotifyUOMGroup">
                        <input message="oaws:NotifyUOMGroup"/>
                </operation>
        </portType>
        <portType name="ResponseUOMGroupPortType">
                <operation name="ShowUOMGroup">
                        <input message="oaws:ShowUOMGroup"/>
                </operation>
                <operation name="ListUOMGroup">
                        <input message="oaws:ListUOMGroup"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncUOMGroupPortType">
                <operation name="GetUOMGroup">
                        <input message="oaws:GetUOMGroup"/>
                        <output message="oaws:ShowUOMGroup"/>
                </operation>
                <operation name="GetListUOMGroup">
                        <input message="oaws:GetListUOMGroup"/>
                        <output message="oaws:ListUOMGroup"/>
                </operation>
                <operation name="SyncUOMGroup">
                        <input message="oaws:SyncUOMGroup"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyUOMGroup">
                        <input message="oaws:NotifyUOMGroup"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestUOMGroupBinding" type="oaws:RequestUOMGroupPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseUOMGroupBinding" type="oaws:ResponseUOMGroupPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncUOMGroupBinding" type="oaws:SyncUOMGroupPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyUOMGroup">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/UOMGroup.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestUOMGroupService">
                <port name="RequestUOMGroupBinding" binding="oaws:RequestUOMGroupBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestUOMGroup"/>
                </port>
        </service>
        <service name="ResponseUOMGroupService">
                <port name="ResponseUOMGroupBinding" binding="oaws:ResponseUOMGroupBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseUOMGroup"/>
                </port>
        </service>
        <service name="SyncUOMGroupService">
                <port name="SyncUOMGroupBinding" binding="oaws:SyncUOMGroupBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncUOMGroup"/>
                </port>
        </service>
</definitions>
