JDEV10G/RnDs/EatMemory/bpel/EatMemory.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://schemas.emerson.com/EatMemory"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="EatMemoryProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="EatMemoryProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>