JDEV10G/ErrorHandlingPOC1/ETH_BPEL_EmailESBErrors/bpel/jmsAdapterInboundHeader.wsdl

<definitions
     name="jmsAdapterInboundHeader"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/" 
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/jms/"   
     xmlns="http://schemas.xmlsoap.org/wsdl/" >

    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/"
              xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:jms="http://xmlns.oracle.com/pcbpel/adapter/jms/"
              elementFormDefault="qualified">
        
        <element name="JMS_IN_Header">
        <complexType>
            <sequence>
                <element ref="jms:JMSInboundHeadersAndProperties"/>
            </sequence>
        </complexType>
      </element>
        <element name="JMSInboundHeadersAndProperties">
          <complexType>
            <sequence>
                <element name="JMSInboundHeaders"
                         type="jms:JMSInboundHeaderType"
                         minOccurs="0" maxOccurs="1"/>
                <element name="JMSInboundProperties"
                         type="jms:JMSInboundPropertiesType"
                         minOccurs="0" maxOccurs="1"/>
            </sequence>
          </complexType>
        </element>

        <complexType name="JMSInboundHeaderType">
          <all>
            <element name="JMSCorrelationID" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSDeliveryMode" type="integer" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSExpiration" type="long" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSMessageID" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSPriority" type="integer" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSRedelivered" type="boolean" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSType" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSTimestamp" type="long" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSReplyTo" type="string" minOccurs="0"
                     maxOccurs="1"/>
          </all>
        </complexType>

        <complexType name="JMSInboundPropertiesType">
          <sequence>
            <element name="Property" type="jms:InboundPropType" minOccurs="0"
                     maxOccurs="unbounded"/>
          </sequence>
        </complexType>

        <complexType name="InboundPropType">
          <simpleContent>
            <extension base="string">
                <attribute name="name" type="ID" use="required"/>
                <attribute name="type" type="jms:InboundPropTypeEnum"
                           use="optional"/>
                <attribute name="value" type="string" use="required"/>
            </extension>
          </simpleContent>
        </complexType>

        <simpleType name="InboundPropTypeEnum">
          <restriction base="string">
            <enumeration value="string"/>
            <enumeration value="integer"/>
            <enumeration value="long"/>
            <enumeration value="boolean"/>
            <enumeration value="byte"/>
            <enumeration value="short"/>
            <enumeration value="float"/>
            <enumeration value="double"/>
          </restriction>
        </simpleType>

      </schema>
    </types>

    <!-- Header Message --> 
    <message name="InboundHeader_msg"> 
      <part element="tns:JMSInboundHeadersAndProperties" name="inboundHeader"/> 
   </message> 
   
   <message name="JMS_IN_Header_Message">
        <part name="jms_header" element="tns:JMS_IN_Header"/>
    </message>

</definitions>


