JDEV10G/Dhami3/Delete_MDMRecords_BPELProcess/bpel/ErrorHandlerRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://www.gssamerica.com/mdm/errorhandler" elementFormDefault="unqualified" targetNamespace="http://www.gssamerica.com/mdm/errorhandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ErrorHandlerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InputData" type="xs:string" />
        <xs:element name="ProcessName" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element name="ErrorID" type="xs:string" />
        <xs:element name="Environment" type="xs:string" />
        <xs:element name="Action" type="xs:string" />
        <xs:element name="ErrorMessage" type="xs:string" />
        <xs:element name="ErrorMessageCode" type="xs:string" />
        <xs:element name="DateTime" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" type="xs:string" />
        <xs:element minOccurs="0" name="StackTrace" type="xs:string" />
        <xs:element minOccurs="0" name="Source" type="xs:string" />
        <xs:element minOccurs="0" name="Destination" type="xs:string" />
        <xs:element minOccurs="0" name="ExchangeFormat" type="xs:string" />
        <xs:element minOccurs="0" name="BusinessKey" type="xs:string" />
        <xs:element minOccurs="0" name="RemediationQueue" type="xs:string" />
        <xs:element name="Data" type="xs:anyType" />
        <xs:element minOccurs="0" name="GroupID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorHandlerRequests">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="ErrorHandlerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
