JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/bpel/ExternalParameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.gssamerica.com/mdm/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" xmlns:q1="http://www.gssamerica.com/mdm/services" type="q1:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameters" xmlns:q2="http://www.gssamerica.com/mdm/services" type="q2:ParametersType" />
</xs:schema>