JDEV11G/Dhami-SOA/SarahMappings/xsd/Infrastructure/V1/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
** Oracle Corporation  **
** AIA Enterprise Object Library **
** Version 2.2 **
** Date: 28 Aug 2009 **

 Copyright (c) 2007, 2010, Oracle and/or its affiliates. All rights reserved. 

License information for this file is provided in the file 

"Oracle AIA EBO License.txt" that is provided with this package.

XML Schema 

Name: \EnterpriseObjects\Infrastructure\V1\DataTypes.xsd
-->
<!-- ====================================================================== -->
<!-- =====      Oracle EBO Data Types Schema Module            ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" targetNamespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2">
	<xsd:include schemaLocation="XSDBuiltInTypes.xsd"/>
	<!-- ====================================================================== -->
	<!-- =====      Imports                                                                                                      ===== -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- =====      UN/CEFACT CCTS Core Data Types                                                         ===== -->
	<!-- ====================================================================== -->
	<xsd:complexType name="AmountType">
		<xsd:annotation>
			<xsd:documentation>A number of monetary units specified in a currency where the unit of the currency is explicit or implied</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="currencyCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryObjectType">
		<xsd:annotation>
			<xsd:documentation>A set of finite-length sequences of binary octets</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="mimeCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="fileName" type="xsd:normalizedString"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CodeType">
		<xsd:annotation>
			<xsd:documentation>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="listID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="DateType">
		<xsd:annotation>
			<xsd:documentation>One calendar day according the Gregorian calendar</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:annotation>
			<xsd:documentation>A particular point in the progression of time together with the relevant supplementary information</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="DurationType">
		<xsd:annotation>
			<xsd:documentation>Duration represents a duration of time. The value space of duration is a six-dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second components defined in 5.5.3.2 of [ISO 8601], respectively. These components are ordered in their significance by their order of appearance i.e. as year, month, day, hour, minute, and second</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:duration"/>
	</xsd:simpleType>
	<xsd:complexType name="IdentifierType">
		<xsd:annotation>
			<xsd:documentation>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="IndicatorType">
		<xsd:annotation>
			<xsd:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="false"/>
			<xsd:pattern value="true"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntegerType">
		<xsd:annotation>
			<xsd:documentation>Integer is derived from decimal by fixing the value of fractionDigits to be 0. This results in the standard mathematical concept of the integer numbers. The value space of integer is the infinite set {...,-2,-1,0,1,2,...}. The base type of integer is decimal</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A numeric value determined by measuring an object along with the specified unit of measure</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>A character string that consititues the distinctive designation of a person, place, thing or concept</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="languageCode" type="xsd:normalizedString"/>
				<xsd:attribute name="languageLocaleCode" type="xsd:normalizedString"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="NumericType">
		<xsd:annotation>
			<xsd:documentation>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="PercentType">
		<xsd:annotation>
			<xsd:documentation>A percent is a value representing a fraction of one hundred, expressed as a quotient -- Usage  Percent. Type is used to represent a percentage that indicates how many hundredths of a basic value are to be calculated. The result of the calculation is the proportion in percent of, e.g., amounts, values, rates, discounts, and taxes. For example, "8.25%" should be passed as "8.25", "10%" should be passed as "10" or "10.0" etc, "150%" should be passed as "150" or "150.0" etc. 
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>A counted number of non-monetary units possibly including fractions</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RateType">
		<xsd:annotation>
			<xsd:documentation>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="baseValue" type="xsd:decimal" use="optional"/>
				<xsd:attribute name="baseUnitCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="languageCode" type="xsd:normalizedString"/>
				<xsd:attribute name="languageLocaleCode" type="xsd:normalizedString"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StringType">
		<xsd:annotation>
			<xsd:documentation>The string datatype represents character strings in XML. The value space of string is the set of finite-length sequences of characters (as defined in [XML 1.0 (Second Edition)]) that match the Char production from [XML 1.0 (Second Edition)]. A character is an atomic unit of communication; it is not further specified except to note that every character has a corresponding Universal Character Set code point, which is an integer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="URIType">
		<xsd:annotation>
			<xsd:documentation>anyURI represents a Uniform Resource Identifier Reference (URI). An anyURI value can be absolute or relative, and may have an optional fragment identifier (i.e., it may be a URI Reference). This type should be used to specify the intention that the value fulfills the role of a URI as defined by [RFC 2396], as amended by [RFC 2732]</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:anyURI"/>
	</xsd:simpleType>
	<!-- ====================================================================== -->
	<!-- =====      CCTS Business Data Types                                                                      ===== -->
	<!-- ====================================================================== -->
	<xsd:simpleType name="PositiveIntegerType">
		<xsd:annotation>
			<xsd:documentation>positiveInteger is derived from nonNegativeInteger by setting the value of minInclusive to be 1.  This results in the standard mathematical concept of the positive integer numbers. The value space of positiveInteger is the infinite set {1,2,...}. The base type of positiveInteger is nonNegativeInteger</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="NonNegativeIntegerType">
		<xsd:annotation>
			<xsd:documentation>nonNegativeInteger is an integer the minInclusive of 0. This results in the standard mathematical concept of the non-negative integers. The value space of nonNegativeInteger is the infinite set {0,1,2,...}.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:nonNegativeInteger">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearType">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeType">
		<xsd:annotation>
			<xsd:documentation>The instance of time that occurs every day</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>
	<xsd:simpleType name="MonthType">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="01"/>
			<xsd:pattern value="02"/>
			<xsd:pattern value="03"/>
			<xsd:pattern value="04"/>
			<xsd:pattern value="05"/>
			<xsd:pattern value="06"/>
			<xsd:pattern value="07"/>
			<xsd:pattern value="08"/>
			<xsd:pattern value="09"/>
			<xsd:pattern value="10"/>
			<xsd:pattern value="11"/>
			<xsd:pattern value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AnyDateTimePointPrecisionCodeType">
		<xsd:restriction base="StringType">
			<xsd:enumeration value="Year"/>
			<xsd:enumeration value="YearMonth"/>
			<xsd:enumeration value="Date"/>
			<xsd:enumeration value="DateTime"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AnyDateTimePointType">
		<xsd:simpleContent>
			<xsd:extension base="AnyDateTimePointBaseType">
				<xsd:attribute name="PrecisionCode" type="AnyDateTimePointPrecisionCodeType" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
