JDEV11G/Sarah_Mappings/Test1/ASN_SARAH.wsdl

<?binding.jca ASN_SARAH_apps.jca?>
<wsdl:definitions name="ASN_SARAH" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/apps/Sarah_Mappings/Test1/ASN_SARAH" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/apps/Sarah_Mappings/Test1/ASN_SARAH" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" xmlns:imp1="http://TargetNamespace.com/ASN_SARAH" xmlns:ph="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="Dequeue_plt">
        <plt:role name="Dequeue_role">
            <plt:portType name="tns:Dequeue_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="HeaderCType">
                <sequence>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="Header" type="ph:HeaderCType"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://TargetNamespace.com/ASN_SARAH" schemaLocation="xsd/SHOW_SHIPMENT_005.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="SHOW_SHIPMENT_005_msg">
        <wsdl:part name="SHOW_SHIPMENT_005" element="imp1:SHOW_SHIPMENT_005"/>
    </wsdl:message>
    <wsdl:message name="Header_msg">
        <wsdl:part name="Header" element="ph:Header"/>
    </wsdl:message>
    <wsdl:portType name="Dequeue_ptt">
        <wsdl:operation name="Dequeue">
            <wsdl:input message="tns:SHOW_SHIPMENT_005_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
