JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/CustomerPartyMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/CustomerPartyMaster.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetCustomerPartyMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCustomerPartyMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncCustomerPartyMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyCustomerPartyMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetCustomerPartyMaster">
                <part name="Message" element="oa:GetCustomerPartyMaster"/>
        </message>
        <message name="ShowCustomerPartyMaster">
                <part name="Message" element="oa:ShowCustomerPartyMaster"/>
        </message>
        <message name="SyncCustomerPartyMaster">
                <part name="Message" element="oa:SyncCustomerPartyMaster"/>
        </message>
        <message name="NotifyCustomerPartyMaster">
                <part name="Message" element="oa:NotifyCustomerPartyMaster"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCustomerPartyMasterPortType">
                <operation name="GetCustomerPartyMaster">
                        <input message="oaws:GetCustomerPartyMaster"/>
                </operation>
                <operation name="SyncCustomerPartyMaster">
                        <input message="oaws:SyncCustomerPartyMaster"/>
                </operation>
                <operation name="NotifyCustomerPartyMaster">
                        <input message="oaws:NotifyCustomerPartyMaster"/>
                </operation>
        </portType>
        <portType name="ResponseCustomerPartyMasterPortType">
                <operation name="ShowCustomerPartyMaster">
                        <input message="oaws:ShowCustomerPartyMaster"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncCustomerPartyMasterPortType">
                <operation name="GetCustomerPartyMaster">
                        <input message="oaws:GetCustomerPartyMaster"/>
                        <output message="oaws:ShowCustomerPartyMaster"/>
                </operation>
                <operation name="SyncCustomerPartyMaster">
                        <input message="oaws:SyncCustomerPartyMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyCustomerPartyMaster">
                        <input message="oaws:NotifyCustomerPartyMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestCustomerPartyMasterBinding" type="oaws:RequestCustomerPartyMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCustomerPartyMasterBinding" type="oaws:ResponseCustomerPartyMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCustomerPartyMasterBinding" type="oaws:SyncCustomerPartyMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyCustomerPartyMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/CustomerPartyMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCustomerPartyMasterService">
                <port name="RequestCustomerPartyMasterBinding" binding="oaws:RequestCustomerPartyMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCustomerPartyMaster"/>
                </port>
        </service>
        <service name="ResponseCustomerPartyMasterService">
                <port name="ResponseCustomerPartyMasterBinding" binding="oaws:ResponseCustomerPartyMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCustomerPartyMaster"/>
                </port>
        </service>
        <service name="SyncCustomerPartyMasterService">
                <port name="SyncCustomerPartyMasterBinding" binding="oaws:SyncCustomerPartyMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCustomerPartyMaster"/>
                </port>
        </service>
</definitions>
