JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/DispatchList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/DispatchList.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" xmlns:ns="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" xmlns:ns1="http://www.openapplications.org/oagis/9/currencycode/54217:2001" xmlns:ns2="http://www.openapplications.org/oagis/9/languagecode/5639:1988" xmlns:ns3="http://www.openapplications.org/oagis/9/unitcode/66411:2001" xmlns:ns4="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ns5="http://www.openapplications.org/oagis/9/codelists" xmlns:ns6="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:ns7="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateDispatchList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeDispatchList">
                <part name="Message" element="oa:AcknowledgeDispatchList"/>
        </message>
        <message name="CancelDispatchList">
                <part name="Message" element="oa:CancelDispatchList"/>
        </message>
        <message name="ChangeDispatchList">
                <part name="Message" element="oa:ChangeDispatchList"/>
        </message>
        <message name="GetDispatchList">
                <part name="Message" element="oa:GetDispatchList"/>
        </message>
        <message name="ProcessDispatchList">
                <part name="Message" element="oa:ProcessDispatchList"/>
        </message>
        <message name="RespondDispatchList">
                <part name="Message" element="oa:RespondDispatchList"/>
        </message>
        <message name="ShowDispatchList">
                <part name="Message" element="oa:ShowDispatchList"/>
        </message>
        <message name="SyncDispatchList">
                <part name="Message" element="oa:SyncDispatchList"/>
        </message>
        <message name="NotifyDispatchList">
                <part name="Message" element="oa:NotifyDispatchList"/>
        </message>
        <message name="UpdateDispatchList">
                <part name="Message" element="oa:UpdateDispatchList"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestDispatchListPortType">
                <operation name="CancelDispatchList">
                        <input message="oaws:CancelDispatchList"/>
                </operation>
                <operation name="ChangeDispatchList">
                        <input message="oaws:ChangeDispatchList"/>
                </operation>
                <operation name="ProcessDispatchList">
                        <input message="oaws:ProcessDispatchList"/>
                </operation>
                <operation name="GetDispatchList">
                        <input message="oaws:GetDispatchList"/>
                </operation>
                <operation name="SyncDispatchList">
                        <input message="oaws:SyncDispatchList"/>
                </operation>
                <operation name="NotifyDispatchList">
                        <input message="oaws:NotifyDispatchList"/>
                </operation>
                <operation name="UpdateDispatchList">
                        <input message="oaws:UpdateDispatchList"/>
                </operation>
        </portType>
        <portType name="ResponseDispatchListPortType">
                <operation name="AcknowledgeDispatchList">
                        <input message="oaws:AcknowledgeDispatchList"/>
                </operation>
                <operation name="RespondDispatchList">
                        <input message="oaws:RespondDispatchList"/>
                </operation>
                <operation name="ShowDispatchList">
                        <input message="oaws:ShowDispatchList"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncDispatchListPortType">
                <operation name="ProcessDispatchList">
                        <input message="oaws:ProcessDispatchList"/>
                        <output message="oaws:AcknowledgeDispatchList"/>
                </operation>
                <operation name="ChangeDispatchList">
                        <input message="oaws:ChangeDispatchList"/>
                        <output message="oaws:RespondDispatchList"/>
                </operation>
                <operation name="CancelDispatchList">
                        <input message="oaws:CancelDispatchList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetDispatchList">
                        <input message="oaws:GetDispatchList"/>
                        <output message="oaws:ShowDispatchList"/>
                </operation>
                <operation name="SyncDispatchList">
                        <input message="oaws:SyncDispatchList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyDispatchList">
                        <input message="oaws:NotifyDispatchList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateDispatchList">
                        <input message="oaws:UpdateDispatchList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestDispatchListBinding" type="oaws:RequestDispatchListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="CancelDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangeDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseDispatchListBinding" type="oaws:ResponseDispatchListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncDispatchListBinding" type="oaws:SyncDispatchListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateDispatchList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/DispatchList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestDispatchListService">
                <port name="RequestDispatchListBinding" binding="oaws:RequestDispatchListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestDispatchList"/>
                </port>
        </service>
        <service name="ResponseDispatchListService">
                <port name="ResponseDispatchListBinding" binding="oaws:ResponseDispatchListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseDispatchList"/>
                </port>
        </service>
        <service name="SyncDispatchListService">
                <port name="SyncDispatchListBinding" binding="oaws:SyncDispatchListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncDispatchList"/>
                </port>
        </service>
</definitions>
