JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Field.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Field.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetField.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowField.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncField.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyField.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetField">
                <part name="Message" element="oa:GetField"/>
        </message>
        <message name="ShowField">
                <part name="Message" element="oa:ShowField"/>
        </message>
        <message name="SyncField">
                <part name="Message" element="oa:SyncField"/>
        </message>
        <message name="NotifyField">
                <part name="Message" element="oa:NotifyField"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestFieldPortType">
                <operation name="GetField">
                        <input message="oaws:GetField"/>
                </operation>
                <operation name="SyncField">
                        <input message="oaws:SyncField"/>
                </operation>
                <operation name="NotifyField">
                        <input message="oaws:NotifyField"/>
                </operation>
        </portType>
        <portType name="ResponseFieldPortType">
                <operation name="ShowField">
                        <input message="oaws:ShowField"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncFieldPortType">
                <operation name="GetField">
                        <input message="oaws:GetField"/>
                        <output message="oaws:ShowField"/>
                </operation>
                <operation name="SyncField">
                        <input message="oaws:SyncField"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyField">
                        <input message="oaws:NotifyField"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestFieldBinding" type="oaws:RequestFieldPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseFieldBinding" type="oaws:ResponseFieldPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncFieldBinding" type="oaws:SyncFieldPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyField">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Field.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestFieldService">
                <port name="RequestFieldBinding" binding="oaws:RequestFieldBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestField"/>
                </port>
        </service>
        <service name="ResponseFieldService">
                <port name="ResponseFieldBinding" binding="oaws:ResponseFieldBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseField"/>
                </port>
        </service>
        <service name="SyncFieldService">
                <port name="SyncFieldBinding" binding="oaws:SyncFieldBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncField"/>
                </port>
        </service>
</definitions>
