JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/InvoiceLedgerEntry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/InvoiceLedgerEntry.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetInvoiceLedgerEntry.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowInvoiceLedgerEntry.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/LoadInvoiceLedgerEntry.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetInvoiceLedgerEntry">
                <part name="Message" element="oa:GetInvoiceLedgerEntry"/>
        </message>
        <message name="ShowInvoiceLedgerEntry">
                <part name="Message" element="oa:ShowInvoiceLedgerEntry"/>
        </message>
        <message name="LoadInvoiceLedgerEntry">
                <part name="Message" element="oa:LoadInvoiceLedgerEntry"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestInvoiceLedgerEntryPortType">
                <operation name="GetInvoiceLedgerEntry">
                        <input message="oaws:GetInvoiceLedgerEntry"/>
                </operation>
                <operation name="LoadInvoiceLedgerEntry">
                        <input message="oaws:LoadInvoiceLedgerEntry"/>
                </operation>
        </portType>
        <portType name="ResponseInvoiceLedgerEntryPortType">
                <operation name="ShowInvoiceLedgerEntry">
                        <input message="oaws:ShowInvoiceLedgerEntry"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="LoadInvoiceLedgerEntryPortType">
                <operation name="GetInvoiceLedgerEntry">
                        <input message="oaws:GetInvoiceLedgerEntry"/>
                        <output message="oaws:ShowInvoiceLedgerEntry"/>
                </operation>
                <operation name="LoadInvoiceLedgerEntry">
                        <input message="oaws:LoadInvoiceLedgerEntry"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestInvoiceLedgerEntryBinding" type="oaws:RequestInvoiceLedgerEntryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetInvoiceLedgerEntry">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="LoadInvoiceLedgerEntry">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseInvoiceLedgerEntryBinding" type="oaws:ResponseInvoiceLedgerEntryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowInvoiceLedgerEntry">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="LoadInvoiceLedgerEntryBinding" type="oaws:LoadInvoiceLedgerEntryPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetInvoiceLedgerEntry">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="LoadInvoiceLedgerEntry">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/InvoiceLedgerEntry.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestInvoiceLedgerEntryService">
                <port name="RequestInvoiceLedgerEntryBinding" binding="oaws:RequestInvoiceLedgerEntryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestInvoiceLedgerEntry"/>
                </port>
        </service>
        <service name="ResponseInvoiceLedgerEntryService">
                <port name="ResponseInvoiceLedgerEntryBinding" binding="oaws:ResponseInvoiceLedgerEntryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseInvoiceLedgerEntry"/>
                </port>
        </service>
        <service name="LoadInvoiceLedgerEntryService">
                <port name="LoadInvoiceLedgerEntryBinding" binding="oaws:LoadInvoiceLedgerEntryBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/LoadInvoiceLedgerEntry"/>
                </port>
        </service>
</definitions>
