JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/OnlineSession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/OnlineSession.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetOnlineSession.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowOnlineSession.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetOnlineSession">
                <part name="Message" element="oa:GetOnlineSession"/>
        </message>
        <message name="ShowOnlineSession">
                <part name="Message" element="oa:ShowOnlineSession"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestOnlineSessionPortType">
                <operation name="GetOnlineSession">
                        <input message="oaws:GetOnlineSession"/>
                </operation>
        </portType>
        <portType name="ResponseOnlineSessionPortType">
                <operation name="ShowOnlineSession">
                        <input message="oaws:ShowOnlineSession"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncOnlineSessionPortType">
                <operation name="GetOnlineSession">
                        <input message="oaws:GetOnlineSession"/>
                        <output message="oaws:ShowOnlineSession"/>
                </operation>
        </portType>
        <binding name="RequestOnlineSessionBinding" type="oaws:RequestOnlineSessionPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetOnlineSession">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineSession.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseOnlineSessionBinding" type="oaws:ResponseOnlineSessionPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowOnlineSession">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineSession.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineSession.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncOnlineSessionBinding" type="oaws:SyncOnlineSessionPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetOnlineSession">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/OnlineSession.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestOnlineSessionService">
                <port name="RequestOnlineSessionBinding" binding="oaws:RequestOnlineSessionBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestOnlineSession"/>
                </port>
        </service>
        <service name="ResponseOnlineSessionService">
                <port name="ResponseOnlineSessionBinding" binding="oaws:ResponseOnlineSessionBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseOnlineSession"/>
                </port>
        </service>
        <service name="SyncOnlineSessionService">
                <port name="SyncOnlineSessionBinding" binding="oaws:SyncOnlineSessionBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncOnlineSession"/>
                </port>
        </service>
</definitions>
