JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ProjectAccounting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ProjectAccounting.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetProjectAccounting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowProjectAccounting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/LoadProjectAccounting.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetProjectAccounting">
                <part name="Message" element="oa:GetProjectAccounting"/>
        </message>
        <message name="ShowProjectAccounting">
                <part name="Message" element="oa:ShowProjectAccounting"/>
        </message>
        <message name="LoadProjectAccounting">
                <part name="Message" element="oa:LoadProjectAccounting"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestProjectAccountingPortType">
                <operation name="GetProjectAccounting">
                        <input message="oaws:GetProjectAccounting"/>
                </operation>
                <operation name="LoadProjectAccounting">
                        <input message="oaws:LoadProjectAccounting"/>
                </operation>
        </portType>
        <portType name="ResponseProjectAccountingPortType">
                <operation name="ShowProjectAccounting">
                        <input message="oaws:ShowProjectAccounting"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="LoadProjectAccountingPortType">
                <operation name="GetProjectAccounting">
                        <input message="oaws:GetProjectAccounting"/>
                        <output message="oaws:ShowProjectAccounting"/>
                </operation>
                <operation name="LoadProjectAccounting">
                        <input message="oaws:LoadProjectAccounting"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestProjectAccountingBinding" type="oaws:RequestProjectAccountingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProjectAccounting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="LoadProjectAccounting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseProjectAccountingBinding" type="oaws:ResponseProjectAccountingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowProjectAccounting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="LoadProjectAccountingBinding" type="oaws:LoadProjectAccountingPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProjectAccounting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="LoadProjectAccounting">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectAccounting.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestProjectAccountingService">
                <port name="RequestProjectAccountingBinding" binding="oaws:RequestProjectAccountingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestProjectAccounting"/>
                </port>
        </service>
        <service name="ResponseProjectAccountingService">
                <port name="ResponseProjectAccountingBinding" binding="oaws:ResponseProjectAccountingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseProjectAccounting"/>
                </port>
        </service>
        <service name="LoadProjectAccountingService">
                <port name="LoadProjectAccountingBinding" binding="oaws:LoadProjectAccountingBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/LoadProjectAccounting"/>
                </port>
        </service>
</definitions>
