JDEV10G/Dhami3/Transform&ValidateESBService/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ShipmentUnit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ShipmentUnit.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyShipmentUnit.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetShipmentUnit">
                <part name="Message" element="oa:GetShipmentUnit"/>
        </message>
        <message name="ShowShipmentUnit">
                <part name="Message" element="oa:ShowShipmentUnit"/>
        </message>
        <message name="ProcessShipmentUnit">
                <part name="Message" element="oa:ProcessShipmentUnit"/>
        </message>
        <message name="AcknowledgeShipmentUnit">
                <part name="Message" element="oa:AcknowledgeShipmentUnit"/>
        </message>
        <message name="SyncShipmentUnit">
                <part name="Message" element="oa:SyncShipmentUnit"/>
        </message>
        <message name="NotifyShipmentUnit">
                <part name="Message" element="oa:NotifyShipmentUnit"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestShipmentUnitPortType">
                <operation name="GetShipmentUnit">
                        <input message="oaws:GetShipmentUnit"/>
                </operation>
                <operation name="ProcessShipmentUnit">
                        <input message="oaws:ProcessShipmentUnit"/>
                </operation>
                <operation name="SyncShipmentUnit">
                        <input message="oaws:SyncShipmentUnit"/>
                </operation>
                <operation name="NotifyShipmentUnit">
                        <input message="oaws:NotifyShipmentUnit"/>
                </operation>
        </portType>
        <portType name="ResponseShipmentUnitPortType">
                <operation name="ShowShipmentUnit">
                        <input message="oaws:ShowShipmentUnit"/>
                </operation>
                <operation name="AcknowledgeShipmentUnit">
                        <input message="oaws:AcknowledgeShipmentUnit"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncShipmentUnitPortType">
                <operation name="GetShipmentUnit">
                        <input message="oaws:GetShipmentUnit"/>
                        <output message="oaws:ShowShipmentUnit"/>
                </operation>
                <operation name="ProcessShipmentUnit">
                        <input message="oaws:ProcessShipmentUnit"/>
                        <output message="oaws:AcknowledgeShipmentUnit"/>
                </operation>
                <operation name="SyncShipmentUnit">
                        <input message="oaws:SyncShipmentUnit"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyShipmentUnit">
                        <input message="oaws:NotifyShipmentUnit"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestShipmentUnitBinding" type="oaws:RequestShipmentUnitPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseShipmentUnitBinding" type="oaws:ResponseShipmentUnitPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncShipmentUnitBinding" type="oaws:SyncShipmentUnitPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyShipmentUnit">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ShipmentUnit.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestShipmentUnitService">
                <port name="RequestShipmentUnitBinding" binding="oaws:RequestShipmentUnitBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestShipmentUnit"/>
                </port>
        </service>
        <service name="ResponseShipmentUnitService">
                <port name="ResponseShipmentUnitBinding" binding="oaws:ResponseShipmentUnitBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseShipmentUnit"/>
                </port>
        </service>
        <service name="SyncShipmentUnitService">
                <port name="SyncShipmentUnitBinding" binding="oaws:SyncShipmentUnitBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncShipmentUnit"/>
                </port>
        </service>
</definitions>
