JDEV10G/Dhami3/TransformESB/MDMSchemas/OAGIS/9_2/Resources/Nouns/ShipmentSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2   **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    This is an OAGIS® BOD XML Schema (XSD) Definition.

    License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

    For support, more information, or to report implementation bugs, please contact the Open Applications Group at oagis@openapplications.org.
    
    XML Schema 
     
    Name: /OAGIS/9_2/Resources/Nouns/ShipmentSchedule.xsd
-->
		
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="../Components/Operational/ManufacturingComponents.xsd"/>
        <xsd:element name="ShipmentSchedule" type="ShipmentScheduleType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="ShipmentScheduleHeader" type="ShipmentScheduleHeaderType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Header level information for the  schedule.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="ShipmentScheduleLine" type="ShipmentScheduleLineType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Line level information for the  schedule.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="ShipmentScheduleType">
                <xsd:sequence>
                        <xsd:element ref="ShipmentScheduleHeader" minOccurs="0"/>
                        <xsd:element ref="ShipmentScheduleLine" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="ShipmentScheduleHeaderType">
                <xsd:complexContent>
                        <xsd:extension base="ScheduleHeaderType">
                                <xsd:sequence>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="ShipmentScheduleLineType">
                <xsd:complexContent>
                        <xsd:extension base="ScheduleLineType">
                                <xsd:sequence>
                                        <xsd:element ref="RequiredDateTime" minOccurs="0"/>
                                        <xsd:element ref="PurchaseOrderReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="SalesOrderReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="DrawingAttachment" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="ScheduleException" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
</xsd:schema>
