JDEV10G/AejazCode/ETH_ESB_POAck_FlatFile_Output/public_html/LiebertFlatFileOutput_POAck.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://xmlns.emrsn.com/POAckFlatFile"
            xmlns:tns="http://xmlns.emrsn.com/POAckFlatFile"
            elementFormDefault="unqualified" attributeFormDefault="unqualified"
            nxsd:encoding="ASCII" nxsd:hasHeader="true" nxsd:headerLines="1"
            nxsd:headerLinesTerminatedBy="${eol}" nxsd:stream="chars"
            nxsd:version="NXSD">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="record" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="HDGS02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDGS03" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDGS04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDGS05" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK01" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK03" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK05" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK08" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HDBAK09" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1REF03" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD4REF02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD5REF03" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N102" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N104" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N301" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N302" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N303" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N304" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N401" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N402" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N403" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N404" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1N406" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1PER02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1PER04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1PER06" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="HD1PER08" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO101" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO102" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO103" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO104" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO107" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO109" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PO111" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1CUR02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PID05" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1ACK01" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>           
              <xsd:element name="LN1N102" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N104" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N301" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N302" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N303" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N304" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N401" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N402" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N403" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N404" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1N406" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PER02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PER04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PER06" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1PER08" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
             <!-- <xsd:element name="LN1DTM02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1DTM03" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element> 
              <xsd:element name="LN1DTM04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>-->
              <xsd:element name="LN1SCH01" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH06" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH07" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH09" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH10" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN1SCH12" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N102" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N104" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N301" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N302" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N303" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N304" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N401" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N402" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N403" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N404" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2N406" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2PER02" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2PER04" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2PER06" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="|"></xsd:element>
              <xsd:element name="LN2PER08" type="xsd:string"
                           nxsd:style="terminated" nxsd:terminatedBy="${eol}"></xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
<!--NXSDWIZ:C:\Documents and Settings\dansrnt\Desktop\srikant-transformation\Liebert\input files\edidnld_new_red.txt:-->
