JDEV11G/Dhami-SOA/FileDelete_11GAdapter/xsd/FileDelete_11GAdapter.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Dhami_SOA/FileDelete_11GAdapter/FileDelete_11GAdapter"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="filename" type="string"/>
        <element name="filepath" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>