JDEV10G/AejazCode/ETH_BPEL_PO_LSNA_InputService/bpel/ETH_DEQ_AQ_PO_LSNA.wsdl

<definitions
     name="ETH_DEQ_AQ_PO_LSNA"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_LSNA/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_LSNA/"
     xmlns:ns1="http://xmlns.emrsn.com/CommonChangePO_006"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:ns2="http://xmlns.emrsn.com/CommonProcessPO_007"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:pc="http://xmlns.oracle.com/pcbpel/"
     xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_LSNA/"
             xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_LSNA/"
             xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/aq/inbound/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="SYSTEM_ECXMSG.xsd"/>
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/aq/inbound/" schemaLocation="aqAdapterInboundHeader.xsd"/>
            <complexType name="HeaderCType">
                <sequence>
                    <element name="QueueHeader" type="hdr:HeaderType"/>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="Header" type="tns:HeaderCType"/>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.emrsn.com/CommonChangePO_006" schemaLocation="public_html/CommonChange_PO_006.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.emrsn.com/CommonProcessPO_007" schemaLocation="public_html/CommonProcess_PO_007.xsd"/>
        </xsd:schema>
    </types>
    <message name="Dequeue_msg">
        <part name="opaque" element="opaque:opaqueElement"/>
    </message>
    <message name="Header_msg">
        <part name="Header" element="tns:Header"/>
    </message>
    <portType name="Dequeue_ptt">
        <operation name="Dequeue">
            <input message="tns:Dequeue_msg"/>
        </operation>
    </portType>
    <binding name="Dequeue_binding" type="tns:Dequeue_ptt">
        <pc:inbound_binding/>
        <operation name="Dequeue">
            <jca:operation ActivationSpec="oracle.tip.adapter.aq.inbound.AQDequeueActivationSpec" QueueName="ECX_OUTBOUND"
                 DatabaseSchema="APPLSYS" ObjectFieldName="PAYLOAD" PayloadHeaderRequired="true"
                 Correlation="ETHPO" OpaqueSchema="true"/>
            <input>
                <jca:header message="tns:Header_msg" part="Header"/>
            </input>
        </operation>
    </binding>
    <service name="ETH_DEQ_AQ_PO_LSNA">
        <port name="Dequeue_pt" binding="tns:Dequeue_binding">
            <jca:address location="eis/AQ/ETH_LSNA" UIConnectionName="SARAH_S0"/>
        </port>
    </service>
    <plt:partnerLinkType name="Dequeue_plt">
        <plt:role name="Dequeue_role">
            <plt:portType name="tns:Dequeue_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>
