JDEV10G/Dhami2/LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPEL/bpel/LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPEL.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPELProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPELProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>