JDEV10G/AejazCode/ETH_BPEL_PO_PM_InputService/bpel/ETH_DEQ_AQ_PO_PM.wsdl

<definitions
     name="ETH_DEQ_AQ_PO_PM"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_PM/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_PM/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:pc="http://xmlns.oracle.com/pcbpel/"
     xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM"
    >
    <types>
    <!-- Define AQ Headers = Payload Headers + Static Queue Headers -->
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_PM/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/ETH_DEQ_AQ_PO_PM/"
            xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/aq/inbound/"
            xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" >
      <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="SYSTEM_ECXMSG.xsd"/>
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/aq/inbound/" schemaLocation="aqAdapterInboundHeader.xsd"/>
      <complexType name="HeaderCType" >
        <sequence>
          <!-- static header -->
          <element name="QueueHeader" type="hdr:HeaderType" />
          <!-- payload header -->
          <element name="PayloadHeader" type="obj1:ECXMSG" />
        </sequence>
      </complexType>
      <element name="Header" type="tns:HeaderCType" />
    </schema>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
    </schema>
    </types>
    <message name="Dequeue_msg">
        <part name="opaque" element="opaque:opaqueElement"/>
    </message>
    <message name="Header_msg">
        <part name="Header" element="tns:Header"/>
    </message>
    <portType name="Dequeue_ptt">
        <operation name="Dequeue">
            <input message="tns:Dequeue_msg"/>
        </operation>
    </portType>
    <binding name="Dequeue_binding" type="tns:Dequeue_ptt">
    <pc:inbound_binding  />
        <operation name="Dequeue">
      <jca:operation
          ActivationSpec="oracle.tip.adapter.aq.inbound.AQDequeueActivationSpec"
          QueueName="ECX_OUTBOUND"
          DatabaseSchema="APPS"
          ObjectFieldName="PAYLOAD"
          PayloadHeaderRequired="true"
          Correlation="$CORRELATION_ID"
          OpaqueSchema="true" >
      </jca:operation>
      <input>
        <jca:header message="tns:Header_msg" part="Header"/>
      </input>
        </operation>
    </binding>
    <service name="ETH_DEQ_AQ_PO_PM">
        <port name="Dequeue_pt" binding="tns:Dequeue_binding">
<!--Your runtime connection is declared in 
J2EE_HOME/application-deployments/default/AqAdapter/oc4j-ra.xml 
These mcf properties here are from your design time connection and 
save you from having to edit that file and restart the application server 
if eis/AQ/ETH_PMGNT is missing. 
These mcf properties are safe to remove.-->
      <jca:address location="$AQ_BETSY_CONN" UIConnectionName="ProcessMgnt" />
        </port>
    </service>
  <plt:partnerLinkType name="Dequeue_plt" >
    <plt:role name="Dequeue_role" >
      <plt:portType name="tns:Dequeue_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
