JDEV10G/AejazCode/ETH_BPEL_PO_PM_InputService/bpel/jmsAdapterOutboundHeader.wsdl

<definitions
     name="jmsAdapterOutboundHeader"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/" 
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/jms/"   
     xmlns="http://schemas.xmlsoap.org/wsdl/" >

    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:jms="http://xmlns.oracle.com/pcbpel/adapter/jms/"
        elementFormDefault="qualified">

        <element name="JMSOutboundHeadersAndProperties">
          <complexType>
            <sequence>
                <element name="JMSOutboundHeaders"
                         type="jms:JMSOutboundHeaderType"
                         minOccurs="0" maxOccurs="1"/>
                <element name="JMSOutboundProperties"
                         type="jms:JMSOutboundPropertiesType"
                         minOccurs="0" maxOccurs="1"/>
            </sequence>
          </complexType>
        </element>

        <complexType name="JMSOutboundHeaderType">
          <all>
            <element name="JMSDestinationName" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSDestinationProperties" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSCorrelationID" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSType" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSReplyTo" type="string" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSPriority" type="int" minOccurs="0"
                     maxOccurs="1"/>
            <element name="JMSExpiration" type="long" minOccurs="0"
                     maxOccurs="1"/>
          </all>
        </complexType>

        <complexType name="JMSOutboundPropertiesType">
          <sequence>
            <element name="Property" type="jms:OutboundPropType" minOccurs="0"
                     maxOccurs="unbounded"/>
          </sequence>
        </complexType>

        <complexType name="OutboundPropType">
          <simpleContent>
            <extension base="string">
                <attribute name="name" type="ID" use="required"/>
                <attribute name="type" type="jms:OutboundPropTypeEnum"
                           use="optional"/>
                <attribute name="value" type="string" use="required"/>
            </extension>
          </simpleContent>
        </complexType>

        <simpleType name="OutboundPropTypeEnum">
          <restriction base="string">
            <enumeration value="string"/>
            <enumeration value="integer"/>
            <enumeration value="long"/>
            <enumeration value="boolean"/>
            <enumeration value="byte"/>
            <enumeration value="short"/>
            <enumeration value="float"/>
            <enumeration value="double"/>
          </restriction>
        </simpleType>

      </schema>
    </types>


    <!-- Header Message --> 
    <message name="OutboundHeader_msg"> 
      <part element="tns:JMSOutboundHeadersAndProperties" name="outboundHeader"/> 
   </message> 

</definitions>
