JDEV10G/VDSTv1/VDST_BPEL_ChannelPartner_PartMapReqABCS/bpel/ftpAdapterInboundHeader.wsdl

<definitions xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" name="fileAdapter">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:FTPAPP="http://xmlns.oracle.com/pcbpel/adapter/ftp/">
			<element name="InboundFTPHeaderType">
				<complexType>
					<sequence>
						<element name="fileName" type="string" minOccurs="0"/>
						<element name="ftpHost" type="string" minOccurs="0"/>
						<element name="ftpPort" type="string" minOccurs="0"/>
						<element name="directory" type="string" minOccurs="0"/>
						<element name="size" type="double" minOccurs="0"/>
						<element name="batch" type="integer" minOccurs="0"/>
						<element name="batchIndex" type="integer" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="InboundHeader_msg">
		<part name="inboundHeader" element="tns:InboundFTPHeaderType"/>
	</message>
	<!-- Header Message -->
</definitions>
