JDEV10G/Dhami2/ETH_ESB_ALICE_InOutProcess/public_html/161_show_shipment_005.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by KAY HATHCOCK (EMERSON ELECTRIC COMPANY) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
attributeFormDefault="unqualified"
elementFormDefault="unqualified"
targetNamespace="http://www.supplierconnectivity.com/Show_shipment/"
xmlns="http://www.supplierconnectivity.com/Show_shipment/">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="ABSENCETYP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACCTPERIOD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACCTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACCTYEAR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACKCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACKMODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACKREQUEST">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACTIONCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACTIVE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ACTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ADDRLINE">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDRTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ALLOWTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="APPROVE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="APPROVED">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="APPROVERID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AUTHCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AUTHID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BACKORDIND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BILLOLADNG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BKTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMALTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMREVISON">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BOMUSAGE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BUDGSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BUDGTXN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BUDGVER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BUSNAREA">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BUYERID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CARRIER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CARRSRVLVL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATALGNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATALOGRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CHARGEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CHARGETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CHGLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CITY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLASSFNID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLASSFN">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLASSLEVEL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLSSSCHMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLSSELMT">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CLSELMLVL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLSSSCHMRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CLSSLMNTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CMPRSNTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CMPRSNID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CNTCTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CODEPAGE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COMMENTS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COMMODITY">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMPLEVEL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COMPONENT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COMPREFDES">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONDSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONFIRMATION">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONSUMPTN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTAINRID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTCTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTNRSEAL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTNRTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTRACTB">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTRACTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTRACTS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COSTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COUNTRY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COUNTRYDST">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COUNTRYORG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COUNTY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COSTCENTER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CRAFTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CTCHWCONV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CTCHWFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CURRENCY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CURRFROM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CURRTO">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DAY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DAYOFMONTH">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DAYSNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DEFAULT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DELIVERTO">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DEFLTVALUE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DENSITYFAC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DEPARTMENT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DESCRIPTN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISCRPTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISPOSITN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISPOSITON">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISTCENTER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DIVISION">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DOCKID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DOCTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DOCUMENTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DOCUMENTRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DRAWING">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DRCR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DROPSHIP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DSPSTNINV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DUNSNUMBER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ECOAPPSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ECONAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ECOPRIORITY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ECOREVISON">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ECOTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ELEMENT">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EMAIL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPCATEGRY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPDEPT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPLOYEEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPQUALIF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EMPSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ENDITEMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EXCLUSIVE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EXCPLINNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EXCPTNCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EXPORTLIC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="EXPIREFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FACTOR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FAILCLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FAILCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FAILTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FAILUREID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FAX">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FEATUREID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FEATVAL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FIELDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FIELDVALUE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FILENAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FILETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FIXEDASSET">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FIXDQTYIND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FLEXBKTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FREIGHTCLS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRGHTCLS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRGHTITEM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRGHTTERMS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRMITMCLSS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRMITMNM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRMITMNMRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FRMSITELVL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FROMPARTY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FTDATATYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FTGROUP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FTVALIND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FTVALQUAL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="FUND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GEOGRAPHY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GLENTITYD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GLENTITYS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GLNOMACCT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HAZRDMATL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HDRSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HOUR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HRORG">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="IMPORTLIC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INCPLANFLG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INDLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INMRPPLAN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INSPDOCREV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INSPECTDOC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INSPECTRID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INQUEUEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INVENDISP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="INVLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMCATID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMCLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMCLASSID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMDEFN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMDESC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMRVX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMVAR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITMIDFLG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITMFTVAL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="JEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="JOBCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="JPID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="KANBAN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LABORID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LANGUAGE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LEDGER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LINEFEED">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LINETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LOADPOINT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LOCK">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LOGICALID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LOTLEVEL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LOTSNFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MACHCLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MACHID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MACHINEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MACHSTATE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MACHSUDEP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MAINTCALID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MAINTLOCID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MAINTORDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MANDATORY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MATCHTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MCHDOCID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MCHDOCTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MCHLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MSGTEXT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MSGID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MSGTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MINUTE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MONTH">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MOPARENTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MOPRIORITY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MOSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MOTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MSDSID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NAME">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NEWITMREV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NEWREVFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NOTES">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NOUN">
		<xs:complexType mixed="true">
			<xs:attribute name="value" type="xs:anySimpleType" fixed="SHIPMENT"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NUMOFDEC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OILINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OLDITMREV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ONETIME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPENITEM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPERATNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPERATNID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPERATNSEQ">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPERATTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPRAMTAUTH">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPRGRPNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPRGRPTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPTCLSNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPTCLSSID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPTIONID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OPTIONNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ORIGREF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OTELIGIBLE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OUTQUEUEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OVERIDPRIC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OVERTIME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="OWNRSHPCDE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PACKING">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PACKNGDESC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARCNTNRID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARENTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARENTLOT">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARENTSNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTIALSHP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTNRID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTNRIDX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTNRRATG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTNRROLE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PARTNRTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PAYMETHOD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PERSONCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PICLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PLANNERID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POENTITY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POLNSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PORELEASE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POSITION">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POSTALCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="POTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRCESSCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PREFERENCE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICECODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICELSTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICELSTRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRINT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRINTCNTL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRIORITY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRDLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRNTCLSELM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODCTLINE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODORDER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODORDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODOSTATS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODOTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODSEQBEG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODSEQEND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRODSEQNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROFITCTR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJACTSTS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJACTVTY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJECT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJRESEL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJTXTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROPERTY">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROXMONTH">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PSBLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PSCLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PSDLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PUBLISHER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QUALIF">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QSLINESTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QSLINETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTEIDX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTELINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTELNSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTEREVISON">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTESTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QTETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QUALFNID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QUALFNTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="QUALFNVAL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RATETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REASONCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RECEPTDISP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RECEIPTID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RECEIPTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RECLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REF">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REFERENCEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REGION">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RELITEMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RELLOCID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RELMACHID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REMITTANCE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REPRTGFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REQLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REQLNSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REQUESTER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REQUISTNID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCEUSE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCGRP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCKIN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCLVL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCTYP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESORCUSE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESTRICTN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RESOURCEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REVISION">
		<xs:complexType mixed="true">
			<xs:attribute name="value" type="xs:anySimpleType" fixed="005"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="REVITMSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQIDX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQLNSTAT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQREVISON">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RFQTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTELEVEL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROUTETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTEVAR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTINGID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTINGREV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ROUTINGVAR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RQSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSBLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSLINETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSPLINNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSPREVNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSPSCHEDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RSPSDLNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SAFTYCLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SAFETYID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SAFETYTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SALESORDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SALESORG">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SALESPERSN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SAVESETUP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SCHDULETYP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SCHEDULEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SCHLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SCRAP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SECOND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SERIALNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SEQNCENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPMATLID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPSRVLVL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHPMTLDESC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIFT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPNOTES">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPPERID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPPERNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPPOINT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPPRIOR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHPUNITSEQ">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHPUNITSTS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHPUNITTOT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SIGN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SITELEVEL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SOLNSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SOSLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SOSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SPECIALHND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SPLITABLE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STAGEPOINT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STATEPROVN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PSSTATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STATUSLVL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STEPID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STEPNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STEPTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUBLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUBSECOND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUBSFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUFFIX">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUPERVISOR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SYNCIND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TASK">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXEXEMPT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXJRSDCTN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXLINE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXWHEXMPT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TELEPHONE">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TERMFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TERMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMEZONE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TITLE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOITMNM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOITMCLSS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOITMNMRV">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOPARTY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOSITELVL">
		<xs:complexType mixed="true">
			<xs:attribute name="index" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOOLCLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TOOLID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRACKINGID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRACKFLG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRAKNGFLAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRANSMETHD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRANSTERMS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TRNSFRTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TXANALYSIS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UPDTWIPFG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="USEUPITEM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UNIT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UNITTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UOM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UOMGROUPID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UOMNUMDEC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UOMVALUE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UPC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UPCPKGIND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="UPCSCC14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="URI">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="URL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="USAGERESTN">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="USERID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="USERAREA">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType">
					<xs:sequence maxOccurs="unbounded">
						<xs:element ref="CARRIERCODE" minOccurs="0"/>
						<xs:element ref="PACKAGINGCODE" minOccurs="0"/>
						<xs:element ref="CARRIERMETHOD" minOccurs="0"/>
						<xs:element ref="CARRIEREQUIP" minOccurs="0"/>
						<xs:element ref="HAZARDCODE" minOccurs="0"/>
						<xs:element ref="HAZARDDESC" minOccurs="0"/>
						<xs:element ref="VENDORLOTNUM" minOccurs="0"/>
						<xs:element ref="BARCODELABEL" minOccurs="0"/>
						<xs:element ref="DOCUMENTRELEASE" minOccurs="0"/>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="USUPINVFG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VALUE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VALUECLASS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VERB">
		<xs:complexType mixed="true">
			<xs:attribute name="value" type="xs:anySimpleType" fixed="SHOW"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="VOUCHER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WAGEGROUP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WAGETYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WAREHOUSE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WARRANTY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WORKCENTER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WORKORDER">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="WRKSCHDID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="XREFTYPEID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="YEAR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AMOUNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element ref="NUMOFDEC"/>
				<xs:element ref="SIGN"/>
				<xs:element ref="CURRENCY"/>
				<xs:element ref="DRCR"/>
			</xs:sequence>
			<xs:attribute name="qualifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ESTUCOST"/>
						<xs:enumeration value="ORDLIMIT"/>
						<xs:enumeration value="OVERRIDE"/>
						<xs:enumeration value="EXTENDED"/>
						<xs:enumeration value="TAXBASE"/>
						<xs:enumeration value="ORDER"/>
						<xs:enumeration value="TOTAL"/>
						<xs:enumeration value="TAX"/>
						<xs:enumeration value="OPENITEM"/>
						<xs:enumeration value="DOCUMENT"/>
						<xs:enumeration value="ESTMANIMP"/>
						<xs:enumeration value="ACTUAL"/>
						<xs:enumeration value="APPRVORD"/>
						<xs:enumeration value="COMMISSION"/>
						<xs:enumeration value="DSCPRCNT"/>
						<xs:enumeration value="TOTLIMIT"/>
						<xs:enumeration value="ITEM"/>
						<xs:enumeration value="RATE"/>
						<xs:enumeration value="AVAILABLE"/>
						<xs:enumeration value="ESTHRS"/>
						<xs:enumeration value="PAYRATE"/>
						<xs:enumeration value="PRCBRK"/>
						<xs:enumeration value="BUDGET"/>
						<xs:enumeration value="ESTIMATE"/>
						<xs:enumeration value="DECLAREVAL"/>
						<xs:enumeration value="ESTFREIGHT"/>
						<xs:enumeration value="ESTENGIMP"/>
						<xs:enumeration value="FREIGHT"/>
						<xs:enumeration value="DISCNT"/>
						<xs:enumeration value="OTHER"/>
						<xs:enumeration value="DSCVALUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TAX"/>
						<xs:enumeration value="F"/>
						<xs:enumeration value="T"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="index" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BSR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VERB"/>
				<xs:element ref="NOUN"/>
				<xs:element ref="REVISION"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATETIME">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="YEAR"/>
				<xs:element ref="MONTH"/>
				<xs:element ref="DAY"/>
				<xs:element ref="HOUR"/>
				<xs:element ref="MINUTE"/>
				<xs:element ref="SECOND"/>
				<xs:element ref="SUBSECOND"/>
				<xs:element ref="TIMEZONE"/>
			</xs:sequence>
			<xs:attribute name="qualifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="SETUPFINSH"/>
						<xs:enumeration value="REPORTNGFN"/>
						<xs:enumeration value="FAILDATE"/>
						<xs:enumeration value="PO"/>
						<xs:enumeration value="REPORTDATE"/>
						<xs:enumeration value="ACTSTART"/>
						<xs:enumeration value="COMPDATE"/>
						<xs:enumeration value="LABORFINSH"/>
						<xs:enumeration value="TEARDOWNS"/>
						<xs:enumeration value="PROMDELV"/>
						<xs:enumeration value="EXCHRATEDATE"/>
						<xs:enumeration value="FORECASTF"/>
						<xs:enumeration value="CREATION"/>
						<xs:enumeration value="SCHEND"/>
						<xs:enumeration value="TEARDOWNF"/>
						<xs:enumeration value="ACTEND"/>
						<xs:enumeration value="APPREQ"/>
						<xs:enumeration value="PYMTTERM"/>
						<xs:enumeration value="FORECASTS"/>
						<xs:enumeration value="DELIVSCHED"/>
						<xs:enumeration value="DELIVACT"/>
						<xs:enumeration value="BKTSTART"/>
						<xs:enumeration value="FROM"/>
						<xs:enumeration value="EARLSTEFF"/>
						<xs:enumeration value="DOCUMENT"/>
						<xs:enumeration value="RSPDDATE"/>
						<xs:enumeration value="EARLSTSHIP"/>
						<xs:enumeration value="TO"/>
						<xs:enumeration value="NEEDDELV"/>
						<xs:enumeration value="IMPL"/>
						<xs:enumeration value="REPORTNGST"/>
						<xs:enumeration value="SHIP"/>
						<xs:enumeration value="REQUIRED"/>
						<xs:enumeration value="STATUSDATE"/>
						<xs:enumeration value="LOADING"/>
						<xs:enumeration value="LASTUSED"/>
						<xs:enumeration value="CANCEL"/>
						<xs:enumeration value="RESORCDWNF"/>
						<xs:enumeration value="EXECSTART"/>
						<xs:enumeration value="ENGCHG"/>
						<xs:enumeration value="PLANSTART"/>
						<xs:enumeration value="GENERATION"/>
						<xs:enumeration value="RESORCDWNS"/>
						<xs:enumeration value="PLANEND"/>
						<xs:enumeration value="DUE"/>
						<xs:enumeration value="JOBDUE"/>
						<xs:enumeration value="MATCHING"/>
						<xs:enumeration value="INVOICE"/>
						<xs:enumeration value="EFFECTIVE"/>
						<xs:enumeration value="CHANGEDATE"/>
						<xs:enumeration value="LABORSTART"/>
						<xs:enumeration value="EXECFINISH"/>
						<xs:enumeration value="SHIPSCHED"/>
						<xs:enumeration value="PROMSHIP"/>
						<xs:enumeration value="SETUPSTART"/>
						<xs:enumeration value="PAYEND"/>
						<xs:enumeration value="BKTEND"/>
						<xs:enumeration value="APPROVAL"/>
						<xs:enumeration value="AVAILABLE"/>
						<xs:enumeration value="MSMENTDATE"/>
						<xs:enumeration value="SCHSTART"/>
						<xs:enumeration value="RECEIVED"/>
						<xs:enumeration value="RSPDOCGEN"/>
						<xs:enumeration value="EXPIRATION"/>
						<xs:enumeration value="OPFINISH"/>
						<xs:enumeration value="CUMULATIVE"/>
						<xs:enumeration value="OPSTART"/>
						<xs:enumeration value="DISCNT"/>
						<xs:enumeration value="CONSUME"/>
						<xs:enumeration value="OTHER"/>
						<xs:enumeration value="ACCOUNTING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="F"/>
						<xs:enumeration value="T"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="index" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OPERAMT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element ref="NUMOFDEC"/>
				<xs:element ref="SIGN"/>
				<xs:element ref="CURRENCY"/>
				<xs:element ref="UOMVALUE"/>
				<xs:element ref="UOMNUMDEC"/>
				<xs:element ref="UOM"/>
			</xs:sequence>
			<xs:attribute name="qualifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="COST"/>
						<xs:enumeration value="EXTENDED"/>
						<xs:enumeration value="UNIT"/>
						<xs:enumeration value="FREIGHT"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="F"/>
						<xs:enumeration value="T"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="QUANTITY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element ref="NUMOFDEC"/>
				<xs:element ref="SIGN"/>
				<xs:element ref="UOM"/>
			</xs:sequence>
			<xs:attribute name="qualifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ACCEPTED"/>
						<xs:enumeration value="NETWEIGHT"/>
						<xs:enumeration value="LDTMOFFSET"/>
						<xs:enumeration value="START"/>
						<xs:enumeration value="MINIMUM"/>
						<xs:enumeration value="PERSHBNOPR"/>
						<xs:enumeration value="WAITTIME"/>
						<xs:enumeration value="AVGRUNSIZE"/>
						<xs:enumeration value="REJECTED"/>
						<xs:enumeration value="DELIVERED"/>
						<xs:enumeration value="VOLUME"/>
						<xs:enumeration value="LOADINGWT"/>
						<xs:enumeration value="MAXPARLTM"/>
						<xs:enumeration value="BATCHSIZE"/>
						<xs:enumeration value="MSMENT"/>
						<xs:enumeration value="PRIOR"/>
						<xs:enumeration value="ORDERED"/>
						<xs:enumeration value="TOOLREQD"/>
						<xs:enumeration value="QUEUETIME"/>
						<xs:enumeration value="REWORK"/>
						<xs:enumeration value="BREAKTIME"/>
						<xs:enumeration value="MOVETIME"/>
						<xs:enumeration value="DURUNDER"/>
						<xs:enumeration value="ALLOCATED"/>
						<xs:enumeration value="BLOCKED"/>
						<xs:enumeration value="INSPECTED"/>
						<xs:enumeration value="UNDERSHIP"/>
						<xs:enumeration value="DURATION"/>
						<xs:enumeration value="SCRAP"/>
						<xs:enumeration value="OTHERREJ"/>
						<xs:enumeration value="EMPREQD"/>
						<xs:enumeration value="MAXIMUM"/>
						<xs:enumeration value="PERSHWIOPR"/>
						<xs:enumeration value="PERCENT"/>
						<xs:enumeration value="HEIGHT"/>
						<xs:enumeration value="LOTSIZEMLT"/>
						<xs:enumeration value="BATCHTIME"/>
						<xs:enumeration value="OVERSHIP"/>
						<xs:enumeration value="REQUIRED"/>
						<xs:enumeration value="ESTWEIGHT"/>
						<xs:enumeration value="BACKORDERD"/>
						<xs:enumeration value="TEARDOWN"/>
						<xs:enumeration value="CAPPERCENT"/>
						<xs:enumeration value="COMPLETED"/>
						<xs:enumeration value="SHIPUNIT"/>
						<xs:enumeration value="ACTDUR"/>
						<xs:enumeration value="DUE"/>
						<xs:enumeration value="LENGTH"/>
						<xs:enumeration value="PERCENTREQ"/>
						<xs:enumeration value="COMMISSION"/>
						<xs:enumeration value="INSPECTION"/>
						<xs:enumeration value="ACTHRS"/>
						<xs:enumeration value="REJFIXED"/>
						<xs:enumeration value="LOTSIZEMAX"/>
						<xs:enumeration value="WIPMOVE"/>
						<xs:enumeration value="ESTDUR"/>
						<xs:enumeration value="REMDUR"/>
						<xs:enumeration value="ITEM"/>
						<xs:enumeration value="CATCHWEGHT"/>
						<xs:enumeration value="RATE"/>
						<xs:enumeration value="FILENAME"/>
						<xs:enumeration value="AVAILABLE"/>
						<xs:enumeration value="UPPERLIMIT"/>
						<xs:enumeration value="LOTSIZEMIN"/>
						<xs:enumeration value="ESTHRS"/>
						<xs:enumeration value="RUNTIME"/>
						<xs:enumeration value="REMHRS"/>
						<xs:enumeration value="ALLOWEDWT"/>
						<xs:enumeration value="SETUPTIME"/>
						<xs:enumeration value="MACHINEHRS"/>
						<xs:enumeration value="SHIPPED"/>
						<xs:enumeration value="RECEIVED"/>
						<xs:enumeration value="OPEN"/>
						<xs:enumeration value="LOWERLIMIT"/>
						<xs:enumeration value="EMPLOYEES"/>
						<xs:enumeration value="DUROVER"/>
						<xs:enumeration value="PRCBRK"/>
						<xs:enumeration value="UNIT"/>
						<xs:enumeration value="RETURNED"/>
						<xs:enumeration value="TOTWEIGHT"/>
						<xs:enumeration value="SHELFLIFE"/>
						<xs:enumeration value="LABOR"/>
						<xs:enumeration value="PLNDPRCT"/>
						<xs:enumeration value="FIXEDTIME"/>
						<xs:enumeration value="CUMULATIVE"/>
						<xs:enumeration value="WIDTH"/>
						<xs:enumeration value="MULTIPLIER"/>
						<xs:enumeration value="TRANSFRLOT"/>
						<xs:enumeration value="REJPERCENT"/>
						<xs:enumeration value="FILESIZE"/>
						<xs:enumeration value="WEIGHT"/>
						<xs:enumeration value="OTHER"/>
						<xs:enumeration value="PACKING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CNTROLAREA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BSR"/>
				<xs:element ref="SENDER"/>
				<xs:element ref="DATETIME"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SENDER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LOGICALID"/>
				<xs:element ref="COMPONENT"/>
				<xs:element ref="TASK"/>
				<xs:element ref="REFERENCEID"/>
				<xs:element ref="CONFIRMATION"/>
				<xs:element ref="LANGUAGE"/>
				<xs:element ref="CODEPAGE"/>
				<xs:element ref="AUTHID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TEMPRATURE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VALUE"/>
				<xs:element ref="NUMOFDEC"/>
				<xs:element ref="SIGN"/>
			</xs:sequence>
			<xs:attribute name="qualifier" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ACTUAL"/>
						<xs:enumeration value="LOADING"/>
						<xs:enumeration value="DELIVERY"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="KELVIN"/>
						<xs:enumeration value="CELSIUS"/>
						<xs:enumeration value="FAHRENHEIT"/>
						<xs:enumeration value="OTHER"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADDRESS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ADDRLINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ADDRTYPE" minOccurs="0"/>
				<xs:element ref="CITY" minOccurs="0"/>
				<xs:element ref="COUNTRY" minOccurs="0"/>
				<xs:element ref="COUNTY" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="FAX" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="POSTALCODE" minOccurs="0"/>
				<xs:element ref="REGION" minOccurs="0"/>
				<xs:element ref="STATEPROVN" minOccurs="0"/>
				<xs:element ref="TAXJRSDCTN" minOccurs="0"/>
				<xs:element ref="TELEPHONE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="URL" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTCHREF">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="DATETIME"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:element ref="CMPRSNTYPE" minOccurs="0"/>
				<xs:element ref="CMPRSNID" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="FILETYPE" minOccurs="0"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TITLE" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="FILENAME"/>
					<xs:element ref="URI"/>
				</xs:choice>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CHARGE">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="OPERAMT"/>
				</xs:choice>
				<xs:element ref="CHARGEID" minOccurs="0"/>
				<xs:element ref="CHARGETYPE" minOccurs="0"/>
				<xs:element ref="CHGLINENUM" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="DISTRIBUTN" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTACT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NAME"/>
				<xs:element ref="CONTCTTYPE" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="EMAIL" minOccurs="0"/>
				<xs:element ref="FAX" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NAME" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TELEPHONE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DISTRIBUTN">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="OPERAMT"/>
				</xs:choice>
				<xs:element ref="BUSNAREA" minOccurs="0"/>
				<xs:element ref="COSTCENTER" minOccurs="0"/>
				<xs:element ref="DEPARTMENT" minOccurs="0"/>
				<xs:element ref="DIVISION" minOccurs="0"/>
				<xs:element ref="ELEMENT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="FUND" minOccurs="0"/>
				<xs:element ref="GEOGRAPHY" minOccurs="0"/>
				<xs:element ref="GLENTITYS" minOccurs="0"/>
				<xs:element ref="GLNOMACCT" minOccurs="0"/>
				<xs:element ref="PROFITCTR" minOccurs="0"/>
				<xs:element ref="PROJECT" minOccurs="0"/>
				<xs:element ref="UNIT" minOccurs="0"/>
				<xs:element ref="WAREHOUSE" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCUMENTID" minOccurs="0"/>
				<xs:element ref="DOCUMENTRV" minOccurs="0"/>
				<xs:element ref="DOCTYPE" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMNTREF">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCTYPE"/>
				<xs:element ref="DOCUMENTID"/>
				<xs:element ref="PARTNRID"/>
				<xs:element ref="PARTNRTYPE"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="DOCUMENTRV" minOccurs="0"/>
				<xs:element ref="LINENUM" minOccurs="0"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SCHLINENUM" minOccurs="0"/>
				<xs:element ref="SUBLINENUM" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LOTSERIAL">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:element ref="LOTLEVEL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PARENTLOT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PARENTSNUM" minOccurs="0"/>
				<xs:element ref="SERIALNUM" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARTNER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ONETIME" minOccurs="0"/>
				<xs:element ref="PARTNRID" minOccurs="0"/>
				<xs:element ref="PARTNRTYPE" minOccurs="0"/>
				<xs:element ref="SYNCIND" minOccurs="0"/>
				<xs:element ref="ACTIVE" minOccurs="0"/>
				<xs:element ref="CURRENCY" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="DUNSNUMBER" minOccurs="0"/>
				<xs:element ref="GLENTITYS" minOccurs="0"/>
				<xs:element ref="NAME" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PARENTID" minOccurs="0"/>
				<xs:element ref="PARTNRIDX" minOccurs="0"/>
				<xs:element ref="PARTNRRATG" minOccurs="0"/>
				<xs:element ref="PARTNRROLE" minOccurs="0"/>
				<xs:element ref="PAYMETHOD" minOccurs="0"/>
				<xs:element ref="TAXEXEMPT" minOccurs="0"/>
				<xs:element ref="TAXID" minOccurs="0"/>
				<xs:element ref="TERMID" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="ADDRESS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ATTCHREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CONTACT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="returndata" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FTTERM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="TERMID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FOB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="TERMID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAYMMETHOD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="TERMID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREDTCRD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CARDID" minOccurs="0"/>
				<xs:element ref="NAME" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="DATETIME"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STARTACTIVEDATE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ENDACTIVEDATE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATEGORYID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REVISIONNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DOCUMENTRELEASE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CARRIERCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PACKAGINGCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CARRIERMETHOD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CARRIEREQUIP">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HAZARDCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HAZARDDESC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTECATEGORY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="USSGLTRANSCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VENDORLOTNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUBSTITUTEITEMID">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="BARCODELABEL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="GRADECODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATECODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="AGE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LOTATTRIBCATEGORY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ITEMSIZE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="COLOR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PLACEOFORIG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="RECYCLEDCONTENT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CURLWRINKLEFOLD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SUPPLIERLOTNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="STATUS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VENDORSERIALNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SERIALATTRIBCATEGORY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMESINCENEW">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CYCLESSINCENEW">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMESINCEOVERHAUL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CYCLESSINCEOVERHAUL">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMESINCEREPAIR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMESINCEVISIT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CYCLESSINCEVISIT">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TIMESINCEMARK">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CYCLESSINCEMARK">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NUMBEROFREPAIRS">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTACHMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TEXT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EXCHRATE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONFIRM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PCARDHDR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MEMBERNAME" minOccurs="0"/>
				<xs:element ref="PCARDNUM" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="DATETIME"/>
				</xs:choice>
				<xs:element ref="PCARDBRAND" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MEMBERNAME">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PCARDNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PCARDBRAND">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CUSTOMERNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="REQUESTOR">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTRACTPONUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTRACTPOLINENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="VENDORQUOTENUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LISTPRICE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="MARKETPRICE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICENOTTOEXCEED">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NEGPRICE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TAXABLE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TXNREASONCODE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TYPE1099">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="LINEORDERTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HAZRDUNNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="HAZRDUNDESC">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PRICEOVRRD">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISTPROJECT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="REQUESTOR" minOccurs="0"/>
				<xs:element ref="EMAIL" minOccurs="0"/>
				<xs:element ref="TELEPHONE" minOccurs="0"/>
				<xs:element ref="DISTNUM" minOccurs="0"/>
				<xs:element ref="PROJECTNUM" minOccurs="0"/>
				<xs:element ref="PROJECTTYPE" minOccurs="0"/>
				<xs:element ref="TASKNUM" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:element ref="CONVRATE"/>
				<xs:choice minOccurs="0">
					<xs:element ref="DATETIME"/>
				</xs:choice>
				<xs:element ref="DESTTYPE" minOccurs="0"/>
				<xs:element ref="DFFDISTRIBUTN" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJECTNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DISTNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="PROJECTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TASKNUM">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONVRATE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DESTTYPE">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DFFPOHEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFFVENDORSITE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFFVENDOR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFFLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFFITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="KFFITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE17" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE18" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE19" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE20" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DFFDISTRIBUTN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ATTRIBUTE1" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE2" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE3" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE4" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE5" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE6" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE7" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE8" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE9" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE10" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE11" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE12" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE13" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE14" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE15" minOccurs="0"/>
				<xs:element ref="ATTRIBUTE16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ATTRIBUTE1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE4">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE6">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE9">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE10">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE11">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE12">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE13">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE15">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE16">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE17">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE18">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE19">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ATTRIBUTE20">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB4">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB6">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB9">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB10">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB11">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB12">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB13">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIB15">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="SHIPLINEATTRIBCATEGORY">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE4">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE6">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE9">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE10">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE11">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE12">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE13">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE15">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE16">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE17">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE18">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE19">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CATTRIBUTE20">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE4">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE6">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE9">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE10">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE11">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE12">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE13">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE15">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE16">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE17">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE18">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE19">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DATTRIBUTE20">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE4">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE6">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE9">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="NATTRIBUTE10">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="TANDC">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GLOBALCONTRACT">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GLOBALCONTRACTLIN">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONSIGNEDINV">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PSCLNSTATUS">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHOW_SHIPMENT_005">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNTROLAREA"/>
				<xs:element ref="DATAAREA" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATAAREA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHOW_SHIPMENT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHOW_SHIPMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SHIPMENT"/>
				<xs:element ref="SHIPUNIT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHIPMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="DATETIME"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="AMOUNT"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="OPERAMT"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="TEMPRATURE"/>
				</xs:choice>
				<xs:element ref="DOCUMENTID"/>
				<xs:element ref="SHIPPERID"/>
				<xs:element ref="CARRIER" minOccurs="0"/>
				<xs:element ref="CARRSRVLVL" minOccurs="0"/>
				<xs:element ref="COUNTRYDST" minOccurs="0"/>
				<xs:element ref="COUNTRYORG" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="DISTCENTER" minOccurs="0"/>
				<xs:element ref="DOCKID" minOccurs="0"/>
				<xs:element ref="DOCTYPE" minOccurs="0"/>
				<xs:element ref="DOCUMENTRV" minOccurs="0"/>
				<xs:element ref="DROPSHIP" minOccurs="0"/>
				<xs:element ref="EXPORTLIC" minOccurs="0"/>
				<xs:element ref="FRGHTCLS" minOccurs="0"/>
				<xs:element ref="FRGHTTERMS" minOccurs="0"/>
				<xs:element ref="HAZRDMATL" minOccurs="0"/>
				<xs:element ref="HDRSTATUS" minOccurs="0"/>
				<xs:element ref="IMPORTLIC" minOccurs="0"/>
				<xs:element ref="LOADPOINT" minOccurs="0"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PARTIALSHP" minOccurs="0"/>
				<xs:element ref="PRIORITY" minOccurs="0"/>
				<xs:element ref="ROUTEID" minOccurs="0"/>
				<xs:element ref="SHIPNOTES" minOccurs="0"/>
				<xs:element ref="SHIPPOINT" minOccurs="0"/>
				<xs:element ref="SHIPPRIOR" minOccurs="0"/>
				<xs:element ref="SHIPSRVLVL" minOccurs="0"/>
				<xs:element ref="SPECIALHND" minOccurs="0"/>
				<xs:element ref="STAGEPOINT" minOccurs="0"/>
				<xs:element ref="TRANSMETHD" minOccurs="0"/>
				<xs:element ref="TRANSTERMS" minOccurs="0"/>
				<xs:element ref="WAREHOUSE" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="PARTNER" maxOccurs="unbounded"/>
				<xs:element ref="SHIPITEM" maxOccurs="unbounded"/>
				<xs:element ref="ATTCHREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CHARGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DOCUMNTREF" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHIPITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="AMOUNT"/>
				</xs:choice>
				<xs:element ref="ITEM"/>
				<xs:element ref="COUNTRYORG" minOccurs="0"/>
				<xs:element ref="DISPOSITN" minOccurs="0"/>
				<xs:element ref="EXPORTLIC" minOccurs="0"/>
				<xs:element ref="FRGHTCLS" minOccurs="0"/>
				<xs:element ref="FRGHTITEM" minOccurs="0"/>
				<xs:element ref="HAZRDMATL" minOccurs="0"/>
				<xs:element ref="IMPORTLIC" minOccurs="0"/>
				<xs:element ref="ITEMDESC" minOccurs="0"/>
				<xs:element ref="ITEMRV" minOccurs="0"/>
				<xs:element ref="ITEMRVX" minOccurs="0"/>
				<xs:element ref="ITEMX" minOccurs="0"/>
				<xs:element ref="LOTLEVEL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OWNRSHPCDE" minOccurs="0"/>
				<xs:element ref="PACKING" minOccurs="0"/>
				<xs:element ref="PARTIALSHP" minOccurs="0"/>
				<xs:element ref="SHIPNOTES" minOccurs="0"/>
				<xs:element ref="SHIPPRIOR" minOccurs="0"/>
				<xs:element ref="UPC" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="DOCUMNTREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INVDETAIL" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INVDETAIL">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="DISPOSITN" minOccurs="0"/>
				<xs:element ref="LOTLEVEL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SERIALNUM" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHIPUNIT">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="AMOUNT"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="DATETIME"/>
				</xs:choice>
				<xs:choice minOccurs="0">
					<xs:element ref="OPERAMT"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="TEMPRATURE"/>
				</xs:choice>
				<xs:element ref="CARRIER"/>
				<xs:element ref="SHIPPERID"/>
				<xs:element ref="TRACKINGID"/>
				<xs:element ref="CARRSRVLVL" minOccurs="0"/>
				<xs:element ref="CONTAINRID" minOccurs="0"/>
				<xs:element ref="CONTNRSEAL" minOccurs="0"/>
				<xs:element ref="CONTNRTYPE" minOccurs="0"/>
				<xs:element ref="COUNTRYDST" minOccurs="0"/>
				<xs:element ref="COUNTRYORG" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="EXPORTLIC" minOccurs="0"/>
				<xs:element ref="FRGHTCLS" minOccurs="0"/>
				<xs:element ref="FRGHTITEM" minOccurs="0"/>
				<xs:element ref="FRGHTTERMS" minOccurs="0"/>
				<xs:element ref="HAZRDMATL" minOccurs="0"/>
				<xs:element ref="IMPORTLIC" minOccurs="0"/>
				<xs:element ref="LOADPOINT" minOccurs="0"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SHIPMATLID" minOccurs="0"/>
				<xs:element ref="SHIPNOTES" minOccurs="0"/>
				<xs:element ref="SHIPPOINT" minOccurs="0"/>
				<xs:element ref="SHIPSRVLVL" minOccurs="0"/>
				<xs:element ref="SHPMTLDESC" minOccurs="0"/>
				<xs:element ref="SHPUNITSEQ" minOccurs="0"/>
				<xs:element ref="SHPUNITSTS" minOccurs="0"/>
				<xs:element ref="SHPUNITTOT" minOccurs="0"/>
				<xs:element ref="SPECIALHND" minOccurs="0"/>
				<xs:element ref="STAGEPOINT" minOccurs="0"/>
				<xs:element ref="TRANSMETHD" minOccurs="0"/>
				<xs:element ref="TRANSTERMS" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="PARTNER" maxOccurs="unbounded"/>
				<xs:element ref="ATTCHREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CHARGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CONTAINER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DOCUMNTREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INVITEM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTAINER">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CONTAINRID" minOccurs="0"/>
				<xs:element ref="CONTNRSEAL" minOccurs="0"/>
				<xs:element ref="CONTNRTYPE" minOccurs="0"/>
				<xs:element ref="DESCRIPTN" minOccurs="0"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PACKING" minOccurs="0"/>
				<xs:element ref="PACKNGDESC" minOccurs="0"/>
				<xs:element ref="PARCNTNRID" minOccurs="0"/>
				<xs:element ref="SHIPMATLID" minOccurs="0"/>
				<xs:element ref="SHPMTLDESC" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="DOCUMNTREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INVITEM" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INVITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="QUANTITY"/>
				</xs:choice>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="AMOUNT"/>
				</xs:choice>
				<xs:element ref="ITEM"/>
				<xs:element ref="COUNTRYORG" minOccurs="0"/>
				<xs:element ref="FRGHTCLS" minOccurs="0"/>
				<xs:element ref="FRGHTITEM" minOccurs="0"/>
				<xs:element ref="HAZRDMATL" minOccurs="0"/>
				<xs:element ref="ITEMDESC" minOccurs="0"/>
				<xs:element ref="ITEMRV" minOccurs="0"/>
				<xs:element ref="ITEMRVX" minOccurs="0"/>
				<xs:element ref="ITEMX" minOccurs="0"/>
				<xs:element ref="LOTLEVEL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NOTES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OWNRSHPCDE" minOccurs="0"/>
				<xs:element ref="SHIPNOTES" minOccurs="0"/>
				<xs:element ref="UPC" minOccurs="0"/>
				<xs:element ref="USERAREA" minOccurs="0"/>
				<xs:element ref="DOCUMNTREF" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INVDETAIL" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CARDID"/>
	<xs:element name="TEXT"/>
</xs:schema>
