JDEV11G/SOAApp/ETH_EMR501_TransactionRegistrationService_Composite/ETH_EMR501_FL_SRD_TxnFile.wsdl

<wsdl:definitions
     name="ETH_EMR501_FL_SRD_TxnFile"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ETHWorkAPPL/ETH_EMR501_TransactionRegistrationService_Composite/ETH_EMR501_FL_SRD_TxnFile"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/ETHWorkAPPL/ETH_EMR501_TransactionRegistrationService_Composite/ETH_EMR501_FL_SRD_TxnFile"
     xmlns:imp1="http://schema.emerson.com/ETH/FlatFile/V1"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="SyncRead_EMR501_TxnFile_plt" >
    <plt:role name="SyncRead_EMR501_TxnFile_role" >
      <plt:portType name="tns:SyncRead_EMR501_TxnFile_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ETHWorkAPPL/ETH_EMR501_TransactionRegistrationService_Composite/ETH_EMR501_FL_SRD_TxnFile"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://schema.emerson.com/ETH/FlatFile/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/ApplicationObjectLibrary/ETH/FlatFile/V1/EMR501_ETH_PO.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SyncRead_EMR501_TxnFile_msg">
        <wsdl:part name="body" element="imp1:PurchaseOrder"/>
    </wsdl:message>
    <wsdl:portType name="SyncRead_EMR501_TxnFile_ptt">
        <wsdl:operation name="SyncRead_EMR501_TxnFile">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SyncRead_EMR501_TxnFile_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
