JDEV11G/Sarah_Mappings/XSLTParameters/xsd/XSLTParameters.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Sarah_Mappings/XSLTParameters/XSLTParameters"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
        <element name="parameter1" type="string"/>
        <element name="parameter2" type="string"/>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>