JDEV10G/RnDs/AQIssue_Imitate/B2B_AQ_Push.wsdl

<definitions
     name="B2B_AQ_Push"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/B2B_AQ_Push/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/B2B_AQ_Push/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:obj1="http://xmlns.oracle.com/xdb/B2B"
    >
    <types>
    <!-- Define AQ Headers = Payload Headers + Static Queue Headers -->
    <schema attributeFormDefault="qualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/B2B_AQ_Push/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/B2B_AQ_Push/"
            xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/"
            xmlns:obj1="http://xmlns.oracle.com/xdb/B2B" >
      <import namespace="http://xmlns.oracle.com/xdb/B2B" schemaLocation="B2B_IP_MESSAGE_TYPE.xsd"/>
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/aq/outbound/" schemaLocation="aqAdapterOutboundHeader.xsd"/>
      <complexType name="HeaderCType" >
        <sequence>
          <!-- static header -->
          <element name="QueueHeader" type="hdr:HeaderType" />
          <!-- payload header -->
          <element name="PayloadHeader" type="obj1:IP_MESSAGE_TYPE" />
        </sequence>
      </complexType>
      <element name="Header" type="tns:HeaderCType" />
    </schema>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
    </schema>
    </types>
    <message name="Enqueue_msg">
        <part name="opaque" element="opaque:opaqueElement"/>
    </message>
    <message name="Header_msg">
        <part name="Header" element="tns:Header"/>
    </message>
    <portType name="Enqueue_ptt">
        <operation name="Enqueue">
            <input message="tns:Enqueue_msg"/>
        </operation>
    </portType>
    <binding name="Enqueue_binding" type="tns:Enqueue_ptt">
    <jca:binding  />
        <operation name="Enqueue">
      <jca:operation
          InteractionSpec="oracle.tip.adapter.aq.outbound.AQEnqueueInteractionSpec"
          QueueName="IP_OUT_QUEUE"
          DatabaseSchema="B2B"
          ObjectFieldName="PAYLOAD"
          PayloadHeaderRequired="true"
          RecipientList="B2BUSER"
          OpaqueSchema="true" >
      </jca:operation>
      <input>
        <jca:header message="tns:Header_msg" part="Header"/>
      </input>
        </operation>
    </binding>
    <service name="B2B_AQ_Push">
        <port name="Enqueue_pt" binding="tns:Enqueue_binding">
<!--Your runtime connection is declared in 
J2EE_HOME/application-deployments/default/AqAdapter/oc4j-ra.xml 
These mcf properties here are from your design time connection and 
save you from having to edit that file and restart the application server 
if eis/AQ/ETH_B2B is missing. 
These mcf properties are safe to remove.-->
      <jca:address location="eis/AQ/ETH_B2B" UIConnectionName="Stage_B2B"
          ManagedConnectionFactory="oracle.tip.adapter.aq.AQManagedConnectionFactory"
          mcf.ConnectionString="jdbc:oracle:thin:@//elshasdb.emrsn.com:20004/elshas4"
          mcf.UserName="b2b"
          mcf.Password="6672B62098892995C8B651EFDF798A59" />
        </port>
    </service>
  <plt:partnerLinkType name="Enqueue_plt" >
    <plt:role name="Enqueue_role" >
      <plt:portType name="tns:Enqueue_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
