JDEV11G/Dhami-SOA/SarahMappings/xsd/Core/EBO/PurchaseOrder/V1/OAGIS/Resources/Nouns/OnlineSession.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: \OAGIS\9.0\Resources\Nouns\OnlineSession.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified">
        <xsd:include schemaLocation="../Components/Common/Components.xsd"/>
        <xsd:element name="OnlineSession" type="OnlineSessionType"/>
        <xsd:element name="SearchTerm" type="SearchTermType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The SEARCHTERM data type contains information that can be used to perform an initial search on the destination’s application.  For example, a requester might wish to view a supplier’s catalog but restrict the result set for only ‘ballpoint pens’.  The requester would use this data type to perform this initial query.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="OnlineSessionType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">This includes all the parameters necessary to request and identify a session between two applications.  Information within this component includes information like the userid, account, usergroup, URLs to which the reply/ cart should be redirected and so on.

This also includes the ReturnURL tag to identify the result URL that is returned by the target system as a result of processing the Request.</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                        <xsd:element ref="SessionID" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The SessionId uniquely identifies the session that makes the Request</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="User" minOccurs="0"/>
                        <xsd:element ref="RequestDateTime" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">This is the DateTime at which the Request for the OnlineSession is initiated by the Requesting application</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="ResponseDateTime" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">This is the DateTime at which the Response for the OnlineSession is generated by the Target application</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="ReplyURL" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The ReplyURL is used to specify a URL that can be used by the provider to post any information collected by the requester in the session. An example of usage of this is to post the contents of a cart created by a buying application user from an external catalog.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="RedirectURL" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The RedirectURL can be used to indicate a URL to which the Requesting application can be re-directed once the session initiated by this connection is completed. The session completion event is not recorded in this transaction. </xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="ReturnURL" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The ReturnURL element is specified in the Show ECatalogURL by the target application. It contains a URL reference to which the requesting application is pointed. This will not have a value in the Request (Get) Message</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="RequestLanguageCode" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The RequestLanguage element can be used by the requesting system to indicate the desired language of the catalog or application to which session will be initiated upon receipt of the Show URL transaction.  For instance, application A wishes to ‘punch out’ to external system B’s online Dutch-language catalog.  System B supports numerous languages, but will validate the value of the 'RequestLanguage' element and return the appropriate URL to direct application A to the Dutch site</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:group ref="FreeFormTextGroup"/>
                        <xsd:element ref="OriginatorParty" minOccurs="0"/>
                        <xsd:element ref="RecipientParty" minOccurs="0"/>
                        <xsd:element ref="CatalogParty" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="SearchTerm" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element ref="UserArea" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="SearchTermType">
                <xsd:sequence>
                        <xsd:element ref="SearchValueText" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The SearchValue is the element that identifies the search value the catalog provider (destination system or context) should query for.  As in the previous example, if the user wishes to query for a result set of only ballpoint pens, the SearchValue for this might be ‘Ballpoint.’  The catalog provider will then take this SearchValue and query for this match.  The Show URL transaction would then redirect the originating system to a URL that contains this result set</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="InclusiveIndicator" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The SearchValueInclusiveInd element is used to identify whether the SearchValue should be an included or excluded component of the result set.  For example, if a user was looking for ballpoint pens, but NOT red ballpoint pens, the transaction would contain two instances of the SearchTerm data type one containing a SearchValue of ‘Ballpoint’ and an SearchValueInclusive of 'Inclusive' and one containing a SearchValue of ‘Red’ and an SearchValueInclusive of 'Exclusive'</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="ExactMatchIndicator" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The ExactMatch element is used to define the type of search the external system should perform.  If the ExactMatch is true then the external system should (if supported) search using this criterion and return only the data that exactly matches the search criteria.  A false value would mean that the external system should use this search criterion and return a ‘fuzzy’ match of data that contains the search criteria but not necessarily an explicit match.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="Operator" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The Operator element defines operator criteria for the SearchValue. For instance if the requester wishes to return a result set of all prices &gt; $600, the transaction would contain a SearchTerm data type with a SearchValue of ‘600’, an SearchValueInclusive of ‘0’ and an OPERATOR value of ‘&gt;.’
The valid values for OPERATOR are: "Greater Then, Less Then, Greater Then or Equals, Less Then or Equals, Equals</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="SearchQualifier" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The SearchQualifier element is an additional element to identify how the SearchValue should be utilized for the search in the catalog provider’s system.  The SearchQualifier could be used to indicate that the SearchValue should be searched for in Item Descriptions, or categories, etc.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <xsd:element ref="UserArea" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>
        <xsd:element name="Operator" type="TokenType">
                <xsd:annotation>
                        <xsd:documentation>The Operator element defines operator criteria for the SearchValue. For instance if the requester wishes to return a result set of all prices &gt; $600, the transaction would contain a SearchTerm data type with a SearchValue of ‘600’, an SearchValueInclusive of ‘0’ and an OPERATOR value of ‘&gt;.’
The valid values for OPERATOR are: "Greater Then, Less Then, Greater Then or Equals, Less Then or Equals, Equals</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="SearchQualifier" type="TokenType">
                <xsd:annotation>
                        <xsd:documentation>The SearchQualifier element is an additional element to identify how the SearchValue should be utilized for the search in the catalog provider’s system.  The SearchQualifier could be used to indicate that the SearchValue should be searched for in Item Descriptions, or categories, etc.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
</xsd:schema>
