JDEV10G/Dhami2/ETH_ESB_B2B_InputOutput/public_html/LiebertFlatFileInput.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://xmlns.emrsn.com/LiebertPurchaseOrder"
            xmlns:tns="http://xmlns.emrsn.com/LiebertPurchaseOrder"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified" nxsd:encoding="ASCII" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}" nxsd:stream="chars" nxsd:version="NXSD">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="record" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="HDISA01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA09" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDISA16" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDGS08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDST01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDST02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDBEG11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HDCUR09" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1REF01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1REF03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4REF01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4REF02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5REF01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5REF03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD6REF01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD6REF03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1FOB01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1FOB02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1FOB03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1FOB06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1FOB07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1ITD12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N901" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N903" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1MTX01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1MTX02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1MTX03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N103" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N104" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N301" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N302" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N303" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N304" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N401" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N402" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N403" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N404" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N405" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N406" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1N407" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4PER08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N301" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N302" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N303" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N304" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N401" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N402" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N403" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N404" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N405" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N406" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD4N407" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD1PER08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N301" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N302" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N303" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N304" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N401" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N402" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N403" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N404" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N405" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N406" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD5N407" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD6N101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD6N102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="HD6N201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO103" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO104" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO106" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO107" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO108" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO109" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO110" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PO111" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MEA01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MEA02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MEA03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MEA04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PID01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1PID05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TC201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TC202" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TC205" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TC206" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TD401" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1TD402" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MTX01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MTX02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1MTX03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N101" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N102" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N103" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N104" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N201" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N301" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N302" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N303" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N304" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N401" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N402" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N403" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N404" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N405" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N406" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3N407" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3REF01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3REF02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3REF03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN3REF04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER03" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER04" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER07" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN4PER08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH05" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH06" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH08" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH09" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="LN1SCH12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="SUCTT01" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|">
              </xsd:element>
              <xsd:element name="SUCTT02" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}">
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
<!--NXSDWIZ:C:\Documents and Settings\dansrnt\Desktop\LIEBERTNA_ETH_PO_20090211_test1.txt:-->
<!--USE-HEADER:true:-->