JDEV11G/Dhami-SOA/FileMove_11GAdapter/DHAMI_FL_MV_File.wsdl

<wsdl:definitions
     name="DHAMI_FL_MV_File"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/Dhami-SOA/FileMove_11GAdapter/DHAMI_FL_MV_File"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/Dhami-SOA/FileMove_11GAdapter/DHAMI_FL_MV_File"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="FileMove_plt" >
    <plt:role name="FileMove_role" >
      <plt:portType name="tns:FileMove_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="FileMove_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="FileMove_ptt">
        <wsdl:operation name="FileMove">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:FileMove_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
