JDEV11G/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_FL_DEL_ArchiveFile.wsdl

<?binding.jca ETH_FL_DEL_ArchiveFile_file.jca?>
<wsdl:definitions name="ETH_FL_DEL_ArchiveFile" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_FL_DEL_ArchiveFile" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_FL_DEL_ArchiveFile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="SynchRead_plt">
        <plt:role name="SynchRead_role">
            <plt:portType name="tns:SynchRead_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
            <element name="empty">
                <complexType/>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
