JDEV11G/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_AQ_DEQ_PMSarah.wsdl

<?binding.jca ETH_AQ_DEQ_PMSarah_aq.jca?>
<wsdl:definitions name="ETH_AQ_DEQ_PMSarah" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_AQ_DEQ_PMSarah" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/Dhami-SOA/ETH_GLB_LSNA_PO_ConnectorService1/ETH_AQ_DEQ_PMSarah" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns:ph="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="DequeueETHSarah_plt">
        <plt:role name="DequeueETHSarah_role">
            <plt:portType name="tns:DequeueETHSarah_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="HeaderCType">
                <sequence>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="Header" type="ph:HeaderCType"/>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="DequeueETHSarah_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:message name="Header_msg">
        <wsdl:part name="Header" element="ph:Header"/>
    </wsdl:message>
    <wsdl:portType name="DequeueETHSarah_ptt">
        <wsdl:operation name="DequeueETHSarah">
            <wsdl:input message="tns:DequeueETHSarah_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
