JDEV10G/Dhami1/ESBProcess1/custOutSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.4.795 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.emerson.com/inderOut" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nameOut" type="xs:string" />
        <xs:element name="ageOut" type="xs:integer" />
        <xs:element name="salaryOut" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>