JDEV10G/Dhami1/ESBProcess1/resultOutDBAdapter2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="resultOutDBAdapter2"
    targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/resultOutDBAdapter2/"
    xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/resultOutDBAdapter2/"
    xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
    xmlns:pc="http://xmlns.oracle.com/pcbpel/"
    xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/resultOutDBAdapter2"
    xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/db/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/" location="DBAdapterOutboundHeader.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/resultOutDBAdapter2"
                schemaLocation="resultOutDBAdapter2_table.xsd"/>
        </schema>
    </types>

    <message name="Customer1Collection_msg">
        <part name="Customer1Collection" element="top:Customer1Collection"/>
    </message>


    <portType name="resultOutDBAdapter2_ptt">
        <operation name="merge">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
        <operation name="write">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
        <operation name="insert">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
        <operation name="update">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
    </portType>

    <binding name="resultOutDBAdapter2_binding" type="tns:resultOutDBAdapter2_ptt">
        <jca:binding />
        <operation name="merge">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="resultOutDBAdapter2.Customer1"
                DmlType="merge"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="resultOutDBAdapter2_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="write">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="resultOutDBAdapter2.Customer1"
                DmlType="write"
                MappingsMetaDataURL="resultOutDBAdapter2_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="insert">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="resultOutDBAdapter2.Customer1"
                DmlType="insert"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="resultOutDBAdapter2_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="update">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="resultOutDBAdapter2.Customer1"
                DmlType="update"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="resultOutDBAdapter2_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
    </binding>

    <!-- Your runtime connection is declared in
        J2EE_HOME/application-deployments/default/DbAdapter/oc4j-ra.xml
        These 'mcf' properties here are from your design time connection and 
        save you from having to edit that file and restart the application server
        if eis/DB/OracleXE is missing.
        These 'mcf' properties are safe to remove.
    -->
    <service name="resultOutDBAdapter2">
        <port name="resultOutDBAdapter2_pt" binding="tns:resultOutDBAdapter2_binding">
            <jca:address location="eis/DB/OracleXE"
                UIConnectionName="OracleXE"
                ManagedConnectionFactory="oracle.tip.adapter.db.DBManagedConnectionFactory"
                mcf.DriverClassName="oracle.jdbc.OracleDriver"
                mcf.PlatformClassName="oracle.toplink.platform.database.oracle.OraclePlatform"
                mcf.ConnectionString="jdbc:oracle:thin:@//localhost:1521/XE"
                mcf.UserName="system"
                mcf.Password="47E570316F19A1CFFD2E2104BF5CA8FE"
            />
        </port>
    </service>

    <plt:partnerLinkType name="resultOutDBAdapter2_plt" >
        <plt:role name="resultOutDBAdapter2_role" >
            <plt:portType name="tns:resultOutDBAdapter2_ptt" />
        </plt:role>
    </plt:partnerLinkType>

</definitions>
