JDEV11G/Dhami-SOA/FileMove_11GAdapter/xsd/FileMove_11GAdapter.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Dhami_SOA/FileMove_11GAdapter/FileMove_11GAdapter"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="SourcePhysicalDirectory" type="string"/>
        <element name="SourceFileName" type="string"/>
        <element name="TargetPhysicalDirectory" type="string"/>
        <element name="TargetFileName" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>