JDEV11G/Dhami-SOA/ETH_GLB_LSNA_PO_Connector_Composite/ETH_AQ_DEQ_PMSarah.wsdl

<?binding.jca ETH_AQ_DEQ_PMSarah_aq.jca?>
<wsdl:definitions name="ETH_AQ_DEQ_PMSarah" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/Dhami-SOA/ETH_GLB_LSNA_PO_Connector_Composite/ETH_AQ_DEQ_PMSarah" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/aq/Dhami-SOA/ETH_GLB_LSNA_PO_Connector_Composite/ETH_AQ_DEQ_PMSarah" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM" xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns:ph="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <plt:partnerLinkType name="ETH_AQ_DEQ_PMSarah_plt">
        <plt:role name="DequeueSarah_role">
            <plt:portType name="tns:Dequeue_ptt"/>
        </plt:role>
        <plt:role name="EnqueueSarah_role">
            <plt:portType name="tns:Enqueue_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj1="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="HeaderCType">
                <sequence>
                    <element name="PayloadHeader" type="obj1:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="OutboundHeader" type="ph:HeaderCType"/>
        </schema>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/aq/headers/payloadheaders/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj2="http://xmlns.oracle.com/xdb/SYSTEM">
            <import namespace="http://xmlns.oracle.com/xdb/SYSTEM" schemaLocation="xsd/SYSTEM_ECXMSG.xsd"/>
            <complexType name="HeaderCType2">
                <sequence>
                    <element name="PayloadHeader" type="obj2:ECXMSG"/>
                </sequence>
            </complexType>
            <element name="InboundHeader" type="ph:HeaderCType2"/>
        </schema>
        <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="opaqueElement" type="base64Binary"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="DequeueSarah_msg_in">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:message name="EnqueueSarah_msg_out">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:message name="OutboundHeader_msg">
        <wsdl:part name="Header" element="ph:OutboundHeader"/>
    </wsdl:message>
    <wsdl:message name="InboundHeader_msg">
        <wsdl:part name="Header" element="ph:InboundHeader"/>
    </wsdl:message>
    <wsdl:portType name="Dequeue_ptt">
        <wsdl:operation name="DequeueSarah">
            <wsdl:input message="tns:DequeueSarah_msg_in"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Enqueue_ptt">
        <wsdl:operation name="EnqueueSarah">
            <wsdl:input message="tns:EnqueueSarah_msg_out"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
