JDEV10G/Dhami3/MDM_Services/public_html/WEB-INF/wsdl/MDMSearchRecord.wsdl

<definitions
     name="MDMSearchRecord"
     targetNamespace="http://www.gssamerica.com/mdm/services/MDMSearchRecord/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://www.gssamerica.com/mdm/services/MDMSearchRecord/"
     xmlns:mdm="http://www.gssamerica.com/mdm/services"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <types>
        <xsd:schema targetNamespace="http://www.gssamerica.com/mdm/services/MDMSearchRecord/">
            <xsd:import namespace="http://www.gssamerica.com/mdm/services" schemaLocation="MDMService.xsd"/>
            <xsd:simpleType name="result">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FULL_MATCH"/>
                    <xsd:enumeration value="PARTIAL_MATCH"/>
                    <xsd:enumeration value="NO_MATCH"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:element name="RecordExistResponse" type="tns:result"/>
        </xsd:schema>
    </types>
    <message name="LookupRecordRequest">
        <part name="SearchRecordRequest" element="mdm:LookupSearchRequest"/>
    </message>
    <message name="SearchRecordResponse">
        <part name="RecordExistResponse" element="mdm:ServiceReply"/>
    </message>
    <message name="SearchRecordRequest">
        <part name="SearchRecordRequest" element="mdm:SearchRecordRequest"/>
    </message>
    <portType name="MDMSearchRecord">
        <operation name="lookupRecord">
            <input message="tns:LookupRecordRequest"/>
            <output message="tns:SearchRecordResponse"/>
        </operation>
        <operation name="searchRecord">
            <input message="tns:SearchRecordRequest"/>
            <output message="tns:SearchRecordResponse"/>
        </operation>
    </portType>
    <binding name="MDMSearchRecordSOAP" type="tns:MDMSearchRecord">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="lookupRecord">
            <soap:operation soapAction="http://www.gssamerica.com/mdm/services/MDMSearchRecord/lookupRecord"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="searchRecord">
            <soap:operation soapAction="http://www.gssamerica.com/mdm/services/MDMSearchRecord/searchRecord"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MDMSearchRecord">
        <port name="MDMSearchRecordSOAP" binding="tns:MDMSearchRecordSOAP">
            <soap:address location="http://gdc-18:8888/MDM_Services/MDMSearchRecordSOAP"/>
        </port>
    </service>
</definitions>
