JDEV11G/Dhami-SOA/GoDynamic/xsd/GoDynamicBPELProcess.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/GoDynamic/GoDynamic/GoDynamicBPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="GoDynamicBPELProcessProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="GoDynamicBPELProcessProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>