JDEV11G/Dhami-SOA/GoDynamic/xsd/HelloWorld.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/HelloWorld/HelloWorlf/HelloWorld"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="HelloWorldProcessRequest">
        <complexType>
            <sequence>
                <element name="input" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="HelloWorldProcessResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
