JDEV11G/SOAApp/ETH_EMR501_TransactionRegistrationService_Composite/xsd/ETH_EMR501_BPEL_TransactionRegistrationService.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/TrainingAppl/ETH_EMR501_TransactionRegistrationService_Composite/ETH_EMR501_BPEL_TransactionRegistrationService"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="FileName" type="string"/>
        <element name="SenderID" type="string"/>
         <element name="MasterID" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>