JDEV10G/Dhami1/BPELProcess3/bpel/BPELProcess3.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/BPELProcess3"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="BPELProcess3ProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="BPELProcess3ProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>