JDEV10G/Dhami2/LIEBERT_VENDAVO_INTEGRATION_ENPOperatingType_BPEL/output/bpel/LBT_Read_OperatingType.wsdl

<definitions
     name="LBT_Read_OperatingType"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/LBT_Read_OperatingType/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/LBT_Read_OperatingType/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:imp1="http://TargetNamespace.com/LBT_FtpPut_OperatingType"
     xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/ftp/"
    >
    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/" location="ftpAdapterOutboundHeader.wsdl"/>
    <types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/LBT_Read_OperatingType/"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/LBT_FtpPut_OperatingType" schemaLocation="OperatingType.xsd" />
        <element name="empty"><complexType/></element>
      </schema>
    </types>
    <message name="Empty_msg">
        <part name="Empty" element="tns:empty"/>
    </message>
    <message name="OperatingUnitRecord_msg">
        <part name="OperatingUnitRecord" element="imp1:OperatingUnitRecord"/>
    </message>
    <portType name="SynchRead_ptt">
        <operation name="SynchRead">
            <input message="tns:Empty_msg"/>
            <output message="tns:OperatingUnitRecord_msg"/>
        </operation>
    </portType>
    <binding name="SynchRead_binding" type="tns:SynchRead_ptt">
    <jca:binding  />
        <operation name="SynchRead">
      <jca:operation
          FileType="ascii"
          PhysicalDirectory="/infile/"
          InteractionSpec="oracle.tip.adapter.ftp.outbound.FTPReadInteractionSpec"
          DeleteFile="false"
          FileName="ENPOperatingType.csv"
          OpaqueSchema="false" >
      </jca:operation>
      <input>
        <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
      </input>
        </operation>
    </binding>
    <service name="LBT_Read_OperatingType">
        <port name="SynchRead_pt" binding="tns:SynchRead_binding">
      <jca:address location="eis/FTP/Liebert_Vendavo" />
        </port>
    </service>
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
</definitions>
