JDEV10G/Dhami2/ETH_ESB_ALICE_InOutProcess/public_html/Resources/Nouns/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: \OAGIS\9.0\Resources\Nouns\Invoice.xsd
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis/9" targetNamespace="http://www.openapplications.org/oagis/9" elementFormDefault="qualified">
        <xsd:include schemaLocation="../Components/Operational/OrderManagementComponents.xsd"/>
        <xsd:element name="Invoice" type="InvoiceType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The Invoice is used to invoice a customer for goods/services the have been provided.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="InvoiceHeader" type="InvoiceHeaderType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Information that applies to the entire invoice document. The Header supports summary amounts for line items, charges, taxes and allowances.

It also supports itemizing Header level charges, taxes and allowances for use in credit or debit invoices. In this case Line items are not needed. 

The summary amounts in the Header include the Line level amounts and Header level amounts.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="InvoiceLine" type="InvoiceLineType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">In general an Invoice Line can be aligned with Order Lines. The ItemQuantity and Price are used to compute the Total. The Total is a sum of the Total and any Charges, Taxes or Allowances.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:element name="InvoiceSubLine" type="InvoiceSubLineType">
                <xsd:annotation>
                        <xsd:documentation>Is a SubLine of the InvoiceLine in order to provide a finer grained breakdown of the items being invoiced.</xsd:documentation>
                </xsd:annotation>
        </xsd:element>
        <xsd:complexType name="InvoiceType">
                <xsd:sequence>
                        <xsd:element ref="InvoiceHeader" minOccurs="0"/>
                        <xsd:element ref="InvoiceLine" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="NormalizedStringType"/>
        </xsd:complexType>
        <xsd:complexType name="InvoiceHeaderType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The InvoiceHeader type supports summary amounts for line items, charges and allowances.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="HeaderType">
                                <xsd:sequence>
                                        <xsd:element ref="ExtendedAmount" minOccurs="0"/>
                                        <xsd:element ref="TotalAmount" minOccurs="0"/>
                                        <xsd:element ref="SupplierParty" minOccurs="0"/>
                                        <xsd:element ref="CustomerParty" minOccurs="0"/>
                                        <xsd:element ref="RemitToParty" minOccurs="0"/>
                                        <xsd:element ref="Party" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="ReasonCode" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">A code for the invoice.Example: Special allowance for preferred customers.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="PurchaseOrderReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="ContractReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="PaymentTerm" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="Tax" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="Charge" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="Allowance" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="InvoiceLineBaseType">
                <xsd:complexContent>
                        <xsd:extension base="LineType">
                                <xsd:sequence>
                                        <xsd:element ref="Item" minOccurs="0"/>
                                        <xsd:element ref="Quantity" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the number of order items for the given line..</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="UnitPrice" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation>Unit price of the item for the number of items in the unitCode specified in the PerQuantity elements.

In most cases the unitCode of the PerQuantity is the same as the unitCode of the Quantity element above.</xsd:documentation>
                                                        <xsd:documentation>Unit price of the item for the number of items in the unitCode specified in the PerQuantity elements.

In most cases the unitCode of the PerQuantity is the same as the unitCode of the Quantity element above.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="PurchaseOrderReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="ContractReference" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="ExtendedAmount" minOccurs="0"/>
                                        <xsd:element ref="TotalAmount" minOccurs="0"/>
                                        <xsd:element ref="OpenItemIndicator" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates that the line is an open item and is not to be included in the document total. </xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element ref="Tax" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="InvoiceCharge" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="InvoiceAllowance" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="InvoiceLineType">
                <xsd:annotation>
                        <xsd:documentation source="http://www.openapplications.org/oagis/9">The InvoiceLine type supports order line invoicing.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                        <xsd:extension base="InvoiceLineBaseType">
                                <xsd:sequence>
                                        <xsd:element ref="InvoiceSubLine" minOccurs="0" maxOccurs="unbounded"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="InvoiceSubLineType">
                <xsd:complexContent>
                        <xsd:extension base="InvoiceLineBaseType">
                                <xsd:sequence>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="InvoiceAllowanceChargeType">
                <xsd:complexContent>
                        <xsd:extension base="AllowanceChargeABIEType">
                                <xsd:sequence>
                                        <xsd:element ref="Tax" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="Party" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="UserArea" minOccurs="0"/>
                                </xsd:sequence>
                        </xsd:extension>
                </xsd:complexContent>
        </xsd:complexType>
        <xsd:element name="InvoiceAllowance" type="InvoiceAllowanceChargeType"/>
        <xsd:element name="InvoiceCharge" type="InvoiceAllowanceChargeType"/>
</xsd:schema>
