JDEV10G/Dhami1/BPELProcess1/bpel/fileOut.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.4.795 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/">
  <xs:element name="fileOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="opaque" type="xs:base64Binary" />
        <xs:element name="header" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>