JDEV10G/Dhami1/BPEL_error_generator/bpel/DB_INS_writeCust.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    name="DB_INS_writeCust"
    targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DB_INS_writeCust/"
    xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/DB_INS_writeCust/"
    xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
    xmlns:pc="http://xmlns.oracle.com/pcbpel/"
    xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBINSwriteCust"
    xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/db/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/" location="DBAdapterOutboundHeader.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBINSwriteCust"
                schemaLocation="DBINSwriteCust_table.xsd"/>
        </schema>
    </types>

    <message name="Customer1Collection_msg">
        <part name="Customer1Collection" element="top:Customer1Collection"/>
    </message>


    <portType name="DB_INS_writeCust_ptt">
        <operation name="merge">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
        <operation name="write">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
        <operation name="insert">
            <input message="tns:Customer1Collection_msg"/>
        </operation>
    </portType>

    <binding name="DB_INS_writeCust_binding" type="tns:DB_INS_writeCust_ptt">
        <jca:binding />
        <operation name="merge">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="DBINSwriteCust.Customer1"
                DmlType="merge"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="DBINSwriteCust_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="write">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="DBINSwriteCust.Customer1"
                DmlType="write"
                MappingsMetaDataURL="DBINSwriteCust_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
        <operation name="insert">
            <jca:operation
                InteractionSpec="oracle.tip.adapter.db.DBWriteInteractionSpec"

                DescriptorName="DBINSwriteCust.Customer1"
                DmlType="insert"
                DetectOmissions="true"
                OptimizeMerge="true"
                MappingsMetaDataURL="DBINSwriteCust_toplink_mappings.xml" />
            <input>
                <jca:header message="hdr:OutboundHeader_msg" part="outboundHeader"/>
            </input>
        </operation>
    </binding>

    <!-- Your runtime connection is declared in
        J2EE_HOME/application-deployments/default/DbAdapter/oc4j-ra.xml
        These 'mcf' properties here are from your design time connection and 
        save you from having to edit that file and restart the application server
        if eis/DB/OracleXE is missing.
        These 'mcf' properties are safe to remove.
    -->
    <service name="DB_INS_writeCust">
        <port name="DB_INS_writeCust_pt" binding="tns:DB_INS_writeCust_binding">
            <jca:address location="eis/DB/OracleXE"
                UIConnectionName="OracleXE"
                ManagedConnectionFactory="oracle.tip.adapter.db.DBManagedConnectionFactory"
                mcf.DriverClassName="oracle.jdbc.OracleDriver"
                mcf.PlatformClassName="oracle.toplink.platform.database.oracle.OraclePlatform"
                mcf.ConnectionString="jdbc:oracle:thin:@//localhost:1521/XE"
                mcf.UserName="system"
                mcf.Password="47E570316F19A1CFFD2E2104BF5CA8FE"
            />
        </port>
    </service>

    <plt:partnerLinkType name="DB_INS_writeCust_plt" >
        <plt:role name="DB_INS_writeCust_role" >
            <plt:portType name="tns:DB_INS_writeCust_ptt" />
        </plt:role>
    </plt:partnerLinkType>

</definitions>
