JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/BOM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/BOM.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyBOM.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetBOM">
                <part name="Message" element="oa:GetBOM"/>
        </message>
        <message name="ShowBOM">
                <part name="Message" element="oa:ShowBOM"/>
        </message>
        <message name="GetListBOM">
                <part name="Message" element="oa:GetListBOM"/>
        </message>
        <message name="ListBOM">
                <part name="Message" element="oa:ListBOM"/>
        </message>
        <message name="SyncBOM">
                <part name="Message" element="oa:SyncBOM"/>
        </message>
        <message name="NotifyBOM">
                <part name="Message" element="oa:NotifyBOM"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestBOMPortType">
                <operation name="GetBOM">
                        <input message="oaws:GetBOM"/>
                </operation>
                <operation name="GetListBOM">
                        <input message="oaws:GetListBOM"/>
                </operation>
                <operation name="SyncBOM">
                        <input message="oaws:SyncBOM"/>
                </operation>
                <operation name="NotifyBOM">
                        <input message="oaws:NotifyBOM"/>
                </operation>
        </portType>
        <portType name="ResponseBOMPortType">
                <operation name="ShowBOM">
                        <input message="oaws:ShowBOM"/>
                </operation>
                <operation name="ListBOM">
                        <input message="oaws:ListBOM"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncBOMPortType">
                <operation name="GetBOM">
                        <input message="oaws:GetBOM"/>
                        <output message="oaws:ShowBOM"/>
                </operation>
                <operation name="GetListBOM">
                        <input message="oaws:GetListBOM"/>
                        <output message="oaws:ListBOM"/>
                </operation>
                <operation name="SyncBOM">
                        <input message="oaws:SyncBOM"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyBOM">
                        <input message="oaws:NotifyBOM"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestBOMBinding" type="oaws:RequestBOMPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseBOMBinding" type="oaws:ResponseBOMPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncBOMBinding" type="oaws:SyncBOMPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyBOM">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/BOM.wsdl"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestBOMService">
                <port name="RequestBOMBinding" binding="oaws:RequestBOMBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestBOM"/>
                </port>
        </service>
        <service name="ResponseBOMService">
                <port name="ResponseBOMBinding" binding="oaws:ResponseBOMBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseBOM"/>
                </port>
        </service>
        <service name="SyncBOMService">
                <port name="SyncBOMBinding" binding="oaws:SyncBOMBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncBOM"/>
                </port>
        </service>
</definitions>
