JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Catalog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Catalog.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetCatalog.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowCatalog.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncCatalog.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyCatalog.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetCatalog">
                <part name="Message" element="oa:GetCatalog"/>
        </message>
        <message name="ShowCatalog">
                <part name="Message" element="oa:ShowCatalog"/>
        </message>
        <message name="SyncCatalog">
                <part name="Message" element="oa:SyncCatalog"/>
        </message>
        <message name="NotifyCatalog">
                <part name="Message" element="oa:NotifyCatalog"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestCatalogPortType">
                <operation name="GetCatalog">
                        <input message="oaws:GetCatalog"/>
                </operation>
                <operation name="SyncCatalog">
                        <input message="oaws:SyncCatalog"/>
                </operation>
                <operation name="NotifyCatalog">
                        <input message="oaws:NotifyCatalog"/>
                </operation>
        </portType>
        <portType name="ResponseCatalogPortType">
                <operation name="ShowCatalog">
                        <input message="oaws:ShowCatalog"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncCatalogPortType">
                <operation name="GetCatalog">
                        <input message="oaws:GetCatalog"/>
                        <output message="oaws:ShowCatalog"/>
                </operation>
                <operation name="SyncCatalog">
                        <input message="oaws:SyncCatalog"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyCatalog">
                        <input message="oaws:NotifyCatalog"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestCatalogBinding" type="oaws:RequestCatalogPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseCatalogBinding" type="oaws:ResponseCatalogPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncCatalogBinding" type="oaws:SyncCatalogPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyCatalog">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Catalog.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestCatalogService">
                <port name="RequestCatalogBinding" binding="oaws:RequestCatalogBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestCatalog"/>
                </port>
        </service>
        <service name="ResponseCatalogService">
                <port name="ResponseCatalogBinding" binding="oaws:ResponseCatalogBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseCatalog"/>
                </port>
        </service>
        <service name="SyncCatalogService">
                <port name="SyncCatalogBinding" binding="oaws:SyncCatalogBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncCatalog"/>
                </port>
        </service>
</definitions>
