JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ChartOfAccounts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ChartOfAccounts.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetChartOfAccounts.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowChartOfAccounts.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncChartOfAccounts.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyChartOfAccounts.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetChartOfAccounts">
                <part name="Message" element="oa:GetChartOfAccounts"/>
        </message>
        <message name="ShowChartOfAccounts">
                <part name="Message" element="oa:ShowChartOfAccounts"/>
        </message>
        <message name="SyncChartOfAccounts">
                <part name="Message" element="oa:SyncChartOfAccounts"/>
        </message>
        <message name="NotifyChartOfAccounts">
                <part name="Message" element="oa:NotifyChartOfAccounts"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestChartOfAccountsPortType">
                <operation name="GetChartOfAccounts">
                        <input message="oaws:GetChartOfAccounts"/>
                </operation>
                <operation name="SyncChartOfAccounts">
                        <input message="oaws:SyncChartOfAccounts"/>
                </operation>
                <operation name="NotifyChartOfAccounts">
                        <input message="oaws:NotifyChartOfAccounts"/>
                </operation>
        </portType>
        <portType name="ResponseChartOfAccountsPortType">
                <operation name="ShowChartOfAccounts">
                        <input message="oaws:ShowChartOfAccounts"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncChartOfAccountsPortType">
                <operation name="GetChartOfAccounts">
                        <input message="oaws:GetChartOfAccounts"/>
                        <output message="oaws:ShowChartOfAccounts"/>
                </operation>
                <operation name="SyncChartOfAccounts">
                        <input message="oaws:SyncChartOfAccounts"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyChartOfAccounts">
                        <input message="oaws:NotifyChartOfAccounts"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestChartOfAccountsBinding" type="oaws:RequestChartOfAccountsPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseChartOfAccountsBinding" type="oaws:ResponseChartOfAccountsPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncChartOfAccountsBinding" type="oaws:SyncChartOfAccountsPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyChartOfAccounts">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ChartOfAccounts.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestChartOfAccountsService">
                <port name="RequestChartOfAccountsBinding" binding="oaws:RequestChartOfAccountsBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestChartOfAccounts"/>
                </port>
        </service>
        <service name="ResponseChartOfAccountsService">
                <port name="ResponseChartOfAccountsBinding" binding="oaws:ResponseChartOfAccountsBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseChartOfAccounts"/>
                </port>
        </service>
        <service name="SyncChartOfAccountsService">
                <port name="SyncChartOfAccountsBinding" binding="oaws:SyncChartOfAccountsBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncChartOfAccounts"/>
                </port>
        </service>
</definitions>
