JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ItemMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ItemMaster.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyItemMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetItemMaster">
                <part name="Message" element="oa:GetItemMaster"/>
        </message>
        <message name="ShowItemMaster">
                <part name="Message" element="oa:ShowItemMaster"/>
        </message>
        <message name="GetListItemMaster">
                <part name="Message" element="oa:GetListItemMaster"/>
        </message>
        <message name="ListItemMaster">
                <part name="Message" element="oa:ListItemMaster"/>
        </message>
        <message name="SyncItemMaster">
                <part name="Message" element="oa:SyncItemMaster"/>
        </message>
        <message name="NotifyItemMaster">
                <part name="Message" element="oa:NotifyItemMaster"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <message name="NewMessage"/>
        <message name="NewMessage2"/>
        <message name="NewMessage3"/>
        <portType name="RequestItemMasterPortType">
                <operation name="GetItemMaster">
                        <input message="oaws:GetItemMaster"/>
                </operation>
                <operation name="GetListItemMaster">
                        <input message="oaws:GetListItemMaster"/>
                </operation>
                <operation name="SyncItemMaster">
                        <input message="oaws:SyncItemMaster"/>
                </operation>
                <operation name="NotifyItemMaster">
                        <input message="oaws:NotifyItemMaster"/>
                </operation>
        </portType>
        <portType name="ResponseItemMasterPortType">
                <operation name="ShowItemMaster">
                        <input message="oaws:ShowItemMaster"/>
                </operation>
                <operation name="ListItemMaster">
                        <input message="oaws:ListItemMaster"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncItemMasterPortType">
                <operation name="GetItemMaster">
                        <input message="oaws:GetItemMaster"/>
                        <output message="oaws:ShowItemMaster"/>
                </operation>
                <operation name="GetListItemMaster">
                        <input message="oaws:GetListItemMaster"/>
                        <output message="oaws:ListItemMaster"/>
                </operation>
                <operation name="SyncItemMaster">
                        <input message="oaws:SyncItemMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyItemMaster">
                        <input message="oaws:NotifyItemMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestItemMasterBinding" type="oaws:RequestItemMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseItemMasterBinding" type="oaws:ResponseItemMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncItemMasterBinding" type="oaws:SyncItemMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyItemMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ItemMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestItemMasterService">
                <port name="RequestItemMasterBinding" binding="oaws:RequestItemMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestItemMaster"/>
                </port>
        </service>
        <service name="ResponseItemMasterService">
                <port name="ResponseItemMasterBinding" binding="oaws:ResponseItemMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseItemMaster"/>
                </port>
        </service>
        <service name="SyncItemMasterService">
                <port name="SyncItemMasterBinding" binding="oaws:SyncItemMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncItemMaster"/>
                </port>
        </service>
</definitions>
