JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Location.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Location.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetLocation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowLocation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncLocation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyLocation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetLocation">
                <part name="Message" element="oa:GetLocation"/>
        </message>
        <message name="ShowLocation">
                <part name="Message" element="oa:ShowLocation"/>
        </message>
        <message name="SyncLocation">
                <part name="Message" element="oa:SyncLocation"/>
        </message>
        <message name="NotifyLocation">
                <part name="Message" element="oa:NotifyLocation"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestLocationPortType">
                <operation name="GetLocation">
                        <input message="oaws:GetLocation"/>
                </operation>
                <operation name="SyncLocation">
                        <input message="oaws:SyncLocation"/>
                </operation>
                <operation name="NotifyLocation">
                        <input message="oaws:NotifyLocation"/>
                </operation>
        </portType>
        <portType name="ResponseLocationPortType">
                <operation name="ShowLocation">
                        <input message="oaws:ShowLocation"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncLocationPortType">
                <operation name="GetLocation">
                        <input message="oaws:GetLocation"/>
                        <output message="oaws:ShowLocation"/>
                </operation>
                <operation name="SyncLocation">
                        <input message="oaws:SyncLocation"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyLocation">
                        <input message="oaws:NotifyLocation"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestLocationBinding" type="oaws:RequestLocationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseLocationBinding" type="oaws:ResponseLocationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncLocationBinding" type="oaws:SyncLocationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyLocation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Location.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestLocationService">
                <port name="RequestLocationBinding" binding="oaws:RequestLocationBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestLocation"/>
                </port>
        </service>
        <service name="ResponseLocationService">
                <port name="ResponseLocationBinding" binding="oaws:ResponseLocationBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseLocation"/>
                </port>
        </service>
        <service name="SyncLocationService">
                <port name="SyncLocationBinding" binding="oaws:SyncLocationBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncLocation"/>
                </port>
        </service>
</definitions>
