JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/MatchDocument.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/MatchDocument.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetMatchDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowMatchDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/LoadMatchDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateMatchDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/PostMatchDocument.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeMatchDocument.xsd"/>
                </xs:schema>
        </types>
        <message name="GetMatchDocument">
                <part name="Message" element="oa:GetMatchDocument"/>
        </message>
        <message name="ShowMatchDocument">
                <part name="Message" element="oa:ShowMatchDocument"/>
        </message>
        <message name="LoadMatchDocument">
                <part name="Message" element="oa:LoadMatchDocument"/>
        </message>
        <message name="PostMatchDocument">
                <part name="Message" element="oa:PostMatchDocument"/>
        </message>
        <message name="AcknowledgeMatchDocument">
                <part name="Message" element="oa:AcknowledgeMatchDocument"/>
        </message>
        <message name="UpdateMatchDocument">
                <part name="Message" element="oa:UpdateMatchDocument"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestMatchDocumentPortType">
                <operation name="GetMatchDocument">
                        <input message="oaws:GetMatchDocument"/>
                </operation>
                <operation name="LoadMatchDocument">
                        <input message="oaws:LoadMatchDocument"/>
                </operation>
                <operation name="PostMatchDocument">
                        <input message="oaws:PostMatchDocument"/>
                </operation>
                <operation name="UpdateMatchDocument">
                        <input message="oaws:UpdateMatchDocument"/>
                </operation>
        </portType>
        <portType name="ResponseMatchDocumentPortType">
                <operation name="AcknowledgeMatchDocument">
                        <input message="oaws:AcknowledgeMatchDocument"/>
                </operation>
                <operation name="ShowMatchDocument">
                        <input message="oaws:ShowMatchDocument"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncMatchDocumentPortType">
                <operation name="GetMatchDocument">
                        <input message="oaws:GetMatchDocument"/>
                        <output message="oaws:ShowMatchDocument"/>
                </operation>
                <operation name="LoadMatchDocument">
                        <input message="oaws:LoadMatchDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="PostMatchDocument">
                        <input message="oaws:PostMatchDocument"/>
                        <output message="oaws:AcknowledgeMatchDocument"/>
                </operation>
                <operation name="UpdateMatchDocument">
                        <input message="oaws:UpdateMatchDocument"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestMatchDocumentBinding" type="oaws:RequestMatchDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="LoadMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="PostMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseMatchDocumentBinding" type="oaws:ResponseMatchDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncMatchDocumentBinding" type="oaws:SyncMatchDocumentPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="LoadMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="PostMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateMatchDocument">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/MatchDocument.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestMatchDocumentService">
                <port name="RequestMatchDocumentBinding" binding="oaws:RequestMatchDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestMatchDocument"/>
                </port>
        </service>
        <service name="ResponseMatchDocumentService">
                <port name="ResponseMatchDocumentBinding" binding="oaws:ResponseMatchDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseMatchDocument"/>
                </port>
        </service>
        <service name="SyncMatchDocumentService">
                <port name="SyncMatchDocumentBinding" binding="oaws:SyncMatchDocumentBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncMatchDocument"/>
                </port>
        </service>
</definitions>
