JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Operation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Operation.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyOperation.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetOperation">
                <part name="Message" element="oa:GetOperation"/>
        </message>
        <message name="ShowOperation">
                <part name="Message" element="oa:ShowOperation"/>
        </message>
        <message name="ProcessOperation">
                <part name="Message" element="oa:ProcessOperation"/>
        </message>
        <message name="AcknowledgeOperation">
                <part name="Message" element="oa:AcknowledgeOperation"/>
        </message>
        <message name="SyncOperation">
                <part name="Message" element="oa:SyncOperation"/>
        </message>
        <message name="NotifyOperation">
                <part name="Message" element="oa:NotifyOperation"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <portType name="RequestOperationPortType">
                <operation name="GetOperation">
                        <input message="oaws:GetOperation"/>
                </operation>
                <operation name="ProcessOperation">
                        <input message="oaws:ProcessOperation"/>
                </operation>
                <operation name="SyncOperation">
                        <input message="oaws:SyncOperation"/>
                </operation>
                <operation name="NotifyOperation">
                        <input message="oaws:NotifyOperation"/>
                </operation>
        </portType>
        <portType name="ResponseOperationPortType">
                <operation name="ShowOperation">
                        <input message="oaws:ShowOperation"/>
                </operation>
                <operation name="AcknowledgeOperation">
                        <input message="oaws:AcknowledgeOperation"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncOperationPortType">
                <operation name="GetOperation">
                        <input message="oaws:GetOperation"/>
                        <output message="oaws:ShowOperation"/>
                </operation>
                <operation name="ProcessOperation">
                        <input message="oaws:ProcessOperation"/>
                        <output message="oaws:AcknowledgeOperation"/>
                </operation>
                <operation name="SyncOperation">
                        <input message="oaws:SyncOperation"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyOperation">
                        <input message="oaws:NotifyOperation"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestOperationBinding" type="oaws:RequestOperationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseOperationBinding" type="oaws:ResponseOperationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="AcknowledgeOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncOperationBinding" type="oaws:SyncOperationPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyOperation">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9/ws/wsdl/Operation.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestOperationService">
                <port name="RequestOperationBinding" binding="oaws:RequestOperationBinding">
                        <soap:address location="http://openapplications.org/9/ws/RequestOperation"/>
                </port>
        </service>
        <service name="ResponseOperationService">
                <port name="ResponseOperationBinding" binding="oaws:ResponseOperationBinding">
                        <soap:address location="http://openapplications.org/9/ws/ResponseOperation"/>
                </port>
        </service>
        <service name="SyncOperationService">
                <port name="SyncOperationBinding" binding="oaws:SyncOperationBinding">
                        <soap:address location="http://openapplications.org/9/ws/SyncOperation"/>
                </port>
        </service>
</definitions>
