JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Opportunity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Opportunity.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateOpportunity.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeOpportunity">
                <part name="Message" element="oa:AcknowledgeOpportunity"/>
        </message>
        <message name="ChangeOpportunity">
                <part name="Message" element="oa:ChangeOpportunity"/>
        </message>
        <message name="GetOpportunity">
                <part name="Message" element="oa:GetOpportunity"/>
        </message>
        <message name="ProcessOpportunity">
                <part name="Message" element="oa:ProcessOpportunity"/>
        </message>
        <message name="RespondOpportunity">
                <part name="Message" element="oa:RespondOpportunity"/>
        </message>
        <message name="ShowOpportunity">
                <part name="Message" element="oa:ShowOpportunity"/>
        </message>
        <message name="SyncOpportunity">
                <part name="Message" element="oa:SyncOpportunity"/>
        </message>
        <message name="NotifyOpportunity">
                <part name="Message" element="oa:NotifyOpportunity"/>
        </message>
        <message name="UpdateOpportunity">
                <part name="Message" element="oa:UpdateOpportunity"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestOpportunityPortType">
                <operation name="ChangeOpportunity">
                        <input message="oaws:ChangeOpportunity"/>
                </operation>
                <operation name="ProcessOpportunity">
                        <input message="oaws:ProcessOpportunity"/>
                </operation>
                <operation name="GetOpportunity">
                        <input message="oaws:GetOpportunity"/>
                </operation>
                <operation name="SyncOpportunity">
                        <input message="oaws:SyncOpportunity"/>
                </operation>
                <operation name="NotifyOpportunity">
                        <input message="oaws:NotifyOpportunity"/>
                </operation>
                <operation name="UpdateOpportunity">
                        <input message="oaws:UpdateOpportunity"/>
                </operation>
        </portType>
        <portType name="ResponseOpportunityPortType">
                <operation name="AcknowledgeOpportunity">
                        <input message="oaws:AcknowledgeOpportunity"/>
                </operation>
                <operation name="RespondOpportunity">
                        <input message="oaws:RespondOpportunity"/>
                </operation>
                <operation name="ShowOpportunity">
                        <input message="oaws:ShowOpportunity"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncOpportunityPortType">
                <operation name="ProcessOpportunity">
                        <input message="oaws:ProcessOpportunity"/>
                        <output message="oaws:AcknowledgeOpportunity"/>
                </operation>
                <operation name="ChangeOpportunity">
                        <input message="oaws:ChangeOpportunity"/>
                        <output message="oaws:RespondOpportunity"/>
                </operation>
                <operation name="GetOpportunity">
                        <input message="oaws:GetOpportunity"/>
                        <output message="oaws:ShowOpportunity"/>
                </operation>
                <operation name="SyncOpportunity">
                        <input message="oaws:SyncOpportunity"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyOpportunity">
                        <input message="oaws:NotifyOpportunity"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateOpportunity">
                        <input message="oaws:UpdateOpportunity"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestOpportunityBinding" type="oaws:RequestOpportunityPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ChangeOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseOpportunityBinding" type="oaws:ResponseOpportunityPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncOpportunityBinding" type="oaws:SyncOpportunityPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateOpportunity">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Opportunity.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestOpportunityService">
                <port name="RequestOpportunityBinding" binding="oaws:RequestOpportunityBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestOpportunity"/>
                </port>
        </service>
        <service name="ResponseOpportunityService">
                <port name="ResponseOpportunityBinding" binding="oaws:ResponseOpportunityBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseOpportunity"/>
                </port>
        </service>
        <service name="SyncOpportunityService">
                <port name="SyncOpportunityBinding" binding="oaws:SyncOpportunityBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncOpportunity"/>
                </port>
        </service>
</definitions>
