JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/PaymentStatusIST.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/PaymentStatusIST.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessPaymentStatusIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgePaymentStatusIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetPaymentStatusIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPaymentStatusIST.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessPaymentStatusIST">
                <part name="Message" element="oa:ProcessPaymentStatusIST"/>
        </message>
        <message name="AcknowledgePaymentStatusIST">
                <part name="Message" element="oa:AcknowledgePaymentStatusIST"/>
        </message>
        <message name="GetPaymentStatusIST">
                <part name="Message" element="oa:GetPaymentStatusIST"/>
        </message>
        <message name="ShowPaymentStatusIST">
                <part name="Message" element="oa:ShowPaymentStatusIST"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPaymentStatusISTPortType">
                <operation name="GetPaymentStatusIST">
                        <input message="oaws:GetPaymentStatusIST"/>
                </operation>
                <operation name="ProcessPaymentStatusIST">
                        <input message="oaws:ProcessPaymentStatusIST"/>
                </operation>
        </portType>
        <portType name="ResponsePaymentStatusISTPortType">
                <operation name="AcknowledgePaymentStatusIST">
                        <input message="oaws:AcknowledgePaymentStatusIST"/>
                </operation>
                <operation name="ShowPaymentStatusIST">
                        <input message="oaws:ShowPaymentStatusIST"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPaymentStatusISTPortType">
                <operation name="GetPaymentStatusIST">
                        <input message="oaws:GetPaymentStatusIST"/>
                        <output message="oaws:ShowPaymentStatusIST"/>
                </operation>
                <operation name="ProcessPaymentStatusIST">
                        <input message="oaws:ProcessPaymentStatusIST"/>
                        <output message="oaws:AcknowledgePaymentStatusIST"/>
                </operation>
        </portType>
        <binding name="RequestPaymentStatusISTBinding" type="oaws:RequestPaymentStatusISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetPaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePaymentStatusISTBinding" type="oaws:ResponsePaymentStatusISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgePaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowPaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPaymentStatusISTBinding" type="oaws:SyncPaymentStatusISTPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetPaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessPaymentStatusIST">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PaymentStatusIST.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPaymentStatusISTService">
                <port name="RequestPaymentStatusISTBinding" binding="oaws:RequestPaymentStatusISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPaymentStatusIST"/>
                </port>
        </service>
        <service name="ResponsePaymentStatusISTService">
                <port name="ResponsePaymentStatusISTBinding" binding="oaws:ResponsePaymentStatusISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePaymentStatusIST"/>
                </port>
        </service>
        <service name="SyncPaymentStatusISTService">
                <port name="SyncPaymentStatusISTBinding" binding="oaws:SyncPaymentStatusISTBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPaymentStatusIST"/>
                </port>
        </service>
</definitions>
