JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/PickList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/PickList.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgePickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/CancelPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangePickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetListPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ListPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdatePickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyPickList.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgePickList">
                <part name="Message" element="oa:AcknowledgePickList"/>
        </message>
        <message name="CancelPickList">
                <part name="Message" element="oa:CancelPickList"/>
        </message>
        <message name="ChangePickList">
                <part name="Message" element="oa:ChangePickList"/>
        </message>
        <message name="GetPickList">
                <part name="Message" element="oa:GetPickList"/>
        </message>
        <message name="ShowPickList">
                <part name="Message" element="oa:ShowPickList"/>
        </message>
        <message name="GetListPickList">
                <part name="Message" element="oa:GetListPickList"/>
        </message>
        <message name="ListPickList">
                <part name="Message" element="oa:ListPickList"/>
        </message>
        <message name="ProcessPickList">
                <part name="Message" element="oa:ProcessPickList"/>
        </message>
        <message name="RespondPickList">
                <part name="Message" element="oa:RespondPickList"/>
        </message>
        <message name="UpdatePickList">
                <part name="Message" element="oa:UpdatePickList"/>
        </message>
        <message name="SyncPickList">
                <part name="Message" element="oa:SyncPickList"/>
        </message>
        <message name="NotifyPickList">
                <part name="Message" element="oa:NotifyPickList"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestPickListPortType">
                <operation name="ProcessPickList">
                        <input message="oaws:ProcessPickList"/>
                </operation>
                <operation name="ChangePickList">
                        <input message="oaws:ChangePickList"/>
                </operation>
                <operation name="CancelPickList">
                        <input message="oaws:CancelPickList"/>
                </operation>
                <operation name="GetPickList">
                        <input message="oaws:GetPickList"/>
                </operation>
                <operation name="GetListPickList">
                        <input message="oaws:GetListPickList"/>
                </operation>
                <operation name="UpdatePickList">
                        <input message="oaws:UpdatePickList"/>
                </operation>
                <operation name="SyncPickList">
                        <input message="oaws:SyncPickList"/>
                </operation>
                <operation name="NotifyPickList">
                        <input message="oaws:NotifyPickList"/>
                </operation>
        </portType>
        <portType name="ResponsePickListPortType">
                <operation name="AcknowledgePickList">
                        <input message="oaws:AcknowledgePickList"/>
                </operation>
                <operation name="RespondPickList">
                        <input message="oaws:RespondPickList"/>
                </operation>
                <operation name="ShowPickList">
                        <input message="oaws:ShowPickList"/>
                </operation>
                <operation name="ListPickList">
                        <input message="oaws:ListPickList"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncPickListPortType">
                <operation name="ProcessPickList">
                        <input message="oaws:ProcessPickList"/>
                        <output message="oaws:AcknowledgePickList"/>
                </operation>
                <operation name="ChangePickList">
                        <input message="oaws:ChangePickList"/>
                        <output message="oaws:RespondPickList"/>
                </operation>
                <operation name="CancelPickList">
                        <input message="oaws:CancelPickList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="GetPickList">
                        <input message="oaws:GetPickList"/>
                        <output message="oaws:ShowPickList"/>
                </operation>
                <operation name="GetListPickList">
                        <input message="oaws:GetListPickList"/>
                        <output message="oaws:ListPickList"/>
                </operation>
                <operation name="UpdatePickList">
                        <input message="oaws:UpdatePickList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="SyncPickList">
                        <input message="oaws:SyncPickList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyPickList">
                        <input message="oaws:NotifyPickList"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestPickListBinding" type="oaws:RequestPickListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ChangePickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="CancelPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetListPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdatePickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponsePickListBinding" type="oaws:ResponsePickListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgePickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ListPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncPickListBinding" type="oaws:SyncPickListPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangePickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="CancelPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetListPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdatePickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyPickList">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/PickList.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestPickListService">
                <port name="RequestPickListBinding" binding="oaws:RequestPickListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestPickList"/>
                </port>
        </service>
        <service name="ResponsePickListService">
                <port name="ResponsePickListBinding" binding="oaws:ResponsePickListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponsePickList"/>
                </port>
        </service>
        <service name="SyncPickListService">
                <port name="SyncPickListBinding" binding="oaws:SyncPickListBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncPickList"/>
                </port>
        </service>
</definitions>
