JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/ProjectMaster.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/ProjectMaster.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetProjectMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowProjectMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncProjectMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifyProjectMaster.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetProjectMaster">
                <part name="Message" element="oa:GetProjectMaster"/>
        </message>
        <message name="ShowProjectMaster">
                <part name="Message" element="oa:ShowProjectMaster"/>
        </message>
        <message name="SyncProjectMaster">
                <part name="Message" element="oa:SyncProjectMaster"/>
        </message>
        <message name="NotifyProjectMaster">
                <part name="Message" element="oa:NotifyProjectMaster"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestProjectMasterPortType">
                <operation name="GetProjectMaster">
                        <input message="oaws:GetProjectMaster"/>
                </operation>
                <operation name="SyncProjectMaster">
                        <input message="oaws:SyncProjectMaster"/>
                </operation>
                <operation name="NotifyProjectMaster">
                        <input message="oaws:NotifyProjectMaster"/>
                </operation>
        </portType>
        <portType name="ResponseProjectMasterPortType">
                <operation name="ShowProjectMaster">
                        <input message="oaws:ShowProjectMaster"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncProjectMasterPortType">
                <operation name="GetProjectMaster">
                        <input message="oaws:GetProjectMaster"/>
                        <output message="oaws:ShowProjectMaster"/>
                </operation>
                <operation name="SyncProjectMaster">
                        <input message="oaws:SyncProjectMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifyProjectMaster">
                        <input message="oaws:NotifyProjectMaster"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestProjectMasterBinding" type="oaws:RequestProjectMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifyProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseProjectMasterBinding" type="oaws:ResponseProjectMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncProjectMasterBinding" type="oaws:SyncProjectMasterPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifyProjectMaster">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/ProjectMaster.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestProjectMasterService">
                <port name="RequestProjectMasterBinding" binding="oaws:RequestProjectMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestProjectMaster"/>
                </port>
        </service>
        <service name="ResponseProjectMasterService">
                <port name="ResponseProjectMasterBinding" binding="oaws:ResponseProjectMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseProjectMaster"/>
                </port>
        </service>
        <service name="SyncProjectMasterService">
                <port name="SyncProjectMasterBinding" binding="oaws:SyncProjectMasterBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncProjectMaster"/>
                </port>
        </service>
</definitions>
