JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/Receivable.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/Receivable.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/GetReceivable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowReceivable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/LoadReceivable.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="GetReceivable">
                <part name="Message" element="oa:GetReceivable"/>
        </message>
        <message name="ShowReceivable">
                <part name="Message" element="oa:ShowReceivable"/>
        </message>
        <message name="LoadReceivable">
                <part name="Message" element="oa:LoadReceivable"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestReceivablePortType">
                <operation name="GetReceivable">
                        <input message="oaws:GetReceivable"/>
                </operation>
                <operation name="LoadReceivable">
                        <input message="oaws:LoadReceivable"/>
                </operation>
        </portType>
        <portType name="ResponseReceivablePortType">
                <operation name="ShowReceivable">
                        <input message="oaws:ShowReceivable"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="LoadReceivablePortType">
                <operation name="GetReceivable">
                        <input message="oaws:GetReceivable"/>
                        <output message="oaws:ShowReceivable"/>
                </operation>
                <operation name="LoadReceivable">
                        <input message="oaws:LoadReceivable"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestReceivableBinding" type="oaws:RequestReceivablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetReceivable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="LoadReceivable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseReceivableBinding" type="oaws:ResponseReceivablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ShowReceivable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="LoadReceivableBinding" type="oaws:LoadReceivablePortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetReceivable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="LoadReceivable">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/Receivable.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestReceivableService">
                <port name="RequestReceivableBinding" binding="oaws:RequestReceivableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestReceivable"/>
                </port>
        </service>
        <service name="ResponseReceivableService">
                <port name="ResponseReceivableBinding" binding="oaws:ResponseReceivableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseReceivable"/>
                </port>
        </service>
        <service name="LoadReceivableService">
                <port name="LoadReceivableBinding" binding="oaws:LoadReceivableBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/LoadReceivable"/>
                </port>
        </service>
</definitions>
