JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/RecoverWIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/RecoverWIP.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessRecoverWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeRecoverWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetRecoverWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowRecoverWIP.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="ProcessRecoverWIP">
                <part name="Message" element="oa:ProcessRecoverWIP"/>
        </message>
        <message name="AcknowledgeRecoverWIP">
                <part name="Message" element="oa:AcknowledgeRecoverWIP"/>
        </message>
        <message name="GetRecoverWIP">
                <part name="Message" element="oa:GetRecoverWIP"/>
        </message>
        <message name="ShowRecoverWIP">
                <part name="Message" element="oa:ShowRecoverWIP"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestRecoverWIPPortType">
                <operation name="GetRecoverWIP">
                        <input message="oaws:GetRecoverWIP"/>
                </operation>
                <operation name="ProcessRecoverWIP">
                        <input message="oaws:ProcessRecoverWIP"/>
                </operation>
        </portType>
        <portType name="ResponseRecoverWIPPortType">
                <operation name="AcknowledgeRecoverWIP">
                        <input message="oaws:AcknowledgeRecoverWIP"/>
                </operation>
                <operation name="ShowRecoverWIP">
                        <input message="oaws:ShowRecoverWIP"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncRecoverWIPPortType">
                <operation name="GetRecoverWIP">
                        <input message="oaws:GetRecoverWIP"/>
                        <output message="oaws:ShowRecoverWIP"/>
                </operation>
                <operation name="ProcessRecoverWIP">
                        <input message="oaws:ProcessRecoverWIP"/>
                        <output message="oaws:AcknowledgeRecoverWIP"/>
                </operation>
        </portType>
        <binding name="RequestRecoverWIPBinding" type="oaws:RequestRecoverWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseRecoverWIPBinding" type="oaws:ResponseRecoverWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncRecoverWIPBinding" type="oaws:SyncRecoverWIPPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="GetRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ProcessRecoverWIP">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/RecoverWIP.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestRecoverWIPService">
                <port name="RequestRecoverWIPBinding" binding="oaws:RequestRecoverWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestRecoverWIP"/>
                </port>
        </service>
        <service name="ResponseRecoverWIPService">
                <port name="ResponseRecoverWIPBinding" binding="oaws:ResponseRecoverWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseRecoverWIP"/>
                </port>
        </service>
        <service name="SyncRecoverWIPService">
                <port name="SyncRecoverWIPBinding" binding="oaws:SyncRecoverWIPBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncRecoverWIP"/>
                </port>
        </service>
</definitions>
