JDEV10G/Dhami3/Update_MDMRecords_BPELProcess/MDMSchemas/OAGIS/9_2/References/ws/wsdl/SalesLead.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--

    ** OAGIS® Revision:    9.2 **
    ** Date:               01 February 2008 **
    ** Copyright 1997-2008, All Rights Reserved **

    OAGIS Example WSDL to be used with OAGIS 9.2 
    
    For more information about the Open Applications Group please see 
    www.openapplicaitons.org
     
    
     WSDL Example
     
    Name: /OAGIS/9_2/References/ws/wsdl/SalesLead.wsdl
-->
		
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oaws="http://www.openapplications.org/oagis/9/ws" targetNamespace="http://www.openapplications.org/oagis/9/ws">
        <types>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9/ws">
                        <xs:include schemaLocation="../xsd/MessageResponse.xsd"/>
                </xs:schema>
                <xs:schema elementFormDefault="qualified" targetNamespace="http://www.openapplications.org/oagis/9">
                        <xs:include schemaLocation="../../../BODs/Developer/AcknowledgeSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ChangeSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/GetSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ProcessSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/RespondSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ShowSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/SyncSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/NotifySalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/UpdateSalesLead.xsd"/>
                        <xs:include schemaLocation="../../../BODs/Developer/ConfirmBOD.xsd"/>
                </xs:schema>
        </types>
        <message name="AcknowledgeSalesLead">
                <part name="Message" element="oa:AcknowledgeSalesLead"/>
        </message>
        <message name="ChangeSalesLead">
                <part name="Message" element="oa:ChangeSalesLead"/>
        </message>
        <message name="GetSalesLead">
                <part name="Message" element="oa:GetSalesLead"/>
        </message>
        <message name="ProcessSalesLead">
                <part name="Message" element="oa:ProcessSalesLead"/>
        </message>
        <message name="RespondSalesLead">
                <part name="Message" element="oa:RespondSalesLead"/>
        </message>
        <message name="ShowSalesLead">
                <part name="Message" element="oa:ShowSalesLead"/>
        </message>
        <message name="SyncSalesLead">
                <part name="Message" element="oa:SyncSalesLead"/>
        </message>
        <message name="NotifySalesLead">
                <part name="Message" element="oa:NotifySalesLead"/>
        </message>
        <message name="UpdateSalesLead">
                <part name="Message" element="oa:UpdateSalesLead"/>
        </message>
        <message name="ConfirmBOD">
                <part name="Message" element="oa:ConfirmBOD"/>
        </message>
        <message name="MessageResponse">
                <part name="Message" element="oaws:MessageResponse"/>
        </message>
        <portType name="RequestSalesLeadPortType">
                <operation name="ChangeSalesLead">
                        <input message="oaws:ChangeSalesLead"/>
                </operation>
                <operation name="ProcessSalesLead">
                        <input message="oaws:ProcessSalesLead"/>
                </operation>
                <operation name="GetSalesLead">
                        <input message="oaws:GetSalesLead"/>
                </operation>
                <operation name="SyncSalesLead">
                        <input message="oaws:SyncSalesLead"/>
                </operation>
                <operation name="NotifySalesLead">
                        <input message="oaws:NotifySalesLead"/>
                </operation>
                <operation name="UpdateSalesLead">
                        <input message="oaws:UpdateSalesLead"/>
                </operation>
        </portType>
        <portType name="ResponseSalesLeadPortType">
                <operation name="AcknowledgeSalesLead">
                        <input message="oaws:AcknowledgeSalesLead"/>
                </operation>
                <operation name="RespondSalesLead">
                        <input message="oaws:RespondSalesLead"/>
                </operation>
                <operation name="ShowSalesLead">
                        <input message="oaws:ShowSalesLead"/>
                </operation>
                <operation name="ConfirmBOD">
                        <input message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <portType name="SyncSalesLeadPortType">
                <operation name="ProcessSalesLead">
                        <input message="oaws:ProcessSalesLead"/>
                        <output message="oaws:AcknowledgeSalesLead"/>
                </operation>
                <operation name="ChangeSalesLead">
                        <input message="oaws:ChangeSalesLead"/>
                        <output message="oaws:RespondSalesLead"/>
                </operation>
                <operation name="GetSalesLead">
                        <input message="oaws:GetSalesLead"/>
                        <output message="oaws:ShowSalesLead"/>
                </operation>
                <operation name="SyncSalesLead">
                        <input message="oaws:SyncSalesLead"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="NotifySalesLead">
                        <input message="oaws:NotifySalesLead"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
                <operation name="UpdateSalesLead">
                        <input message="oaws:UpdateSalesLead"/>
                        <output message="oaws:ConfirmBOD"/>
                </operation>
        </portType>
        <binding name="RequestSalesLeadBinding" type="oaws:RequestSalesLeadPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ChangeSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ProcessSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="GetSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="SyncSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="NotifySalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="UpdateSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="ResponseSalesLeadBinding" type="oaws:ResponseSalesLeadPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="AcknowledgeSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="RespondSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ShowSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
                <operation name="ConfirmBOD">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                </operation>
        </binding>
        <binding name="SyncSalesLeadBinding" type="oaws:SyncSalesLeadPortType">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="ProcessSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="ChangeSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="GetSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="SyncSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="NotifySalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
                <operation name="UpdateSalesLead">
                        <soap:operation soapAction="http://www.openapplications.org/oagis/9.2/ws/wsdl/SalesLead.wsdl" style="document"/>
                        <input>
                                <soap:body use="literal"/>
                        </input>
                        <output>
                                <soap:body use="literal"/>
                        </output>
                </operation>
        </binding>
        <service name="RequestSalesLeadService">
                <port name="RequestSalesLeadBinding" binding="oaws:RequestSalesLeadBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/RequestSalesLead"/>
                </port>
        </service>
        <service name="ResponseSalesLeadService">
                <port name="ResponseSalesLeadBinding" binding="oaws:ResponseSalesLeadBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/ResponseSalesLead"/>
                </port>
        </service>
        <service name="SyncSalesLeadService">
                <port name="SyncSalesLeadBinding" binding="oaws:SyncSalesLeadBinding">
                        <soap:address location="http://openapplications.org/oagis/9.2/ws/SyncSalesLead"/>
                </port>
        </service>
</definitions>
