JDEV11G/SOAApp/ALESup_MX_ProjectDetails_Sub/ALESup_MX_ProjectDetails_SubImpl.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ALESup_MX_ProjectDetails_SubImpl"
     targetNamespace="http://xmlns.oracle.com/BPO/ALESup_MX_ProjectDetails_Sub/ALESup_MX_ProjectDetails_SubImpl"
     xmlns:ns2="http://www.allete.com/ns/BusinessSupport/Common/alleteInterfaceMetadata/v1"
     xmlns:ns1="http://www.allete.com/ns/Allete/BusinessSupport/Projects/projectWoSvc/V1"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:client="http://xmlns.oracle.com/BPO/ALESup_MX_ProjectDetails_Sub/ALESup_MX_ProjectDetails_SubImpl"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="ALESup_MX_ProjectDetails_SubImpl">
        <plnk:role name="ALESup_MX_ProjectDetails_SubImplProvider" portType="client:ALESup_MX_ProjectDetails_SubImpl"/>
        <plnk:role name="ALESup_MX_ProjectDetails_SubImplRequester" portType="client:ALESup_MX_ProjectDetails_SubImplCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/BPO/ALESup_MX_ProjectDetails_Sub/ALESup_MX_ProjectDetails_SubImpl"
                 schemaLocation="xsd/ALESup_MX_ProjectDetails_SubImpl.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.allete.com/ns/Allete/BusinessSupport/Projects/projectWoSvc/V1"
                 schemaLocation="xsd/projectWoSvc.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.allete.com/ns/BusinessSupport/Common/alleteInterfaceMetadata/v1"
                 schemaLocation="xsd/alleteInterfaceMetadata.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ALESup_MX_ProjectDetails_SubImplRequestMessage">
        <wsdl:part name="payload" element="ns1:projectDetailsCanonical"/>
    </wsdl:message>
    <wsdl:message name="ALESup_MX_ProjectDetails_SubImplResponseMessage">
        <wsdl:part name="payload" element="ns2:InterfaceStatus"/>
    </wsdl:message>
    <wsdl:portType name="ALESup_MX_ProjectDetails_SubImpl">
        <wsdl:operation name="process">
            <wsdl:input message="client:ALESup_MX_ProjectDetails_SubImplRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ALESup_MX_ProjectDetails_SubImplCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ALESup_MX_ProjectDetails_SubImplResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
