JDEV11G/Dhami-SOA/SarahMappings/xsd/Core/CommonEBO/V1/Shipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
** Oracle Corporation  **
** AIA Enterprise Object Library **
** Version: 1.01 **
** Date: Feb 6, 2009 **
 
Copyright (c) 2007, Oracle. All rights reserved
License information for this file is provided in the file 
"Oracle AIA EBO License.txt" that is provided with this package.
 
    XML Schema 
    Name: \EnterpriseObjectsLibrary\Core\CommonEBO\V1\\Shipment.xsd 
 
-->
 
<!-- ====================================================================== -->
<!-- =====      Oracle EBO Shipment EBO Schema Module     ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/EnterpriseObjects/Core/CommonEBO/V1" xmlns:coreshipmentcust="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/CommonEBO/V1" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:corecomcust="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/Common/V2" targetNamespace="http://xmlns.oracle.com/EnterpriseObjects/Core/CommonEBO/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.01.00" > 
<!-- ====================================================================== -->
<!-- ==============  Imports and Includes   =============================== -->
<!-- ====================================================================== -->
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="../../Common/V2/Meta.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="../../Common/V2/CommonComponents.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="../../Common/V2/CodeLists.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="../../Common/V2/DataTypes.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/CommonEBO/V1" schemaLocation="../../Custom/CommonEBO/V1/CustomShipment.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/Common/V2" schemaLocation="../../Custom/Common/V2/CustomCommonComponents.xsd"/>
<!-- ====================================================================== -->
<!-- ==============  Shipment Components ================ -->
<!-- ====================================================================== -->
                      <xsd:element name="Shipment" type="ShipmentType" >
                           <xsd:annotation> 
                                <xsd:documentation> 
A Shipment identifies and describes a specific collection of goods to be transported by a carrier and delivered to one or more business partner destinations.   A Shipment document represents the extent and content of "transportation work" to be done by the carrier.  For transportation efficiency, a shipment document typically consolidates deliveries to multiple destinations within a certain geographic region and may provide carrier routing instructions to each delivery stop.
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                 <xsd:annotation> 
                      <xsd:documentation> 
                           <svcdoc:EBO> 
                                   <svcdoc:Description> 
A Shipment identifies and describes a specific collection of goods to be transported by a carrier and delivered to one or more business partner destinations.   A Shipment document represents the extent and content of "transportation work" to be done by the carrier.  For transportation efficiency, a shipment document typically consolidates deliveries to multiple destinations within a certain geographic region and may provide carrier routing instructions to each delivery stop.
                                   </svcdoc:Description> 
                                   <svcdoc:Type>EBO</svcdoc:Type> 
                                   <svcdoc:Industry/> 
                           </svcdoc:EBO> 
                      </xsd:documentation> 
                 </xsd:annotation> 
            <xsd:complexType name="ShipmentType" >
                 <xsd:sequence>
                      <xsd:element ref="corecom:Identification"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Unique identification of Shipment
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element name="Name" type="corecom:NameType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Name of the shipment
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="Description" type="corecom:TextType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment Description
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ServiceLevelCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
A generic code that specifies a particular type or quality of carrier delivery service to be used for transporting goods.  A generic service level code is often established by shippers to consolidate various equivalent, but differently named, carrier service levels for comparison when "rate shopping" for the lowest cost transportation provider
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ModeOfTransportationCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Unique identifier for Mode of transportation used
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="DestinationCountryCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Destination Country
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="OriginCountryCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Origin Country
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="IntialPickupDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of initial pickup
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="UltimateDropOffDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of ultimate drop off
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="EarliestPickUpDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of Earliest Pick
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="LatestPickUpDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of latest pickup
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="EarliestDropOffDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of earliest drop off
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="LatestDropOffDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Date of latest drop off
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="PointofStagingCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Code for Point of Staging
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="FOBPointCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Code for FOB Point
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="PointOfLoadingCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Code for Point Of Loading
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="DockCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Customer Dock Code
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="RoutingInstruction" type="corecom:TextType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Instruction about Routing
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ShipmentInstruction" type="corecom:TextType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Instructions about Shipping
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="FreightTermCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Freight Terms
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="TotalFreightAmount" type="corecom:AmountType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Total Freight Amount
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="VehicleNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Vehicle Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="PackingSlipNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Packing Slip Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="WaybillNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Waybill Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="GrossWeight" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment Gross Weight
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="NetWeight" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment net weight
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="TareWeight" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment Tare weight
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ShipmentVolume" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment Volume
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ShipUnitQuantity" type="corecom:QuantityType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Total Shipment Unit Count
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="HazardousMaterialIndicator" type="corecom:IndicatorType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Indicates if the shipment is Hazardous
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element ref="corecom:Status"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Indicates manifest request cancellation status - whether Accepted or Rejected
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="corecom:ShipFromPartyReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Reference to Ship From Party
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="corecom:ShipToPartyReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Reference to Ship To Party
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="corecom:CarrierPartyReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Carrier Party that is transporting the shipment Plan
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="ShipmentItem"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Defines/holds the attributes of a unpacked item or items within a container. For e.g. an item is packed in a container or loose item.
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="ShipmentCharge"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Defines/holds the attributes of charges for a Shipment or Unit or Container or Line in ASN. For example, charges belongs to the Shipment such as Freight Charge, Handling Charges, etc.
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                     <xsd:element name="Custom" type="coreshipmentcust:CustomShipmentType" minOccurs="0"/>
                 </xsd:sequence>
            </xsd:complexType>
                      <xsd:element name="ShipmentCharge" type="ShipmentChargeType" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Defines/holds the attributes of charges for a Shipment or Unit or Container or Line in ASN. For example, charges belongs to the Shipment such as Freight Charge, Handling Charges, etc.
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
            <xsd:complexType name="ShipmentChargeType" >
                 <xsd:sequence>
                      <xsd:element ref="corecom:Identification"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Unique identification of a Shipment Charge.
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                     <xsd:element ref="corecom:Charge"  minOccurs="0" />
                     <xsd:element name="Custom" type="coreshipmentcust:CustomShipmentChargeType" minOccurs="0"/>
                 </xsd:sequence>
                 <xsd:attribute name="actionCode" type="corecom:ActionCodeType" use="optional"/>
            </xsd:complexType>
                      <xsd:element name="ShipmentItem" type="ShipmentItemType" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Defines/holds the attributes of a unpacked item or items within a container. For e.g. an item is packed in a container or loose item.
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
            <xsd:complexType name="ShipmentItemType" >
                 <xsd:sequence>
                      <xsd:element name="Name" type="corecom:NameType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Item Name
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="Description" type="corecom:TextType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Description of the Container
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ItemLotNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Item Lot (only for lot ontrolled items)
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="OrderedQuantity" type="corecom:QuantityType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Ordered Quantity
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ShippedQuantity" type="corecom:QuantityType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Quantity Shipped
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="BackorderedQuantity" type="corecom:QuantityType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Backordered Quantity
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="CanceledQuantity" type="corecom:QuantityType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Canceled Quantity 
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ItemNetWeight" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Item Net Weight
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ItemVolume" type="corecom:MeasureType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Volume of the Item
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="HazardClassCode" type="corecom:CodeType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Hazard Class
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="RequestedDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Requested Date
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="PromisedDate" type="corecom:DateType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Promised Date
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="ContainerSealNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Container Seal Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="TrackingID" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Tracking ID
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="PackingInstruction" type="corecom:TextType"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Packing Instruction
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="EndingSerialNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Ending Serial Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element name="StartingSerialNumber" type="corecom:IdentifierType"  minOccurs="0" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Starting Serial Number
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
                      <xsd:element ref="corecom:SalesOrderReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Reference to a Sales Order
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="corecom:ItemReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Reference to the item that's being transported
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="corecom:PurchaseOrderReference"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Reference to a Purchase Order
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                      <xsd:element ref="ShipmentItemCharge"  minOccurs="0" maxOccurs="unbounded" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Shipment Charge at (unpacked) Line level         
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                     <xsd:element name="Custom" type="coreshipmentcust:CustomShipmentItemType" minOccurs="0"/>
                 </xsd:sequence>
                 <xsd:attribute name="actionCode" type="corecom:ActionCodeType" use="optional"/>
            </xsd:complexType>
                      <xsd:element name="ShipmentItemCharge" type="ShipmentItemChargeType" >
                           <xsd:annotation> 
                                <xsd:documentation> 
Shipment Charge at (unpacked) Line level         
                                </xsd:documentation> 
                           </xsd:annotation> 
                     </xsd:element> 
            <xsd:complexType name="ShipmentItemChargeType" >
                 <xsd:sequence>
                      <xsd:element ref="corecom:Identification"  minOccurs="0" >
                           <xsd:annotation> 
                               <xsd:documentation> 
Unique identification of a Shipment Item Charge.
                               </xsd:documentation> 
                           </xsd:annotation> 
                      </xsd:element> 
                     <xsd:element ref="corecom:Charge"  minOccurs="0" />
                     <xsd:element name="Custom" type="coreshipmentcust:CustomShipmentItemChargeType" minOccurs="0"/>
                 </xsd:sequence>
                 <xsd:attribute name="actionCode" type="corecom:ActionCodeType" use="optional"/>
            </xsd:complexType>
</xsd:schema>
